<template>
  <card :title="$t('economics_movs')" :color="'#e33026'" style="margin-top:9%;">
    <el-tabs :tab-position="tabPosition" v-model="step">

      <!-- first tab form -->
      <el-tab-pane v-if="true" name="1" :label="$t('transaction')" :disabled="disableTab('1')">
        <el-form :model="modelForm" :rules="rulesForm" :status-icon="true" ref="modelForm1" label-position="top"
          label-width="120px">
          <!-- {{Transaction}} -->
          <el-row type="flex" justify="space-between">
            <el-col :span="11">
              <el-form-item :label="$t('type_of_operation')" prop="operacion">
                <el-select v-model="modelForm.operacion" clearable :placeholder="$t('select')">
                  <el-option v-for="(item,key) in typeOperations" :key="key" :label="item.label" :value="item.value">
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="11">
              <el-form-item label="Concepto" prop="id_concept">
                <el-select v-model="modelForm.id_concept" clearable filterable :placeholder="$t('select')">
                  <el-option v-for="(item,key) in Concepts" :key="key"
                    v-if="item.operacion==modelForm.operacion && (item.role=='PUBLIC' || $role($toLowerCase(item.role)))"
                    :label="item.nombre" :value="item.id">
                  </el-option>
                </el-select>
              </el-form-item>

            </el-col>
          </el-row>
          <el-row v-if="modelForm.id_concept == 11" type="flex" justify="space-around" align="middle">
            <el-col :span="24">
              <el-row>
                <el-form-item label="Eventos Finalizados." prop="id_event_finalized">
                  <el-radio-group v-model="modelForm.id_event_finalized">
                    <el-radio v-for="(event,index,key) in EventsRadios" :key="key" :label="event.id"> {{event.nombre}}
                    </el-radio>
                  </el-radio-group>

                </el-form-item>
              </el-row>

              <el-row>
                <el-form-item>
                  <el-checkbox-group v-model="modelForm.checkGastos2">
                    <el-checkbox v-for="(opEvent,index,key) in eventCostOptions" :label="opEvent" :key="key">
                    </el-checkbox>
                  </el-checkbox-group>
                </el-form-item>
                
              </el-row>
              <el-row type="flex" justify="center" :gutter="20" align="middle">
                <el-col :span="4" v-for="(n,index,key) in modelForm.checkGastos" :key="key">
                  <el-form-item :label="n.campo" class="text-center">
                    <el-input @blur="sumatoriaGastos()" v-model="n.monto"></el-input>
                  </el-form-item>
                </el-col>
              </el-row>
            </el-col>
          </el-row>

          <el-row v-if="modelForm.id_concept==13">

            <el-col :span="24">
              <el-row class="mb-3">
                <el-col :span="24">
                  <el-row type="flex" justify="start">
                    <el-select v-model="modelForm.id_emprendiment" clearable filterable :placeholder="$t('select')">
                      <el-option v-for="(item,index,key) in Payments" :key="key" :label="item.nombre" :value="item.id">
                      </el-option>
                    </el-select>

                  </el-row>
                </el-col>
                <!-- <el-col :span="12" v-if="false">
                  <el-row type="flex" justify="end">
                    <el-button @click.prevent="agregarMes" type="primary" plain size="medium">Añadir mes</el-button>
                    <el-button @click.prevent="quitarMes" type="danger" plain size="medium">Quitar mes</el-button>    
                  </el-row>
                </el-col> -->

              </el-row>
              <el-row>
                <el-col :span="24">
                  <h6 class="text-center"><u>Meses pagos</u></h6>
                </el-col>
                <el-col :span="6" v-for="(mes,index,key) in MesesPagos" :key="key" class="mt-3">
                  <div class="text-center">
                    <span><strong>{{mes.mes}}</strong></span>
                  </div>


                </el-col>
                <el-col :span="24" class="mt-3">
                  <el-row>
                    <h6 class="text-center"><u>Meses faltantes</u></h6>
                  </el-row>
                  <el-row>

                    <el-col :span="6" v-for="(mes,index,key) in modelForm.Meses" :key="key">
                      <!-- <el-input @change="mesesMayuscula" v-model="mes.mes" placeholder="Mes"></el-input> -->
                      <div class="text-center mt-3">
                        <span><strong>{{mes.mes}}</strong></span>
                      </div>

                      <el-input-number style="width:100% !important; " :controls="false" @change="calculoMonto"
                        v-model="mes.monto" placeholder="Monto"></el-input-number>


                    </el-col>
                  </el-row>

                </el-col>


              </el-row>
            </el-col>
          </el-row>

          <el-row type="flex" justify="space-between">
            <el-col :span="11">
              <el-form-item label="Fecha" prop="fecha">
                <el-date-picker v-model="modelForm.fecha" format="dd/MM/yyyy" value-format="dd/MM/yyyy" type="date"
                  placeholder="Pick a day">
                </el-date-picker>
              </el-form-item>
            </el-col>
            <el-col :span="11">
              <el-form-item label="Monto" prop="monto">
                <!-- <el-input v-model.number="modelForm.monto" :disabled="modelForm.id_concept==13" placeholder="monto"></el-input> -->
                <el-input-number :controls="false" v-model="modelForm.monto"
                  :disabled="modelForm.id_concept==13 || modelForm.id_concept==11 " placeholder="monto">
                </el-input-number>
              </el-form-item>
            </el-col>
          </el-row>

          <el-form-item label="Descripcion" prop="descripcion">
            <el-input minlength="4" maxlength="400" show-word-limit :rows="7" v-model="modelForm.descripcion"
              type="textarea" placeholder="descripcion"></el-input>
          </el-form-item>

          <el-row type="flex" justify="space-between">
            <el-button size="medium" type="danger" round @click="$cancelForm()">{{ $t('cancel') }}</el-button>

            <el-button size="medium" type="primary" round @click="submitForm('modelForm1')">{{ $t('continue') }}
            </el-button>
          </el-row>

        </el-form>
      </el-tab-pane>

      <!-- final tab form -->
      <el-tab-pane v-if="false" name="2" :label="$t('review')" :disabled="disableTab('2')">
        <el-row type="flex" justify="space-between">
          <el-button size="medium" type="danger" round @click="$cancelForm()">{{ $t('cancel') }}</el-button>

          <div>
            <el-button size="medium" type="default" round @click="step=$backForm(step)">{{ $t('back') }}</el-button>

            <el-button size="medium" type="primary" round @click="submitForm('modelForm4')">{{ $t('save') }}</el-button>
          </div>
        </el-row>
      </el-tab-pane>
    </el-tabs>

  </card>
</template>

<style scoped>
  .img_list_emprend {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .card-header {
    background-color: #c62828;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center !important;
    font-size: 20px;
    height: 100%;
  }
</style>

<script>
  import {
    mapGetters,
    mapActions
  } from 'vuex';

  export default {
    middleware: 'auth',

    components: {

    },

    metaInfo() {
      return {
        title: this.$t('economics_movs')
      }
    },

    computed: {
      EventsRadios(){
        let EventoEvents=[],counter=0,context=this;
        if (this.$route.params.id_event) {

          this.FinalizedEvents.forEach( function(element, index) {
            if(element.id==parseInt(context.$route.params.id_event)){
              EventoEvents[counter]=element;
            }
          });
          
        } else {
          if (!(this.$route.params.id)) {
            this.FinalizedEvents.forEach( function(element, index) {
              if(element.gastos==null){
                EventoEvents[counter]=element;
                counter++;
              }
            });
            
          }
          else{
            this.FinalizedEvents.forEach( function(element, index) {
              if(element.id==parseInt(context.Transaction[0].event_data[0].id_event)){
                EventoEvents[counter]=element;
              }
            });
          }
        }
        console.log("EVENTOS: ",EventoEvents);
        return EventoEvents;
      },

      ...mapGetters({
        Concepts: 'transactions/concepts',
        Payments: 'payments/payments',
        MesesPagos: 'payments/meses_pagos',
        Transaction: 'transactions/transaction',
        FinalizedEvents: 'events/finalized_events',
      }),
      changeEmprend() {
        return this.modelForm.id_emprendiment;
      }
    },

    data() {
      return {
        context: this,
        flagEvents: false,
        checkAll: false,
        isIndeterminate: false,
        fit: 'cover',
        eventCostOptions: ['LOGISTICA', 'FESTEJO', 'LOCAL', 'SONIDO', 'OTROS'],
        newDateTime: new Date(2016, 9, 10, 18, 40),
        newDate: '01/01/2019',
        newTime: '09:09:09',
        limitImage: 1,
        urlUpload: 'http://localhost:8000/api/image/upload',

        dialogImageUrl: '',
        dialogVisible: false,

        tabPosition: 'right', // top right
        step: '1',
        modelForm: {
          fecha: this.newDateTime,
          operacion: '',
          id_concept: '',
          monto: 0,
          descripcion: '',
          Meses: [],
          id_emprendiment: null,
          id_event_finalized: null,
          checkGastos: [],
          checkGastos2: [],
        },

        pickerOptions: {
          start: '00:00',
          step: '00:01',
          end: '23:59',
          //minTime: this.modelForm.hora_inicio,
          selectableRange: '00:00:00 - 23:59:59'
        },

        typeOperations: [{
            value: 'ENTRADA',
            label: 'Ingreso'
          },
          {
            value: 'SALIDA',
            label: 'Egreso'
          }
        ],

      }
    },
    watch: {
      Transaction: function () {
        let context=this;
        this.modelForm.fecha = this.Transaction[0].fecha;
        this.modelForm.monto = this.Transaction[0].monto;
        this.modelForm.descripcion = this.Transaction[0].descripcion;

        for (var i = 0; i < this.Concepts.length; i++) {

          if (this.Concepts[i].id == this.Transaction[0].id_concept) {
            /*console.log("concepto", this.Concepts[i].nombre);
            console.log("operacion", this.Concepts[i].operacion);*/

            this.modelForm.id_concept = this.Concepts[i].id;
            this.modelForm.operacion = this.Concepts[i].operacion;
          }
        }

        if((this.$route.params.id) && (this.modelForm.id_concept==11)){
          this.Transaction[0].event_data.forEach( function(element, index) {
            context.modelForm.checkGastos2.push(element.tipo);
          });
          
        }

      },
      'modelForm.checkGastos2': function () {
        // let sumatoria = 0;
        let aux = this.modelForm.checkGastos;
        this.modelForm.checkGastos = [];

        for (let i = 0; i < this.modelForm.checkGastos2.length; i++) {
          this.modelForm.checkGastos.push({
            monto: 0,
            campo: this.modelForm.checkGastos2[i]
          });
        }
        if(this.Transaction[0].event_data && (!this.flagEvents)){
          let context=this;
          this.modelForm.id_event_finalized=parseInt(this.Transaction[0].event_data[0].id_event);
          this.Transaction[0].event_data.forEach( function(element, index) {
            context.modelForm.checkGastos[index].monto=element.monto
          });
          this.flagEvents=true;
        }
        for (let index = 0; index < aux.length; index++) {
          for (let i = 0; i < this.modelForm.checkGastos.length; i++) {
            if (aux[index].campo == this.modelForm.checkGastos[index].campo) {
              this.modelForm.checkGastos[index].monto = aux[index].monto;
            }

          }

        }
        this.sumatoriaGastos();
        // for (let index = 0; index < this.modelForm.checkGastos.length; index++) {
        //   sumatoria += parseInt(this.modelForm.checkGastos[index].monto);
        // }
        
        // this.modelForm.monto = sumatoria;
      },
      'modelForm.id_concept': function () {
        if (this.$route.params.id_event) {
          if (this.modelForm.id_concept == 11)
            this.modelForm.id_event_finalized = parseInt(this.$route.params.id_event);
          this.FetchFinalizedEvents;
        } else {
          if (this.modelForm.id_concept != 11) {
            this.modelForm.id_event_finalized = null;
            this.modelForm.checkGastos = [];
            this.modelForm.checkGastos2 = [];
            this.FetchFinalizedEvents = null;
          } else {
            this.FetchFinalizedEvents;
            if(!this.Transaction[0].event_data)
              this.modelForm.id_event_finalized = this.FinalizedEvents[0].id;
            
          }
        }
      },
      FinalizedEvents: function () {

      },
      changeEmprend: function () {
        this.FetchMesesPagos([this.modelForm.id_emprendiment]);
        this.modelForm.Meses = [];
        this.modelForm.monto = 0;
      },
      MesesPagos: function () {
        let meses = [
          "ENERO",
          "FEBRERO",
          "MARZO",
          "ABRIL",
          "MAYO",
          "JUNIO",
          "JULIO",
          "AGOSTO",
          "SEPTIEMBRE",
          "OCTUBRE",
          "NOVIEMBRE",
          "DICIEMBRE",
        ];

        for (let i = 0; i < this.MesesPagos.length; i++) {
          /*console.log("MESEPAGO: ", this.MesesPagos[i].mes);*/
          for (let j = 0; j < meses.length; j++) {


            if (this.MesesPagos[i].mes == meses[j]) {
              meses.splice(j, 1);
              break;
            }
          }
        }

        for (let i = 0; i < meses.length; i++) {
          this.modelForm.Meses.push({
            mes: meses[i],
            monto: null,
          });
        }


      }

    },

    mounted() {
      this.FetchConcepts();

      this.editTransacion();

      this.FetchPayments();

      this.FetchFinalizedEvents();

      if (this.$route.params.id_event) {
        this.modelForm.operacion = "SALIDA";
        this.modelForm.id_concept = 11;
        this.modelForm.id_event_finalized = parseInt(this.$route.params.id_event);
      }

      /*this.FetchTransaction();*/
    },

    methods: {
      ...mapActions({
        CreateTransaction: 'transactions/createTransaction',

        FetchConcepts: 'transactions/fetchConcepts',

        FetchTransaction: 'transactions/fetchTransaction',

        UpdateTransaction: 'transactions/updateTransaction',
        FetchPayments: 'payments/fetchPayments',

        FetchMesesPagos: 'payments/fetchMesesPagos',
        FetchFinalizedEvents: 'events/fetchFinalizedEvents',
      }),
      sumatoriaGastos(){
        let sumatoria=0;
         for (let index = 0; index < this.modelForm.checkGastos.length; index++) {
          sumatoria += parseInt(this.modelForm.checkGastos[index].monto);
        }
        
        this.modelForm.monto = sumatoria;
      },
      /*agregarMes(){
        
        let max=12-this.MesesPagos.length;

        if(this.modelForm.Meses.length<max){
          this.modelForm.Meses.push({
            mes:'',
            monto:0,
          });
          
        }
      },
      quitarMes(){
        
        if(this.MesesPagos.length>0){
          this.modelForm.Meses.splice((this.modelForm.Meses.length-1),1) ;
          
        }
        
        
      },*/
      calculoMonto() {
        let context = this,
          acumulador = 0;
        this.modelForm.Meses.forEach(function (element, index) {
          acumulador += element.monto;
        });
        this.modelForm.monto = acumulador;

      },
      mesesMayuscula() {
        let context = this;
        this.modelForm.Meses.forEach(function (element, index) {
          element.mes = element.mes.toUpperCase();
        });

      },
      alertas(item) {

        return true;
      },

      disableTab(tab) {
        if (this.step == tab) {
          return false;
        } else {
          return true;
        }
      },

      handleCheckAllChange(val) {
        this.modelForm.invitados = val ? this.UsersIds : [];
        this.isIndeterminate = false;
      },

      handleCheckedChange(value) {
        let checkedCount = value.length;
        if (this.UsersIds != null) {
          this.checkAll = checkedCount === this.UsersIds.length;
          this.isIndeterminate = checkedCount > 0 && checkedCount < this.UsersIds.length;
        }
      },

      submitForm(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            if (this.$route.params.id == null) {
              this.$confirm(this.$t('confirm_submit'), this.$t('tittle_alert'), {
                confirmButtonText: this.$t('Si'),
                cancelButtonText: this.$t('No'),
                type: 'warning'
              }).then(() => {
                this.CreateTransaction([this, this.modelForm]);
              });

            } else {
              this.$confirm(this.$t('confirm_submit'), this.$t('tittle_alert'), {
                confirmButtonText: this.$t('Si'),
                cancelButtonText: this.$t('No'),
                type: 'warning'
              }).then(() => {
                this.UpdateTransaction([this, this.modelForm]);
              });
            }
          } else {
            console.log('Error al enviar el formulario!!');
            this.$alerta('warning', this.$t('form_error'));
            return false;
          }
        });
      },

      resetForm(formName) {
        this.$refs[formName].resetFields();
      },

      handleRemove(file, fileList) {
        this.modelForm.images = fileList.slice(-this.limitImage)
      },

      handleChange(file, fileList) {
        this.modelForm.images = fileList.slice(-this.limitImage)
      },

      editTransacion() {
        if (this.$route.params.id != null) {

          this.FetchTransaction([this.$route.params.id]);
        }
      }

    },

  };
</script>