<template>
  <card :title="$t('economics_movs')" :color="'#e33026'" :module="$attrs.module" :link="false" style="margin-top:9%;">

    <el-button type="primary" size="medium" round @click="$router.push({path: $attrs.module+'/form'})">
      {{ $t('add_new') }} </el-button>

    <el-tabs :tab-position="tabPosition" stretch v-model="step">

      <!-- first tab form -->
      <el-tab-pane v-if="true" name="1" :label="$t('transactions')">

        <DataTable :tableData="tableData[currentPage-1]" :tableFields="fields" :module="$attrs.module"
          :type="typeButtons" />

        <el-row class="clear-fix">
          <!-- paso1 -->
          <div class="block">
            <span class="demonstration"></span>
            <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
              :current-page.sync="currentPage" :page-sizes="[5, 10, 20, 50]" :page-size="paginate" :pager-count="11"
              layout="sizes, prev, pager, next" :total="Transactions!=null?Transactions.length:1">
            </el-pagination>
          </div>
        </el-row>

      </el-tab-pane>

      <!-- final tab form -->
      <el-tab-pane v-if="$role('admin')" name="2" :label="$t('payments')">

        <el-table v-if="Emprendiments.length>0" :data="Payments" style="width: 100%;"
          :cell-class-name="tableCellClassName" :row-class-name="tableRowClassName">

          <el-table-column fixed prop="nombre" :label="$t('emprendimient')" width="150">
          </el-table-column>

          <el-table-column v-for="(item,index,key) in meses" :key="index" :prop="item" :class="item" :label="$t(item)"
            width="120">
          </el-table-column>

        </el-table>

      </el-tab-pane>

    </el-tabs>
  </card>
</template>

<script>
  import {
    mapGetters,
    mapActions
  } from 'vuex';

  export default {
    middleware: 'auth',

    metaInfo() {
      return {
        title: this.$t(this.$attrs.module)
      };
    },

    computed: mapGetters({
      Transactions: 'transactions/transactions',

      Emprendiments: 'emprendiments/emprendiments',

      Payments: 'payments/payments',
    }),

    data() {
      return {
        newDateTime: new Date(2016, 9, 10, 18, 40),

        totalPaginate: 1, //<!-- paso7-->
        currentPage: 1, //<!-- paso8-->
        paginate: 5, //<!-- paso9-->
        tableData: [], //<!-- paso10-->

        tabPosition: 'top', // top right
        step: '1',

        meses: [
          "ENERO",
          "FEBRERO",
          "MARZO",
          "ABRIL",
          "MAYO",
          "JUNIO",
          "JULIO",
          "AGOSTO",
          "SEPTIEMBRE",
          "OCTUBRE",
          "NOVIEMBRE",
          "DICIEMBRE",
        ],

        fields: [{
            prop: 'fecha',
            label: 'fecha',
            colum: true
          },
          {
            prop: 'monto',
            label: 'Monto',
            colum: true
          },
          {
            prop: 'saldo',
            label: 'Saldo',
            colum: true
          },
        ],

        typeButtons: [{
            tipo: 'view',
            role: ['super', 'admin', 'emprend']
          },
          {
            tipo: 'edit',
            role: ['super', 'admin', 'emprend']
          },
          {
            tipo: 'delete',
            role: ['super', 'admin', 'emprend']
          },
        ],
      }
    },

    async mounted() {
      await this.FetchTransactions();
      setTimeout(() => {
        if (this.tableData.length == 0) {
          this.openModalFirstPayment();
        }
      }, 1000);
      this.FetchEmprendiments();
      this.FetchPayments();
      this.$paginate(this.Transactions, this.paginate, this.totalPaginate, this); //<!-- paso6-->
    },

    methods: {
      ...mapActions({
        CreateTransaction: 'transactions/createTransaction',

        FetchTransactions: 'transactions/fetchTransactions',

        FetchEmprendiments: 'emprendiments/fetchEmprendiments',

        FetchPayments: 'payments/fetchPayments',
      }),

      openModalFirstPayment() {
        this.$prompt('Please input your e-mail', 'Ingrese su saldo inicial.', {
          confirmButtonText: 'Guardar',
          cancelButtonText: 'Cancel',
          showCancelButton: false,
          inputPattern: /[0-9]/,
          /* inputPattern: /[\w!#$%&'*+/=?^_`{|}~-]+(?:\.[\w!#$%&'*+/=?^_`{|}~-]+)*@(?:[\w](?:[\w-]*[\w])?\.)+[\w](?:[\w-]*[\w])?/, */
          inputErrorMessage: 'Por favor verifique los datos introducidos.'
        })
        .then(({value}) => {
          /* aqui va el action que guarda el saldo inicial */
          this.CreateTransaction([this, {
            fecha: this.newDateTime,
            operacion: "ENTRADA",
            id_concept: 1,
            monto: value,
            descripcion: 'Saldo Inicial',
            Meses: [],
            id_emprendiment: null,
            id_event_finalized: null,
            checkGastos: [],
            checkGastos2: [],
          }]);
        })
        .catch(() => {
          this.$message({
            type: 'info',
            message: 'Esta informacion es obligatoria!'
          });
          this.openModalFirstPayment();
        });
      },

      handleSizeChange(val) { //<!-- paso2 -->
        console.log(`${val} items per page`);
        this.paginate = val;
        this.$paginate(this.Transactions, this.paginate, this.totalPaginate, this);
      },

      handleCurrentChange(val) { //<!-- paso3 -->
        console.log(`current page: ${val}`);
        this.currentPage = val;
      },

      handleClick() {
        console.log('click');
      },

      tableRowClassName({
        row,
        rowIndex
      }) {
        //console.log('row elements: ',row,' - ',rowIndex);
        if (row.id_user == 2) {
          return 'warning-row'; //'warning-row','success-row'
        } else {
          return '';
        }
      },

      tableCellClassName({
        row,
        column,
        rowIndex,
        columnIndex
      }) {
        /*console.log('col elements: ',row,' - ',column,' - ',rowIndex,' - ',columnIndex);*/
        var date = new Date();

        if (column.label == this.$t(this.meses[date.getMonth()])) {
          return 'success-row';
        } else if (date.getMonth() < columnIndex) {
          return 'waith-row';
        } else if (date.getMonth() >= columnIndex && false) {
          return 'warning-row';
        } else {
          return '';
        }
      },
    }


  };
</script>

<style scoped>
  .el-table .warning-row {
    background: oldlace !important;
  }

  .el-table .success-row {
    background: #f0f9eb;
  }

  .el-table .waith-row {
    background: #ffffff;
  }

  .card-header {
    background-color: #E6A23C;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center !important;
    font-size: 20px;
    height: 100%;
  }
</style>