<template>
  <card :title="$t('economics_movs')" :color="'#e33026'" style="margin-top:9%;">
    <div class="row mt-1 mb-2">
      <div class="col-sm-3">
        <label for="">Fecha: </label>
      </div>
      <div class="col">
        {{Transaction[0].fecha}}
      </div>
    </div>
    <div class="row mt-1 mb-2">
      <div class="col-sm-3">
        <label for="">Tipo de operación: </label>
      </div>
      <div v-for="item in Concepts" >
        <div v-if="(item.id==Transaction[0].id_concept) && (item.operacion == 'ENTRADA') " class="col">
          Entrada
        </div>
        <div v-if="(item.id==Transaction[0].id_concept) && (item.operacion == 'SALIDA') " class="col">
          Salida
        </div>
        
      </div>
    </div>
    <div class="row mt-1 mb-2">
      <div class="col-sm-3">
        <label for="">Concepto: </label>
      </div>
      <div v-for="item in Concepts">
        <div v-if="item.id==Transaction[0].id_concept" class="col">
          {{item.nombre}}
        </div>        
      </div>
    </div>
    <div class="row mt-1 mb-2">
      <div class="col-sm-3">
        <label for="">Monto: </label>
      </div>
      <div class="col">
        {{Transaction[0].monto}}
      </div>
    </div>
    <div class="row mt-1 mb-2">
      <div class="col-sm-3">
        <label for="">Descripción: </label>
      </div>
      <div class="col">
        {{Transaction[0].descripcion}}
      </div>
    </div>
  </card>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
  middleware: 'auth',

  metaInfo () {
    return { title: this.$t('transactions') }
  },

  computed: mapGetters({
    Transaction: 'transactions/transaction',

    Concepts: 'transactions/concepts',
  }),

  data(){
  	return {
		}
  },

  mounted() {
    this.FetchTransaction([this.$route.params.id]);

    this.FetchConcepts();
    
  },

  methods:{
  	...mapActions({
	  	FetchTransaction: 'transactions/fetchTransaction',

      FetchConcepts: 'transactions/fetchConcepts',

	  }),

  	
  }
};
</script>

<style lang="css">
  .card-header{
    background-color: #EA7223;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center!important;
    font-size: 20px;
    height: 100%;
  }
</style>