<template>
  <div class="container-fluid" id="MainCardForum">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <card :title="$t('forum')" :color="'#333333'">

          <div class="col-md-12 col-md-offset-2">
            <div class="panel panel-default">
              <div class="panel-heading"></div>

              <ChatMessages v-on:messagedelete="deleteMessage" :messages="messages" class="panel-body" />

              <div class="panel-footer">
                <ChatForm v-on:messagesent="addMessage" :userName="$user()" :cant="(messages.length - 1)" />
              </div>
            </div>
          </div>

        </card>
      </div>
    </div>
  </div>

</template>

<script>
  import {
    mapGetters,
    mapActions
  } from 'vuex';
  import axios from 'axios';

  export default {
    middleware: 'auth',

    metaInfo() {
      return {
        title: this.$t(this.$attrs.module)
      };
    },

    data() {
      return {
        messages: []
      }
    },

    created() {
      this.fetchMessages();

      Echo.private('chat')
        .listen('MessageSent', (e) => {
          this.messages.push({
            message: e.message.message,
            user: e.userName
          });
        });
    },

    methods: {
      fetchMessages() {
        axios.get('/api/messages').then(response => {
          this.messages = response.data;
        });
      },

      async addMessage(message) {
        this.messages.push(message);

        axios.post('/api/messages', message).then(response => {
          console.log(response.data);
        });

        //this.scrollToBottom('#messages');
      },

      async deleteMessage(message) {
        await axios.delete(`/api/messages/${message.idMessage}`).then(response => {
          console.log(response.data);
        });

        this.fetchMessages();
      },

      scrollToBottom(elemento) {
        //var container = this.$el.querySelector(elemento);
        var container = $(elemento);
        container[0].scrollTop = container[0].scrollHeight;
        //container.scrollTop = container.clientHeight;

        //$(elemento).animate({ scrollTop: $(this).prop("scrollHeight")}, 1000);
        console.log('scroll: ', container);
      },
    },

  };
</script>

<style scoped>
  #MainCardForum {
    margin-top: 10%;
  }

  .chat {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow-y: auto;
  }

  .chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
  }

  .chat li .chat-body p {
    margin: 0;
    color: #777777;
  }

  #btn-chat {
    height: 100%;
  }

  .time-message {
    opacity: .5;
    font-size: .7rem;
  }

  .panel-body {
    /*overflow-y: scroll;*/
    height: 350px;
  }

  @media(max-width: 768px) {
    #MainCardForum {
      margin-top: 25%;
    }
  }

  /*
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
  }

  ::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
  }

  ::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
  }
*/
</style>