<template>
  <div class="container-fluid" id="NotificationsHome">
    <div class="row ">
      <div class="col-12">
        <card :title="$t('notifications')" :color="'#333333'">
          <el-tabs :tab-position="tabPosition" stretch v-model="step">

            <el-tab-pane v-if="$role(type.role)" v-for="(type,index,key) in typesNotifications"
              :name="$sumsIndex(index)" :key="key" :label="type.name">
              <span slot="label">
                <fa v-if="type.filter!=null" :icon="type.icon" />
                {{type.name}}
              </span>
              <div class="list-group">

                <ul class="list-group list-group-flush">
                  <!--
                  <a href="#" class="pointer-class-row text-decoration-none">
                  -->
                  <li v-for="(item,indice,clave) in Notifications" :key="key"
                    v-if="conditionFor(type.filter, item.tipo)" @click="redirectNotify(item)"
                    class="list-group-item list-group-item-action pointer-class-row media pt-3"
                    :class="{'list-group-item-primary':!item.visto}">

                    <el-row v-if="true">
                      <el-col :span="4">
                        <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32"
                          xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false"
                          role="img" aria-label="Placeholder: 32x32">
                          <title>Placeholder</title>
                          <rect width="100%" height="100%" fill="#007bff" />
                          <text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text>
                        </svg>
                        <fa v-for="(tipo,llave) in typesNotifications" :key="llave" v-if="tipo.filter == item.tipo"
                          :icon="tipo.icon" />
                      </el-col>
                      <el-col :span="20">
                        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                          <strong class="d-block text-gray-dark">
                            <span v-for="(tipo,llave) in typesNotifications" :key="llave"
                              v-if="tipo.filter == item.tipo">{{tipo.mensaje}}</span>
                          </strong>
                          algo referente a la notificacion.
                        </p>
                      </el-col>
                    </el-row>

                  </li>
                  <!--
                  </a>
                  -->
                </ul>

              </div>
            </el-tab-pane>

          </el-tabs>
        </card>

      </div>
    </div>
  </div>
</template>

<script>
  import {
    mapGetters,
    mapActions
  } from 'vuex';
  import axios from 'axios';

  export default {
    middleware: 'auth',

    metaInfo() {
      return {
        title: this.$t(this.$attrs.module)
      };
    },

    computed: {
      ...mapGetters({
        Notifications: 'notifications/notifications',
      }),
    },

    data() {
      return {
        tabPosition: 'top', // top right
        step: '1',
        steps: 1,

        typesNotifications: [{
            name: this.$t('alls'),
            mensaje: 'Nueva notificacion',
            filter: null,
            role: ['super', 'admin', 'emprend'],
            icon: 'cog'
          },
          {
            name: this.$t('requests'),
            mensaje: 'Nueva solicitud',
            filter: 'REQUESTS',
            role: ['super', 'admin'],
            icon: 'address-card'
          },
          {
            name: this.$t('events'),
            mensaje: 'Nuevo evento',
            filter: 'EVENTS',
            role: ['super', 'admin', 'emprend'],
            icon: 'calendar-plus'
          },
          {
            name: this.$t('products'),
            mensaje: 'Nuevo producto',
            filter: 'PRODUCTS',
            role: ['super', 'admin', 'emprend'],
            icon: 'box-open'
          },
          {
            name: this.$t('polls'),
            mensaje: 'Nueva encuesta',
            filter: 'POLLS',
            role: ['super', 'admin', 'emprend'],
            icon: 'poll-h'
          },
        ],
        typesNotifications2: [
          'TODAS',
          'REQUESTS',
          'EVENTS',
          'EMPRENDIMENTS',
          'PRODUCTS',
          'POLLS',
        ],

        notifications_texts: [
          "Se ha creado un nuevo Evento",
          "Se ha confirmado tu inscripción",
          "Se ha postulado al evento",
          "Tienes encuesta pendiente",
          "Tienes una nueva solicitud",
          "Se ha publicado un nuevo producto"
        ],
      }
    },

    created() {

    },

    mounted() {
      this.FetchNotifications();

      /*this.ViewNotification();*/
    },

    methods: {
      ...mapActions({
        FetchNotifications: 'notifications/fetchNotifications',

        ViewNotification: 'notifications/viewNotification',
      }),

      changeState(index) {
        console.log("notificaciones", this.notifications.length);
        for (var i = 0; i < this.notifications.length; i++) {

          if (this.notifications[i].row_number == index + 1) {
            console.log("notificacion selecionada", this.notifications[i]);
          }

        }

        /*console.log("datos de la fila", event.target.value);*/

        /*if(this.notifications.visto == true){
          this.notifications.visto == false;*/
        /*}
        console.log('cambios', this.notifications);*/
      },

      VistoNoVisto(row) {
        let defaultClass = "list-group-item";
        let NoVisto = "bg-info text-white";
        let Visto = "text-muted";

        if (row.visto == true) {
          return defaultClass + ' ' + Visto;
        } else {
          return defaultClass + ' ' + NoVisto;
        }
      },

      conditionFor(filter, tipo) {
        if (filter != null) {
          if (filter == tipo) {
            return true;
          } else {
            return false;
          }
        } else {
          return true;
        }
      },

      redirectNotify(item) {
        if (!item.visto) {
          this.ViewNotification([item.id]);
        }
        this.$router.push(`${item.tipo.toLowerCase()}/view/${item.id_referencia}`);
      },


    },

  };
</script>

<style scoped>
  #NotificationsHome {
    margin-top: 15%;
  }

  .card-header {
    background-color: #ec407a;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center !important;
    font-size: 20px;
    height: 100%;
  }

  .pointer-class-row {
    cursor: pointer;
  }

  .chat {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
  }

  .chat li .chat-body p {
    margin: 0;
    color: #777777;
  }

  #btn-chat {
    height: 100%;
  }

  .time-message {
    opacity: .5;
    font-size: .7rem;
  }

  .panel-body {
    overflow-y: scroll;
    height: 350px;
  }

  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (max-width: 768px) {
    #NotificationsHome {
      margin-top: 20%;
    }
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }

  }

  /*
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
  }

  ::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
  }

  ::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
  }
*/
</style>