<template>
  <card :title="$t('payments')">

    <el-table v-if="Emprendiments.length>0" :data="Payments" style="width: 100%;" :cell-class-name="tableCellClassName"
      :row-class-name="tableRowClassName">

      <el-table-column fixed prop="nombre" :label="$t('emprendimient')" width="150">
      </el-table-column>

      <el-table-column v-for="(item,index,key) in meses" :key="index" :prop="item" :class="item" :label="$t(item)"
        width="120">
      </el-table-column>

    </el-table>

  </card>
</template>

<script>
  import {
    mapGetters,
    mapActions
  } from 'vuex';

  export default {
    middleware: 'auth',

    metaInfo() {
      return {
        title: this.$t(this.$attrs.module)
      };
    },

    computed: mapGetters({
      Emprendiments: 'emprendiments/emprendiments',

      Payments: 'payments/payments',
    }),

    data() {
      return {
        meses: [
          "ENERO",
          "FEBRERO",
          "MARZO",
          "ABRIL",
          "MAYO",
          "JUNIO",
          "JULIO",
          "AGOSTO",
          "SEPTIEMBRE",
          "OCTUBRE",
          "NOVIEMBRE",
          "DICIEMBRE",
        ]
      }
    },

    mounted() {
      this.FetchEmprendiments();
      this.FetchPayments();
    },

    methods: {
      ...mapActions({
        FetchEmprendiments: 'emprendiments/fetchEmprendiments',

        FetchPayments: 'payments/fetchPayments',
      }),

      handleClick() {
        console.log('click');
      },

      tableRowClassName({
        row,
        rowIndex
      }) {
        //console.log('row elements: ',row,' - ',rowIndex);
        if (row.id_user == 2) {
          return 'warning-row'; //'warning-row','success-row'
        } else {
          return '';
        }
      },

      tableCellClassName({
        row,
        column,
        rowIndex,
        columnIndex
      }) {
        console.log('col elements: ', row, ' - ', column, ' - ', rowIndex, ' - ', columnIndex);
        var date = new Date();

        if (column.label == this.$t(this.meses[date.getMonth()])) {
          return 'success-row';
        } else if (date.getMonth() < columnIndex) {
          return 'waith-row';
        } else if (date.getMonth() >= columnIndex && false) {
          return 'warning-row';
        } else {
          return '';
        }
      },


    },

  };
</script>

<style>
  .el-table .warning-row {
    background: oldlace !important;
  }

  .el-table .success-row {
    background: #f0f9eb;
  }

  .el-table .waith-row {
    background: #ffffff;
  }
</style>

<!--<template>
  <card :title="$t('payments')">
    <el-tabs :tab-position="tabPosition" v-model="step">
        
      
      <el-tab-pane v-if="true" name="1" :label="$t('info')" :disabled="disableTab('1')">
        <el-form 
        label-position="right"
        :model="modelForm" 
        :rules="rulesForm"
        :status-icon="true"
        ref="modelForm1"         
        label-width="120px">
        <p>{{modelForm}}</p>
      
          <el-row  type="flex" class="row-bg mb-2" justify="space-around" >
            
            <el-col :span="12">
                <el-form-item :label="$t('entrepreneurship')" prop="emprendimiento" >
                  <el-select v-model="modelForm.emprendimiento" filterable placeholder="Selecione">
                    <el-option
                      v-for="item in Emprendiments"
                      :key="item.value"
                      :label="item.nombre"
                      :value="item.nombre">
                    </el-option>
                  </el-select>
                </el-form-item>
              </el-col> 
            
            </el-row>

          <el-row type="flex" class="row-bg mt-2">
            <el-col >
              <el-form-item >
                   
                 <el-checkbox-group v-model="modelForm.checkList">
                  <el-input :placeholder="$t('enter_the_amount')" size="medium" v-model="modelForm.monto"></el-input>
    <el-checkbox-button slot="prepend" label="Enero"></el-checkbox-button></el-input>
    <el-checkbox label="Febrero"></el-checkbox>
    <el-checkbox label="Marzo"></el-checkbox>
    <el-checkbox label="Abril" disabled></el-checkbox>
    <el-checkbox label="Mayo" disabled></el-checkbox>
  </el-checkbox-group>
              </el-form-item>
            </el-col>
            <el-col >
              <el-form-item :label="$t('amount')" prop="montoMes">
                <el-input :placeholder="$t('enter_the_amount')" size="medium" v-model="modelForm.monto"></el-input>     
              </el-form-item>
            </el-col>      
          </el-row>

          
      
        </el-form>
              
        <el-row type="flex" justify="space-between">
          <el-button size="medium" type="danger" plain @click="$cancelForm()">{{ $t('cancel') }}</el-button>
          
          <div>

            <el-button size="medium" type="primary" plain @click="submitForm()">{{ $t('save') }}</el-button>
          </div>
        </el-row>
      </el-tab-pane>
    </el-tabs>

  </card>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import axios from 'axios';

export default {
  middleware: 'auth',

  metaInfo () {
    return { title: this.$t('payments') };
  },

  computed: mapGetters({
    Emprendiments: 'emprendiments/emprendiments'
  }),

  mounted() {      
      this.FetchEmprendiments();
    },

  data() {
    return {
      
      modelForm: {
        checkList: [],
        /*mes:[
          {enero: false}*/
          /*febrero= false,
          marzo= false,
          abril= false,
          mayo= false,
          junio= false,
          agosto= false,
          septiembre= false,
          noviembre= false,
          diciembre= false,*/
        /*],*/
        monto: "",

        /*monto:[
          {montoEnero: ''},*/
          /*          
          montoFebrero= null,          
          montoAbril= null,          
          montoMayo= null,          
          montoJulio= null,          
          montoJunio= null,          
          montoAgosto= null,          
          montoSeptiembre= null,          
          montoNoviembre= null,          
          montoOcutbre= null,          
          montoDiciembre= null,          
          montoEnero= null, */

        /*],   */       
          
          emprendimiento: ''         
        },

        tabPosition: 'right', // top right
        step: '1',
      
    }
  },  

  created() {    
  },

  methods: {
    ...mapActions({
    FetchEmprendiments: 'emprendiments/fetchEmprendiments'
  }),    

    alertas(item){
        console.log('lsadas');
        return true;
      },

      disableTab(tab){
        if (this.step==tab) {
          return false;
        }else{
          return true;
        }
      },

      nextForm(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            console.log("formulario: ", this.modelForm);
            /*var number = parseInt(this.step);
            number++;
            this.step=number.toString();*/
          } else {
            console.log('Error al enviar el formulario!!');
            this.$alerta('warning', this.$t('form_error') );
            return false;
          }
        });
      },

      submitForm(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            console.log('formulario:', this.modelForm);
          } else {
            console.log('Error al enviar el formulario!!');
            this.$alerta('warning', this.$t('form_error') );
            return false;
          }
        });
      },

      resetForm(formName) {
        this.$refs[formName].resetFields();
      },
      remoteMethod(query) {
        if (query !== '') {
          this.loading = true;
          setTimeout(() => {
            this.loading = false;
            this.options = this.list.filter(item => {
              return item.label.toLowerCase()
                .indexOf(query.toLowerCase()) > -1;
            });
          }, 200);
        } else {
          this.options = [];
        }
      }  
  },
};
</script>

<style lang='css' scoped>
  .chat {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
  }

  .chat li .chat-body p {
    margin: 0;
    color: #777777;
  }

  #btn-chat {
    height: 100%;
  }

  .time-message {
    opacity: .5;
    font-size: .7rem;
  }

  .panel-body {
    overflow-y: scroll;
    height: 350px;
  }
</style>
-->