<template>
  <div>
    <div class="container-fluid position-fixed " style="top:15%; z-index:1000;">
      <div class="row align-items-center justify-content-betweeen">
        <el-button circle type="primary" plain size="large" @click="$router.go(-1)"><i
            class="font-weight-bold el-icon-back"></i></el-button>
        <div style="position:fixed; right:0px;  ">
          <!-- <button data-toggle="collapse" data-target="#navbarToggleExternalContent1" class="btn btn-sm btn-light"><i class="el-icon-menu"></i></button> -->
          <el-button circle size="large" style="font-size:18px;" data-toggle="collapse"
            data-target="#navbarToggleExternalContent1" icon="el-icon-menu"></el-button>
          <div class="w-50">
            <div class="collapse" id="navbarToggleExternalContent1">
              <div class=" p-md-4 row">
                <div class="col-sm-3 col-md-4 " v-for="(tab,key) in tabs" :key="key" v-if="$role(tab.role)">

                  <router-link :to="{ name: tab.route }"
                    class="m-md-3 text-white text-center d-flex justify-content-center align-items-center flex-column">

                    <div style="background-color:#f06292; border-radius:50%; width:50px; height:50px; padding:10px;"
                      class="d-flex justify-content-md-center align-items-md-center HoverMenu">

                      <fa :icon="tab.icon" style="width:80%; height:80%;" />
                    </div>
                    <div>
                      <span style="color:#38383b;">{{ $t(tab.name) }}</span>
                    </div>

                  </router-link>



                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container" style="z-index:10;">
      <transition name="fade" mode="out-in">
        <router-view />
      </transition>
    </div>
  </div>
  <!-- <div class="bg-transparent">
    <nav class="navbar">
      <el-button class="navbar-toggler" size="medium" circle  data-toggle="collapse" data-target="#navbarToggleExternalContent1" aria-controls="navbarToggleExternalContent1" aria-expanded="true" aria-label="Toggle navigation">
        
        <i class="el-icon-menu" style="font-size:24px; "></i>
      </el-button>
    </nav>
  <div class="collapse" id="navbarToggleExternalContent1">
    <div class=" p-4 row">
      <div class="col-sm-4 " v-for="(tab,key) in tabs" :key="key" v-if="$role(tab.role)">
            
              <router-link :to="{ name: tab.route }" class="m-3 text-white text-center d-flex justify-content-center align-items-center flex-column">

                <div style="background-color:#f06292; border-radius:50%; width:50px; height:50px; padding:10px;" class="d-flex justify-content-center align-items-center HoverMenu">
                  
                    <fa :icon="tab.icon" style="width:80%; height:80%;" />
                </div>
                <div>
                    <span style="color:#38383b;">{{ $t(tab.name) }}</span>
                </div>
               
              </router-link>
            
              
          
        </div>
    </div>
  </div>
  <div class="col-md-9">
      <transition name="fade" mode="out-in">
        <router-view />
      </transition>
    </div>
 
</div> VERSION2-->

  <!-- <div class="row" >  VERSION1
    <div class="col-sm-11"  style="background-color:rgba(0,0,0,.7); min-height:50vh; margin-top:10vh; positions-absolute; z-index:1000;">
      <div class="row">
        <div class="col-sm-3" v-for="(tab,key) in tabs" :key="key" v-if="$role(tab.role)">
            <div class="d-flex flex-column justify-content-center align-items-center">
              <router-link :to="{ name: tab.route }" class="m-3 text-white text-center d-flex justify-content-center align-items-center flex-column">

                <div style="background-color:rgba(255,255,255,.1); border-radius:50%; width:100px; height:100px; padding:1em;" class="d-flex justify-content-center align-items-center">
                  
                    <fa :icon="tab.icon" style="width:80%; height:80%;" />
                </div>
                <div>
                    <span>{{ $t(tab.name) }}</span>
                </div>
               
              </router-link>
            </div>
              
          
        </div>
      </div>
    </div>


   

    <div class="col-md-9">
      <transition name="fade" mode="out-in">
        <router-view />
      </transition>
    </div>

  </div> -->
</template>

<script>
  import {
    mapGetters,
    mapActions
  } from 'vuex';

  export default {
    middleware: 'auth',

    computed: mapGetters({
      tabs: 'module/tabs_site',

      CountNotify: 'notifications/countNotify'
    }),

    data() {
      return {
        notify: true,
      }
    },

  };
</script>

<style lang='css'>
  .settings-card .card-body {
    padding: 0;
  }

  .item {
    margin-top: 10px;
    margin-right: 40px;
  }

  .in {
    display: block !important;
  }

  #navbarToggleExternalContent1 {
    width: 40%;
    z-index: 1000;
    position: fixed;
    right: 0px;
    background-color: white;
    box-shadow: 0px 0px 5px 5px rgba(100, 100, 100, .6);
    min-height: 50vh;
    margin-top: 1%;

    /* width: 40%;
    z-index: 100;
    position: fixed;
    margin-top: 20%;
    margin-left: 3em;
    background-color: white;
    box-shadow: 0px 0px 5px 5px rgba(100,100,100,.6);
     min-height:50vh; margin-top:10vh; */
  }

  .navbar-toggler-icon {
    width: 30px;
    height: 30px;
  }

  .HoverMenu:hover {
    color: yellow;
    box-shadow: 0px 2px 4px 4px rgba(100, 100, 100, .5);
  }

  @media (max-width: 768px) {
    #navbarToggleExternalContent1 {
      width: 100%;
    }
  }
</style>