@import 'variables';

@import 'element-variables';
@import '~bootstrap/scss/bootstrap';
@import '~sweetalert2/src/sweetalert2';
@import "~element-ui/lib/theme-chalk/index.css";

@import 'elements/card';
@import 'elements/navbar';
@import 'elements/buttons';
@import 'elements/transitions';

@import 'assets/vue-easy-polls.scss';

//custom styles
body{
	background-color: rgba(1, 12, 50, 0.1);

	.el-upload{
	  display: flex !important;
	  justify-content: center !important;
	  align-items: center !important;
	}

  .el-input {
    /*
    width: 100% !important;
    */
  }

  /*.el-form-item__label {
    width: 100% !important;
    display: flex !important;
    flex-wrap: nowrap !important;
  }*/

  .el-calendar-table td.is-today {
    color: #1989FA !important;
    background: #409eff40 !important;
    background-color: #409eff40 !important;
  }

  /*welcome*/
  #top{
  	.el-carousel__indicators--outside button{
	    background-color: #007bff;
	  }
		
		/*CUSTOM SCROLLBAR*/
		/* width */
		::-webkit-scrollbar {
		  width: 7px;
		}

		/* Track */
		::-webkit-scrollbar-track {
		  background: white;
		  border-radius:200px;
		  
		}
		 
		/* Handle */
		::-webkit-scrollbar-thumb {
		  /* background: rgba(0,0,0,.3);  */
		  /* background-color: #007bff; */
		  background-color: rgba(0, 123, 255, .6);
		  border-radius:200px;
		  
		}

		/* Handle on hover */
		::-webkit-scrollbar-thumb:hover {
		  /* background: #555;  */
		  background-color: rgba(0,123,255,.8);
		}
  }


}
	
@font-face{
	font-family:'custom1';
	src:url(fonts/CustomFonts/RacingSansOne.ttf);
}
@font-face{
	font-family:'custom2';
	src:url(fonts/CustomFonts/SouthernAire.ttf);
}