<template>
  <card :title="$t('reports')" :color="'#eb636b'" style="margin-top:9%;">
    <section>

      <section class="chart-list">
        <el-col :span="7" v-for="(item,index,key) in Historico_grupos" :key="key" class="white" :offset="1">
          <el-card shadow="hover" class="white" :class="colorD[key]">

            <el-col :span="24" class="text-center">
              <div class="bottom clearfix text-center">
                 <h3><strong>{{item}}</strong></h3>
              </div>
              <span class="text-center">{{$t(index)}}</span>
            </el-col>

          </el-card>

          <div v-if="key%3" class="clearfix"></div>

        </el-col>
      </section>



      <section v-if="false" class="chart-container">
        <vue-anychart :options="areaOptionsSolicitudes" ref="areaChart1"></vue-anychart>
      </section>

      <section v-if="false" class="chart-container">
        <vue-anychart :options="areaOptionsTransacciones" ref="areaChart2"></vue-anychart>
      </section>



      <el-table
        v-if="false"
        :data="[Historico_grupos]"
        border
        style="width: 100%">
        <el-table-column
          v-for="(item,index,key) in Historico_grupos"
          :key="key"
          :prop="index"
          :label="$t(index)"
          width="180">
        </el-table-column>
      </el-table>

      <div v-if="false">
        <section class="chart-container">
          <vue-anychart :options="areaOptions" ref="areaChart"></vue-anychart>
          <button class="btn btn-primary" @click.once="modifiedXAxis" :disabled="xAxisIsModified == true">Modify xAxis
          </button>
        </section>

        <section class="chart-container">
          <vue-anychart :options="CombineOptions" ref="combineChart"></vue-anychart>
        </section>
        
        <section class="chart-container">
          <vue-anychart :options="lineOptions" ref="lineChart"></vue-anychart>
          <button class="btn btn-primary" @click="add(getRandomData())">Add Series</button>
          <button class="btn btn-danger" @click="remove" :disabled="lineSeriesCount == 0">Remove Series</button>
        </section>

        <section class="chart-container">
          <vue-anychart :options="pieOptions" ref="pieChart"></vue-anychart>
          <button class="btn btn-primary" @click.once="updatePieData" :disabled="pieDataIsModified == true">Update data
          </button>
        </section>
      </div>

    </section>
  </card>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import * as data from '~/data/data';
import Anychart from 'anychart';

export default {
  middleware: 'auth',

  metaInfo () {
    return { title: this.$t('reports') }
  },

  components: {
  },

  computed: {
    ...mapGetters({
      Historico_grupos: 'reports/historico_grupos',
    }),
    

    areaOptionsSolicitudes:function(){
      return {
        'chart': {
          'type': 'pie',
          'data': [
            [this.$t('solicitudesAceptadas'), parseInt(this.Historico_grupos.solicitudesAceptadas)],
            [this.$t('solicitudesRechazadas'), parseInt(this.Historico_grupos.solicitudesRechazadas)]
          ],
          'title': 'Solicitudes'
        }
      };
    },

    areaOptionsTransacciones:function(){
      return {
        'chart': {
          'type': 'pie',
          'data': [
            [this.$t('totalEntraDinero'), parseInt(this.Historico_grupos.totalEntraDinero)],
            [this.$t('totalSalidaDinero'), parseInt(this.Historico_grupos.totalSalidaDinero)*-1]
          ],
          'title': 'Transacciones'
        }
      };
    },


  },

  data() {
    return {
      className:'',

      Anychart: Anychart,
      areaOptions: data.AreaData,
      pieOptions: data.PieData,
      lineOptions: data.LineData,
      CombineOptions: data.CombineData,
      lineSeriesCount: 0,
      xAxisIsModified: false,
      pieDataIsModified: false,

      colorD: [
        'uno',
        'dos',
        'tres',
        'cuatro',
        'cinco',
        'seis',
        'siete',
        'ocho',

        'uno',
        'dos',
        'tres',
        'cuatro',
        'cinco',
        'seis',
        'siete',
        'ocho',

        'uno',
        'dos',
        'tres',
        'cuatro',
      ]
    }
  },

  mounted() {
    //this.lineSeriesCount = this.$refs.lineChart.chart.getSeriesCount();

    this.FetchHistoricoGrupos();
  },

  methods: {
    ...mapActions({
      FetchHistoricoGrupos: 'reports/fetchHistoricoGrupos',
    }),

    remove() {
      this.$refs.lineChart.removeSeries()
      this.lineSeriesCount--
    },
    add(data) {
      this.$refs.lineChart.addSeries(data)
      this.lineSeriesCount++
    },
    removeAll() {
      this.$refs.lineChart.removeAllSeries()
      this.lineSeriesCount = 0
    },
    modifiedXAxis() {
      let xAxis = this.$refs.areaChart.chart.xAxis(0);
      xAxis.orientation('top');
      xAxis.labels().format(function () {
        return this.value.slice(0, 3)
      });
      this.xAxisIsModified = true;
    },
    updatePieData() {
      this.$refs.pieChart.chart.data([
        ['Product A', 4755],
        ['Product B', 5205],
        ['Product C', 1504]
      ]);
      this.pieDataIsModified = true;
    },
    getRandomData() {
      return [
        {'x': 'January', 'value': this.getRandomInt(1, 15) * 1000},
        {'x': 'February', 'value': this.getRandomInt(3, 18) * 1000},
        {'x': 'March', 'value': this.getRandomInt(2, 15) * 1000},
        {'x': 'April', 'value': this.getRandomInt(1, 18) * 1000},
        {'x': 'May', 'value': this.getRandomInt(3, 18) * 1000}
      ]
    },
    getRandomInt(min, max) {
      min = Math.ceil(min);
      max = Math.floor(max);
      return Math.floor(Math.random() * (max - min)) + min; //The maximum is exclusive and the minimum is inclusive
    },

    getColor(index){
      var aux = parseInt(index)
      return this.colorD[aux];
    }
  }

};
</script>

<style lang='css'>
  .box-card{
    background-color: red;
    margin-bottom: 10px;
    min-height: 150px;
  }
  .chart {
    width: 100%;
    height: 400px;
    margin-bottom: 10px;
  }
  .chart-container {
    text-align: center;
    margin-top: 75px;
    margin-bottom: 15px;
  }
  .chart-list .chart-container:first-child {
    margin-top: 35px;
  }

  .white{
    color: white !important;
    border-radius: 10px;
    margin-bottom: 10px;
  }

  .uno{
    background-color: #36b156 !important;
  }

  .dos{
    background-color: #fdb500 !important;
  }

  .tres{
    background-color: #3fbdc9 !important;
  }

  .cuatro{
    background-color: #3a5699 !important;
  }

  .cinco{
    background-color: #f03e3a !important;
  }

  .seis{
    background-color: #f16c43 !important;
  }

  .siete{
    background-color: #c38ebc !important;
  }

  .ocho{
    background-color: #50abf1 !important;
  }
</style>