<template>
  <card :title="$t('reports') " :color="'#eb636b'" style="margin-top:9%;">
    <section class="heigth-max">

      <el-tabs :tab-position="'left'" v-model="editableTabsValue" class="heigth-min">
        <el-tab-pane label="Dashboard" name="1">
          <el-container>
            <el-aside width="200px" style="padding-top:20px;">
              
                <el-row :span="24" v-for="(item,index,key) in Historico_grupos" :key="key" v-if="key<7" class="white" :offset="1">
                  <el-card shadow="hover" class="white heigth" :class="colorD[key]">

                    <div class="bottom clearfix text-center">
                      <h3><strong>{{item}}</strong></h3>
                      <h6>{{$t(index)}}</h6>
                    </div>

                  </el-card>
                </el-row>
              
            </el-aside>
            <el-container>
              <el-main>
                <section v-if="true" class="chart-container">
                  <vue-anychart :options="areaOptionsSolicitudes" ref="areaChart1"></vue-anychart>
                </section>
                <hr>
                <section v-if="areaOptionsemprendimientos!=null && areaOptionsemprendimientos.length>0"
                  class="chart-container">
                  <vue-anychart :options="areaOptionsemprendimientos[3]" ref="areaChart1"></vue-anychart>
                </section>
              </el-main>
            </el-container>
          </el-container>
        </el-tab-pane>
        <el-tab-pane label="Gastos de eventos por tipos" name="2">
          <section v-if="true" class="chart-container">
            <vue-anychart :options="areaCantItemsGastos" ref="areaChart1"></vue-anychart>
          </section>
        </el-tab-pane>
        <el-tab-pane label="Emprendimientos por categorias" name="3">
          <section v-if="true" class="chart-container">
            <vue-anychart :options="areaCantEmprendsCategories" ref="areaChart1"></vue-anychart>
          </section>
        </el-tab-pane>
        <el-tab-pane label="Productos por categorias" name="4">
          <section v-if="true" class="chart-container">
            <vue-anychart :options="areaCantProdCategories" ref="areaChart1"></vue-anychart>
          </section>
        </el-tab-pane>
        <el-tab-pane label="Invitaciones por eventos" name="5">
          <section v-if="Resumen_emprendimientos!=null && Resumen_emprendimientos.length>0 && index==0"
            class="chart-container" v-for="(item,index,key) in areaOptionsemprendimientos">
            <vue-anychart :options="item" ref="areaChart1"></vue-anychart>
          </section>
        </el-tab-pane>
        <el-tab-pane label="Postulaciones por emprendimientos" name="6">
          <section v-if="Resumen_emprendimientos!=null && Resumen_emprendimientos.length>0 && index==1"
            class="chart-container" v-for="(item,index,key) in areaOptionsemprendimientos">
            <vue-anychart :options="item" ref="areaChart1"></vue-anychart>
          </section>
        </el-tab-pane>
        <el-tab-pane label="Encuestas por emprendimientos" name="7">
          <section v-if="Resumen_emprendimientos!=null && Resumen_emprendimientos.length>0 && index==2"
            class="chart-container" v-for="(item,index,key) in areaOptionsemprendimientos">
            <vue-anychart :options="item" ref="areaChart1"></vue-anychart>
          </section>
        </el-tab-pane>
        <el-tab-pane label="Publicaciones por emprendimientos" name="8">
          <section v-if="Resumen_emprendimientos!=null && Resumen_emprendimientos.length>0 && index==3"
            class="chart-container"
            v-for="(item,index,key) in areaOptionsemprendimientos">
            <vue-anychart :options="item" ref="areaChart1"></vue-anychart>
          </section>
        </el-tab-pane>
        <el-tab-pane label="Transacciones por tipo de operaciones" name="9">
          <section v-if="true" class="chart-container">
            <vue-anychart :options="areaOptionsTransacciones" ref="areaChart2"></vue-anychart>
          </section>
        </el-tab-pane>
        <el-tab-pane label="Invitaciones por emprendimientos" name="10">
          <section v-if="Resumen_emprendimientos!=null && Resumen_emprendimientos.length>0 && index==0"
            class="chart-container" v-for="(item,index,key) in areaOptionsemprendimientos">
            <vue-anychart :options="item" ref="areaChart1"></vue-anychart>
          </section>
        </el-tab-pane>
        <el-tab-pane label="Asistencias por emprendimientos" name="11">
          <section v-if="true" class="chart-container">
            <vue-anychart :options="areaEmprendsAssistences" ref="areaChart1"></vue-anychart>
          </section>
        </el-tab-pane>
      </el-tabs>

    </section>
  </card>
</template>

<script>
  import {
    mapGetters,
    mapActions
  } from 'vuex';
  import * as data from '~/data/data';
  import Anychart from 'anychart';

  export default {
    middleware: 'auth',

    metaInfo() {
      return {
        title: this.$t(this.$attrs.module)
      };
    },

    components: {

    },

    computed: {
      ...mapGetters({
        tabs: 'module/tabs_site_report',
        Historico_grupos: 'reports/historico_grupos',
        Resumen_emprendimientos: 'reports/resumen_emprendimientos',
        CantEmprendsCategories: 'reports/cantEmprendsCategories',
        PorcentAprovedRejected: 'reports/AprovedRejected',
        CantProdCategories: 'reports/CantProdCategories',
        CantItemsGastos: 'reports/ItemsGastos',
        EmprendsAssistences: 'reports/EmprendimentAssistences',
      }),

      areaOptionsSolicitudes: function () {
        return {
          'chart': {
            'type': 'pie',
            'data': [
              [this.$t('solicitudesAceptadas'), parseInt(this.Historico_grupos.solicitudesAceptadas)],
              [this.$t('solicitudesRechazadas'), parseInt(this.Historico_grupos.solicitudesRechazadas)]
            ],
            'title': 'Solicitudes'
          }
        };
      },

      areaOptionsTransacciones: function () {
        return {
          'chart': {
            'type': 'pie',
            'data': [
              [this.$t('totalEntraDinero'), parseInt(this.Historico_grupos.totalEntraDinero)],
              [this.$t('totalSalidaDinero'), parseInt(this.Historico_grupos.totalSalidaDinero) * -1]
            ],
            'title': 'Transacciones'
          }
        };
      },

      areaOptionsemprendimientos: function () {
        var data = [{
            'chart': {
              'title': 'Invitaciones',
              'animation': true,
              'tooltip': {
                'displayMode': 'union'
              },
              'interactivity': {
                'hoverMode': 'by-x'
              },
              'type': 'column',
              'series': [{
                'seriesType': 'column',
                'name': 'Column',
                'data': []
              }, ],
            }
          },
          {
            'chart': {
              'title': 'Postulaciones',
              'animation': true,
              'tooltip': {
                'displayMode': 'union'
              },
              'interactivity': {
                'hoverMode': 'by-x'
              },
              'type': 'column',
              'series': [{
                'seriesType': 'column',
                'name': 'Column',
                'data': []
              }, ],
            }
          },
          {
            'chart': {
              'title': 'Encuestas Respondidas',
              'animation': true,
              'tooltip': {
                'displayMode': 'union'
              },
              'interactivity': {
                'hoverMode': 'by-x'
              },
              'type': 'column',
              'series': [{
                'seriesType': 'column',
                'name': 'Column',
                'data': []
              }, ],
            }
          },
          {
            'chart': {
              'title': 'Publicaciones',
              'animation': true,
              'tooltip': {
                'displayMode': 'union'
              },
              'interactivity': {
                'hoverMode': 'by-x'
              },
              'type': 'column',
              'series': [{
                'seriesType': 'column',
                'name': 'Publicaciones',
                'data': []
              }, ],
            }
          },
        ];

        if (this.Resumen_emprendimientos.length > 0) {
          for (var i = 0; i < data.length; i++) {

            for (var j = 0; j < this.Resumen_emprendimientos.length; j++) {

              switch (i) {
                case 0:
                  data[i].chart.series[0].data.push({
                    'x': this.Resumen_emprendimientos[j].nombre,
                    'value': this.Resumen_emprendimientos[j].invitaciones.length
                  });
                  break;

                case 1:
                  data[i].chart.series[0].data.push({
                    'x': this.Resumen_emprendimientos[j].nombre,
                    'value': this.Resumen_emprendimientos[j].postulaciones.length,
                    normal: {
                      fill: "#5cd65c"
                    }
                  });
                  break;

                case 2:
                  data[i].chart.series[0].data.push({
                    'x': this.Resumen_emprendimientos[j].nombre,
                    'value': this.Resumen_emprendimientos[j].respuestas,
                    normal: {
                      fill: "#00cc99"
                    }
                  });
                  break;

                case 3:
                  /* data[i].chart.data.push(
                    [this.Resumen_emprendimientos[j].nombre, this.Resumen_emprendimientos[j].productos]
                  ); */
                  data[i].chart.series[0].data.push({
                    'x': this.Resumen_emprendimientos[j].nombre,
                    'value': this.Resumen_emprendimientos[j].productos,
                    normal: {
                      fill: "#00cc99"
                    }
                  });
                  break;

              }

            }

          }
        }

        return data;
      },

      areaCantEmprendsCategories: function () {
        var data = {
            'chart': {
              'title': 'Emprendimientos por categoria',
              'animation': true,
              'tooltip': {
                'displayMode': 'union'
              },
              'interactivity': {
                'hoverMode': 'by-x'
              },
              'type': 'column',
              'series': [{
                'seriesType': 'column',
                'name': 'Column',
                'data': []
              }, ],
            }
          };
          for (var i = 0; i < this.CantEmprendsCategories.length; i++) {
            data.chart.series[0].data.push({
              'x': this.CantEmprendsCategories[i].category,
              'value': this.CantEmprendsCategories[i].cant
            });
          }
        return data;
      },

      areaCantProdCategories: function () {
        var data = {
            'chart': {
              'title': 'Productos por categoria',
              'animation': true,
              'tooltip': {
                'displayMode': 'union'
              },
              'interactivity': {
                'hoverMode': 'by-x'
              },
              'type': 'column',
              'series': [{
                'seriesType': 'column',
                'name': 'Column',
                'data': []
              }, ],
            }
          };
          for (var i = 0; i < this.CantProdCategories.length; i++) {
            data.chart.series[0].data.push({
              'x': this.CantProdCategories[i].nombre,
              'value': this.CantProdCategories[i].cantidad
            });
          }
        return data;
      },

      areaCantItemsGastos: function () {
        var data = {
            'chart': {
              'title': 'Gastos por tipo',
              'animation': true,
              'tooltip': {
                'displayMode': 'union'
              },
              'interactivity': {
                'hoverMode': 'by-x'
              },
              'type': 'column',
              'series': [{
                'seriesType': 'column',
                'name': 'Column',
                'data': []
              }, ],
            }
          };
          for (var i = 0; i < this.CantItemsGastos.length; i++) {
            data.chart.series[0].data.push({
              'x': this.CantItemsGastos[i].tipo,
              'value': this.CantItemsGastos[i].sumatoria
            });
          }
        return data;
      },

      areaEmprendsAssistences: function () {
        var data = {
            'chart': {
              'title': 'Gastos por tipo',
              'animation': true,
              'tooltip': {
                'displayMode': 'union'
              },
              'interactivity': {
                'hoverMode': 'by-x'
              },
              'type': 'column',
              'series': [{
                'seriesType': 'column',
                'name': 'Column',
                'data': []
              }, ],
            }
          };
          for (var i = 0; i < this.EmprendsAssistences.length; i++) {
            data.chart.series[0].data.push({
              'x': this.EmprendsAssistences[i].nombre,
              'value': this.EmprendsAssistences[i].total_Events
            });
          }
        return data;
      },
    },

    data() {
      return {
        tabPosition2: 'left',
        editableTabsValue: '1',

        className: '',

        Anychart: Anychart,
        areaOptions: data.AreaData,
        pieOptions: data.PieData,
        lineOptions: data.LineData,
        CombineOptions: data.CombineData,
        lineSeriesCount: 0,
        xAxisIsModified: false,
        pieDataIsModified: false,

        colorD: [
          'uno',
          'dos',
          'tres',
          'cuatro',
          'cinco',
          'seis',
          'siete',
          'ocho',

          'uno',
          'dos',
          'tres',
          'cuatro',
          'cinco',
          'seis',
          'siete',
          'ocho',

          'uno',
          'dos',
          'tres',
          'cuatro',
        ]
      }
    },

    mounted() {
      this.FetchHistoricoGrupos();
      this.FetchResumenEmprendimientos();
      this.FetchCantEmprendsCategories();
      this.fetchPorcentAproved();
      this.fetchCantProdCategories();
      this.fetchItemsGastos();
      this.fetchEmprendsAssistences();
    },

    methods: {
      ...mapActions({
        FetchHistoricoGrupos: 'reports/fetchHistoricoGrupos',
        FetchResumenEmprendimientos: 'reports/fetchResumenEmprendimientos',
        FetchCantEmprendsCategories: 'reports/fetchCantEmprendsCategories',
        fetchPorcentAproved: 'reports/fetchPorcentAproved',
        fetchCantProdCategories: 'reports/fetchCantProductsCategories',
        fetchItemsGastos: 'reports/fetchItemsGastos',
        fetchEmprendsAssistences: 'reports/fetchEmprendsAssistences',
      }),

      getColor(index) {
        var aux = parseInt(index)
        return this.colorD[aux];
      },

      remove() {
        this.$refs.lineChart.removeSeries()
        this.lineSeriesCount--
      },
      add(data) {
        this.$refs.lineChart.addSeries(data)
        this.lineSeriesCount++
      },
      removeAll() {
        this.$refs.lineChart.removeAllSeries()
        this.lineSeriesCount = 0
      },
      modifiedXAxis() {
        let xAxis = this.$refs.areaChart.chart.xAxis(0);
        xAxis.orientation('top');
        xAxis.labels().format(function () {
          return this.value.slice(0, 3)
        });
        this.xAxisIsModified = true;
      },
      updatePieData() {
        this.$refs.pieChart.chart.data([
          ['Product A', 4755],
          ['Product B', 5205],
          ['Product C', 1504]
        ]);
        this.pieDataIsModified = true;
      },
      getRandomData() {
        return [{
            'x': 'January',
            'value': this.getRandomInt(1, 15) * 1000
          },
          {
            'x': 'February',
            'value': this.getRandomInt(3, 18) * 1000
          },
          {
            'x': 'March',
            'value': this.getRandomInt(2, 15) * 1000
          },
          {
            'x': 'April',
            'value': this.getRandomInt(1, 18) * 1000
          },
          {
            'x': 'May',
            'value': this.getRandomInt(3, 18) * 1000
          }
        ]
      },
      getRandomInt(min, max) {
        min = Math.ceil(min);
        max = Math.floor(max);
        return Math.floor(Math.random() * (max - min)) + min; //The maximum is exclusive and the minimum is inclusive
      },

      getColor(index) {
        var aux = parseInt(index)
        return this.colorD[aux];
      }
    }

  };
</script>

<style scoped>
  .heigth-max {
    /* height: 500px; */
  }

  .heigth-min {
    /* height: 450px; */
  }

  .heigth {
    height: 100px;
  }

  .card-header {
    /*background-color: #EA7223;*/
    color: white;
    text-align: center;
    display: flex;
    justify-content: center !important;
    font-size: 20px;
    height: 100%;
  }

  .el-header,
  .el-footer {
    background-color: #B3C0D1;
    color: #333;
    text-align: center;
    line-height: 60px;
  }

  .el-aside {
    background-color: #D3DCE6;
    color: #333;
    text-align: center;
    line-height: 200px;
  }

  .el-main {
    background-color: #E9EEF3;
    color: #333;
    text-align: center;
    line-height: 160px;
  }

  body>.el-container {
    margin-bottom: 40px;
  }

  .el-container:nth-child(5) .el-aside,
  .el-container:nth-child(6) .el-aside {
    line-height: 260px;
  }

  .el-container:nth-child(7) .el-aside {
    line-height: 320px;
  }

  .box-card {
    background-color: red;
    margin-bottom: 10px;
    min-height: 150px;
  }

  .chart {
    width: 100%;
    height: 400px;
    margin-bottom: 10px;
  }

  .chart-container {
    text-align: center;
    /* margin-top: 75px; */
    margin-bottom: 15px;
  }

  .chart-list .chart-container:first-child {
    /* margin-top: 35px; */
  }

  .white {
    color: white !important;
    border-radius: 10px;
    margin-bottom: 10px;
  }

  .uno {
    background-color: #36b156 !important;
  }

  .dos {
    background-color: #fdb500 !important;
  }

  .tres {
    background-color: #3fbdc9 !important;
  }

  .cuatro {
    background-color: #3a5699 !important;
  }

  .cinco {
    background-color: #f03e3a !important;
  }

  .seis {
    background-color: #f16c43 !important;
  }

  .siete {
    background-color: #c38ebc !important;
  }

  .ocho {
    background-color: #50abf1 !important;
  }
</style>