<template>
  <card :title="$t('reports')" :color="'#eb636b'" style="margin-top:9%;">
    <section class="chart-list">

      <section v-if="Resumen_emprendimientos!=null && Resumen_emprendimientos.length>0" class="chart-container" v-for="(item,index,key) in areaOptionsemprendimientos" >
        <vue-anychart :options="item" ref="areaChart1"></vue-anychart>
      </section>


      <div v-if="false">
        <section class="chart-container">
          <vue-anychart :options="areaOptions" ref="areaChart"></vue-anychart>
          <button class="btn btn-primary" @click.once="modifiedXAxis" :disabled="xAxisIsModified == true">Modify xAxis
          </button>
        </section>

        <section class="chart-container">
          <vue-anychart :options="CombineOptions" ref="combineChart"></vue-anychart>
        </section>
        
        <section class="chart-container">
          <vue-anychart :options="lineOptions" ref="lineChart"></vue-anychart>
          <button class="btn btn-primary" @click="add(getRandomData())">Add Series</button>
          <button class="btn btn-danger" @click="remove" :disabled="lineSeriesCount == 0">Remove Series</button>
        </section>

        <section class="chart-container">
          <vue-anychart :options="pieOptions" ref="pieChart"></vue-anychart>
          <button class="btn btn-primary" @click.once="updatePieData" :disabled="pieDataIsModified == true">Update data
          </button>
        </section>
      </div>

    </section>
    <section>
      <ul>
        <li v-for="category in CantEmprendsCategories">
          <strong>{{category.category}}:</strong> {{category.cant}}
        </li>
      </ul>
    </section>
    <section>
      <strong><p>{{PorcentAprovedRejected}}</p></strong>
    </section>
    <section><strong>
        <p>{{CantProdCategories}}</p>
      </strong>
    </section>
    <section>
      <strong>
        <p>{{CantItemsGastos}}</p>
      </strong>
    </section>
  </card>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import * as data from '~/data/data';
import Anychart from 'anychart';

export default {
  middleware: 'auth',

  metaInfo () {
    return { title: this.$t('reports') }
  },

  components: {

  },

  computed: {
    ...mapGetters({
      Resumen_emprendimientos: 'reports/resumen_emprendimientos',
      CantEmprendsCategories: 'reports/cantEmprendsCategories',
      PorcentAprovedRejected: 'reports/AprovedRejected',
      CantProdCategories: 'reports/CantProdCategories',
      CantItemsGastos: 'reports/ItemsGastos',
      EmprendsAssistences: 'reports/EmprendimentAssistences',
    }),

    areaOptionsemprendimientos: function(){
      var data = [
        {
          'chart': {
            'title': 'Invitaciones',
            'animation': true,
            'tooltip': {'displayMode': 'union'},
            'interactivity': {'hoverMode': 'by-x'},
            'type': 'column',
            'series': [
              {
                'seriesType': 'column',
                'name': 'Column',
                'data': []
              }, 
            ],
          }
        },
        {
          'chart': {
            'title': 'Postulaciones',
            'animation': true,
            'tooltip': {'displayMode': 'union'},
            'interactivity': {'hoverMode': 'by-x'},
            'type': 'column',
            'series': [
              {
                'seriesType': 'column',
                'name': 'Column',
                'data': []
              }, 
            ],
          }
        },
        {
          'chart': {
            'title': 'Encuestas Respondidas',
            'animation': true,
            'tooltip': {'displayMode': 'union'},
            'interactivity': {'hoverMode': 'by-x'},
            'type': 'column',
            'series': [
              {
                'seriesType': 'column',
                'name': 'Column',
                'data': []
              }, 
            ],
          }
        },
        {
          'chart': {
            'type': 'pie',
            'data': [],
            'title': 'Publicaciones'
          }
        },
      ];

      if (this.Resumen_emprendimientos.length>0) {
        for (var i = 0; i < data.length; i++) {
          
          for (var j = 0; j < this.Resumen_emprendimientos.length; j++) {
        
            switch (i){
              case 0:
                data[i].chart.series[0].data.push(
                  {'x':this.Resumen_emprendimientos[j].nombre, 'value':this.Resumen_emprendimientos[j].invitaciones.length}
                );
              break;

              case 1:
                data[i].chart.series[0].data.push(
                  {'x':this.Resumen_emprendimientos[j].nombre, 'value':this.Resumen_emprendimientos[j].postulaciones.length, normal: {fill: "#5cd65c"} }
                );
              break;

              case 2:
                data[i].chart.series[0].data.push(
                  {'x':this.Resumen_emprendimientos[j].nombre, 'value':this.Resumen_emprendimientos[j].respuestas, normal: {fill: "#00cc99"} }
                );
              break;

              case 3:
                data[i].chart.data.push(
                  [this.Resumen_emprendimientos[j].nombre, this.Resumen_emprendimientos[j].productos]
                );
              break;

            }

          }

        }
      }

      return data;
    },


  },

  data() {
    return {
      Anychart: Anychart,
      areaOptions: data.AreaData,
      pieOptions: data.PieData,
      lineOptions: data.LineData,
      CombineOptions: data.CombineData,
      lineSeriesCount: 0,
      xAxisIsModified: false,
      pieDataIsModified: false
    }
  },

  mounted() {
    /*this.lineSeriesCount = this.$refs.lineChart.chart.getSeriesCount();*/

    this.fetchEmprendsAssistences();
    this.FetchResumenEmprendimientos();
    this.FetchCantEmprendsCategories();
    this.fetchPorcentAproved();
    this.fetchCantProdCategories();
    this.fetchItemsGastos();
    
  },

  methods: {
    ...mapActions({
      FetchResumenEmprendimientos: 'reports/fetchResumenEmprendimientos',
      FetchCantEmprendsCategories: 'reports/fetchCantEmprendsCategories',
      fetchPorcentAproved: 'reports/fetchPorcentAproved',
      fetchCantProdCategories: 'reports/fetchCantProductsCategories',
      fetchItemsGastos: 'reports/fetchItemsGastos',
      fetchEmprendsAssistences: 'reports/fetchEmprendsAssistences',
    }),

    remove() {
      this.$refs.lineChart.removeSeries()
      this.lineSeriesCount--
    },
    add(data) {
      this.$refs.lineChart.addSeries(data)
      this.lineSeriesCount++
    },
    removeAll() {
      this.$refs.lineChart.removeAllSeries()
      this.lineSeriesCount = 0
    },
    modifiedXAxis() {
      let xAxis = this.$refs.areaChart.chart.xAxis(0);
      xAxis.orientation('top');
      xAxis.labels().format(function () {
        return this.value.slice(0, 3)
      });
      this.xAxisIsModified = true;
    },
    updatePieData() {
      this.$refs.pieChart.chart.data([
        ['Product A', 4755],
        ['Product B', 5205],
        ['Product C', 1504]
      ]);
      this.pieDataIsModified = true;
    },
    getRandomData() {
      return [
        {'x': 'January', 'value': this.getRandomInt(1, 15) * 1000},
        {'x': 'February', 'value': this.getRandomInt(3, 18) * 1000},
        {'x': 'March', 'value': this.getRandomInt(2, 15) * 1000},
        {'x': 'April', 'value': this.getRandomInt(1, 18) * 1000},
        {'x': 'May', 'value': this.getRandomInt(3, 18) * 1000}
      ]
    },
    getRandomInt(min, max) {
      min = Math.ceil(min);
      max = Math.floor(max);
      return Math.floor(Math.random() * (max - min)) + min; //The maximum is exclusive and the minimum is inclusive
    },




    
  }

};
</script>

<style lang='css'>
  .chart {
    width: 100%;
    height: 400px;
    margin-bottom: 10px;
  }
  .chart-container {
    text-align: center;
    margin-top: 75px;
    margin-bottom: 15px;
  }
  .chart-list .chart-container:first-child {
    margin-top: 35px;
  }
</style>