<template>
  <card :title="$t('reports')" :color="'#EA7223'" style="margin-top:9%;">
    <section class="chart-list">

      <section v-if="true" class="chart-container">
        <el-row>
          <el-col v-for="(item,index,key) in Resumen_grupos":key="key" :span="12" :offset="index > 0 ? 2 : 0">
            <el-card :body-style="{ padding: '0px' }">
              <div style="padding: 14px;">
                <el-col :span="4">
                  <fa icon="cog" />
                </el-col>
                <el-col :span="20">
                  <span>{{$t(index)}}</span>
                  <div class="bottom clearfix">
                     <time class="time"><strong>{{item}}</strong></time>
                  </div>
                </el-col>
              </div>
            </el-card>
          </el-col>
        </el-row>
      </section>

      <section v-if="false" class="chart-container">
        <vue-anychart :options="areaOptionsSolicitudes" ref="areaChart1"></vue-anychart>
      </section>

      <div v-if="false">
        <section class="chart-container">
          <vue-anychart :options="areaOptions" ref="areaChart"></vue-anychart>
          <button class="btn btn-primary" @click.once="modifiedXAxis" :disabled="xAxisIsModified == true">Modify xAxis
          </button>
        </section>

        <section class="chart-container">
          <vue-anychart :options="CombineOptions" ref="combineChart"></vue-anychart>
        </section>
        
        <section class="chart-container">
          <vue-anychart :options="lineOptions" ref="lineChart"></vue-anychart>
          <button class="btn btn-primary" @click="add(getRandomData())">Add Series</button>
          <button class="btn btn-danger" @click="remove" :disabled="lineSeriesCount == 0">Remove Series</button>
        </section>

        <section class="chart-container">
          <vue-anychart :options="pieOptions" ref="pieChart"></vue-anychart>
          <button class="btn btn-primary" @click.once="updatePieData" :disabled="pieDataIsModified == true">Update data
          </button>
        </section>
      </div>

    </section>
  </card>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import * as data from '~/data/data';
import Anychart from 'anychart';

export default {
  middleware: 'auth',

  metaInfo () {
    return { title: this.$t('reports') }
  },

  components: {

  },

  computed: {
    ...mapGetters({
      Resumen_grupos: 'reports/resumen_grupos',
    }),

    areaOptionsTransacciones:function(){
      /*
      return {
        'chart': {
          'type': 'pie',
          'data': [
            [this.$t('totalEntraDinero'), parseInt(this.Historico_grupos.totalEntraDinero)],
            [this.$t('totalSalidaDinero'), parseInt(this.Historico_grupos.totalSalidaDinero)*-1]
          ],
          'title': 'Transacciones'
        }
      };
      */
    },


  },

  data() {
    return {
      Anychart: Anychart,
      areaOptions: data.AreaData,
      pieOptions: data.PieData,
      lineOptions: data.LineData,
      CombineOptions: data.CombineData,
      lineSeriesCount: 0,
      xAxisIsModified: false,
      pieDataIsModified: false
    }
  },

  mounted() {
    //this.lineSeriesCount = this.$refs.lineChart.chart.getSeriesCount();

    this.FetchResumenGrupos();
  },

  methods: {
    ...mapActions({
      FetchResumenGrupos: 'reports/fetchResumenGrupos',
    }),

    remove() {
      this.$refs.lineChart.removeSeries()
      this.lineSeriesCount--
    },
    add(data) {
      this.$refs.lineChart.addSeries(data)
      this.lineSeriesCount++
    },
    removeAll() {
      this.$refs.lineChart.removeAllSeries()
      this.lineSeriesCount = 0
    },
    modifiedXAxis() {
      let xAxis = this.$refs.areaChart.chart.xAxis(0);
      xAxis.orientation('top');
      xAxis.labels().format(function () {
        return this.value.slice(0, 3)
      });
      this.xAxisIsModified = true;
    },
    updatePieData() {
      this.$refs.pieChart.chart.data([
        ['Product A', 4755],
        ['Product B', 5205],
        ['Product C', 1504]
      ]);
      this.pieDataIsModified = true;
    },
    getRandomData() {
      return [
        {'x': 'January', 'value': this.getRandomInt(1, 15) * 1000},
        {'x': 'February', 'value': this.getRandomInt(3, 18) * 1000},
        {'x': 'March', 'value': this.getRandomInt(2, 15) * 1000},
        {'x': 'April', 'value': this.getRandomInt(1, 18) * 1000},
        {'x': 'May', 'value': this.getRandomInt(3, 18) * 1000}
      ]
    },
    getRandomInt(min, max) {
      min = Math.ceil(min);
      max = Math.floor(max);
      return Math.floor(Math.random() * (max - min)) + min; //The maximum is exclusive and the minimum is inclusive
    }
  }

};
</script>

<style lang='css'>
  .chart {
    width: 100%;
    height: 400px;
    margin-bottom: 10px;
  }
  .chart-container {
    text-align: center;
    margin-top: 75px;
    margin-bottom: 15px;
  }
  .chart-list .chart-container:first-child {
    margin-top: 35px;
  }
</style>