<template>
  <div>

    <input v-model="lugar" ref="autocomplete" placeholder="Search" class="search-location" onfocus="value = ''"
      type="text" />

    <el-input v-model="modelForm.lugar" ref="autocomplete" type="text" onfocus="value = ''" placeholder="lugar" />

  </div>
</template>

<script>
  export default {
    name: 'GAutoCcomplete',

    props: [],

    data() {
      return {
        lugar: ''
      }
    },

    mounted() {
      if (google != undefined && this.$refs.autocomplete != undefined) {
        const input = this.$refs.autocomplete;

        this.autocomplete = new google.maps.places.Autocomplete(
          input,
        );

        this.autocomplete.addListener('place_changed', () => {
          let place = this.autocomplete.getPlace();
          let ac = place.address_components;
          let lat = place.geometry.location.lat();
          let lon = place.geometry.location.lng();
          let lugar = ac[0]["short_name"];

          console.log(`Ha seleccionado '${lugar}', con coordenadas: '${lat}', '${lon}'`);
          console.log('direccion completa: ', ac);

        });
      }
    },

    watch: {},

    methods: {}

  };
</script>

<style>
  .search-location {}

  .search-location:hover {
    border-color: #C0C4CC;
  }

  .search-location {
    -webkit-appearance: none;
    background-color: #FFF;
    background-image: none;
    border-radius: 4px;
    border: 1px solid #DCDFE6;
    border-top-color: rgb(220, 223, 230);
    border-right-color: rgb(220, 223, 230);
    border-bottom-color: rgb(220, 223, 230);
    border-left-color: rgb(220, 223, 230);
    box-sizing: border-box;
    color: #606266;
    display: inline-block;
    font-size: inherit;
    height: 40px;
    line-height: 40px;
    outline: 0;
    padding: 0 15px;
    transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
    width: 100%;
  }

  .search-location {
    text-align: start;
    text-transform: none;
    word-spacing: normal;
    letter-spacing: normal;
    cursor: text;
    text-indent: 0;
    -moz-user-select: text;
    text-shadow: none;
  }
</style>