<template>
  <div class="card">

    <div id="myMap"></div>

  </div>
</template>

<script>
  export default {
    name: 'GgMap',

    props: ['lugar'],

    data() {
      return {
        cumana: {
          lat: 10.459453269048117,
          lng: -64.1762924194336
        },

        map: null,

        marker: null,

        infowindow: null,

        content: `
        <div id="content">
          <div id="headContent">

          </div>
          <h3 id="firstHeading">
            ${ this.lugar.name ? this.lugar.name : '' }
          </h3>
          <div id="bodyContent">
            <p>
              
            </p>
          </div>
        </div>
      `,
      }
    },

    mounted() {
      if (google != undefined) {

        let context = this;

        var posicion = this.cumana;

        if (this.lugar.lat != undefined) {
          posicion = {
            lat: parseFloat(this.lugar.lat),
            lng: parseFloat(this.lugar.lng)
          };
        }

        this.map = new google.maps.Map(document.getElementById('myMap'), {
          center: posicion,
          zoom: 15,
          scrollwheel: false,
          mapTypeControl: true,
          streetViewControl: true,
          mapTypeId: google.maps.MapTypeId.ROADMAP,
        });

        this.marker = new google.maps.Marker({
          position: posicion,
          map: this.map,
        });

        this.infowindow = new google.maps.InfoWindow({
          content: this.content,
        });

        if (this.lugar != null) {
          this.map.setCenter(posicion);

          this.marker.setPosition(posicion);

          this.marker.addListener('click', function () {
            context.infowindow.open(context.map, context.marker);
            context.map.setZoom(18);
          });

          this.infowindow.open(this.map, this.marker);
        }

      }
    },

    methods: {},

  };
</script>

<style lang='css'>
  #myMap {
    width: 100%;
    height: 300px;
  }
</style>