<template>
  <div class="card">
    <div v-if="title" class="card-header">
      {{ title }}
    </div>

    <div class="card-body">

      <div id="myMap"></div>

    </div>
  </div>
</template>

<script>
  import MarkerClusterer from '@google/markerclusterer';
  import gmapsInit from '~/plugins/google-maps';

  const locations = [{
      position: {
        lat: 48.160910,
        lng: 16.383330,
      },
    },
    {
      position: {
        lat: 48.174270,
        lng: 16.329620,
      },
    },
    {
      position: {
        lat: 48.146140,
        lng: 16.297030,
      },
    },
    {
      position: {
        lat: 48.135830,
        lng: 16.194460,
      },
    },
    {
      position: {
        lat: 48.306091,
        lng: 14.286440,
      },
    },
    {
      position: {
        lat: 47.503040,
        lng: 9.747070,
      },
    },
  ];

  export default {
    name: 'GoogleMap',

    props: {
      title: {
        type: String,
        default: null
      }
    },

    async mounted() {
      try {
        const google = await gmapsInit();
        const geocoder = new google.maps.Geocoder();
        const map = new google.maps.Map(this.$el);

        geocoder.geocode({
          address: `Venezuela`
        }, (results, status) => {
          if (status !== `OK` || !results[0]) {
            throw new Error(status);
          }
          map.setCenter(results[0].geometry.location);
          map.fitBounds(results[0].geometry.viewport);
        });
        const markerClickHandler = (marker) => {
          map.setZoom(13);
          map.setCenter(marker.getPosition());
        };
        const markers = locations
          .map((location) => {
            const marker = new google.maps.Marker({
              ...location,
              map
            });
            marker.addListener(`click`, () => markerClickHandler(marker));
            return marker;
          });
        // eslint-disable-next-line no-new
        new MarkerClusterer(map, markers, {
          imagePath: `https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m`,
        });
      } catch (error) {
        // eslint-disable-next-line no-console
        console.error(error);
      }
    },
  };
</script>

<style>
  #myMap {
    width: 100%;
    height: 500px;
  }
</style>