<template>
  <div id="app">
    <loading ref="loading" />

    <transition name="el-fade-in-linear">
      <component :is="layout" v-if="layout" />
    </transition>
  </div>
</template>

<script>
  import Loading from './Loading';

  // Load layout components dynamically.
  const requireContext = require.context('~/layouts', false, /.*\.vue$/);

  const layouts = requireContext.keys()
    .map(file => [file.replace(/(^.\/)|(\.vue$)/g, ''), requireContext(file)])
    .reduce((components, [name, component]) => {
      components[name] = component.default || component
      return components
    }, {});

  export default {
    el: '#app',

    mixins: [],

    components: {
      Loading
    },

    data: () => ({
      layout: null,
      defaultLayout: 'default'
    }),

    metaInfo() {
      const {
        appName
      } = window.config

      return {
        title: appName,
        titleTemplate: `%s · ${appName}`
      }
    },

    mounted() {
      this.$loading = this.$refs.loading;
    },

    methods: {
      /**
       * Set the application layout.
       *
       * @param {String} layout
       */
      setLayout(layout) {
        if (!layout || !layouts[layout]) {
          layout = this.defaultLayout
        }

        this.layout = layouts[layout]
      }
    }

  };
</script>

<style lang='css'>
  .el-upload {
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>