<template>
	<div id="MainStandEmprendimentsContainer">
		<div class="container-fluid">
			<div class="row">
				<div class="col-12">
					<h1 class="font-italic text-center mb-5 text-dark">{{$t('emprendiments')}}</h1>
				</div>
			</div>
		</div>

		<div class="container-fluid">
			<div class="row justify-content-md-center">
				<div class="col-12 col-md-6">
					<el-form>
						<div class="row">
							<div class="col-12">
								<div class="col-12 col-md-12 input-group">
									<input type="text" v-model="filter.nombre" class="form-control form-control-underlined" />
									<!-- <el-input placeholder="Please input" v-model="input" class="" clearable></el-input> -->
									<div class="input-group-append">
										<el-button size="small">
											<fa icon="search" />
										</el-button>
									</div>
								</div>
							</div>
						</div>

						<el-row>
							<el-col :span="24">
								<el-divider></el-divider>
							</el-col>
						</el-row>

						<div class="row">
							<div class="col-12">
								<h4 class="text-center text-white">Filtrar por categorias</h4>
							</div>
						</div>

						<div class="row justify-content-center mt-3 mb-md-3">
							<div class="col-8 col-md-12">
								<div class="row justify-content-center align-items-md-center flex-md-column">
									<p for class="text-center text-white">{{$t('category')}}</p>
									<el-select v-model="select_cat" clearable :placeholder="$t('select')">
										<el-option label="Todos" :value="null"></el-option>
										<el-option v-for="(item,key) in Cat_Categories" :key="key" :label="item.nombre" :value="item.id">
										</el-option>
									</el-select>
								</div>
							</div>
						</div>
					</el-form>
				</div>
			</div>
		</div>

		<!-- <div class="bg-light"> -->
		<div>
			<div class="container">
				<div class="row justify-content-md-around">
					<div class="col-md-4" v-for="(emprendiment,index,key) in filter_emprendiments" :key="key"
						v-if="emprendiment.id_category == select_cat ? true : select_cat == null">
						<div class="card mb-4 shadow">
							<img v-if="emprendiment.images[0].url.search('localhost')>0" :src="emprendiment.images[0].url" alt class="card-img-top" />
							<img v-else :src="'/'+emprendiment.images[0].url" alt class="card-img-top" />
							<div class="card-body">
								<p class="card-tittle font-italic">
									<a href="#">{{emprendiment.nombre}}</a>
								</p>
								<p class="card-text text-justify">
										{{emprendiment.descripcion}}
									</p>
								<div class="d-flex justify-content-between align-items-center">
									<el-button v-if="$check()" circle size="medium" type="primary" plain
										@click="$router.push({name: 'site.emprendiments.view', params: {id:emprendiment.id}})"
										icon="el-icon-view"></el-button>
								</div>
							</div>

						</div>
							

						<!-- <div class="card mb-4 shadow-sm" v-if="emprendiment.id_category == select_cat">
			          	
			          	<img :src="$imgUrl('emprendProfile.jpg')" alt="" class="card-img-top">
			            
			            <div class="card-body">
			            	<p class="card-tittle font-italic">
				              	<a href="#">{{emprendiment.nombre}}</a>
				            </p>
			            	
			              <div class="d-flex justify-content-between align-items-center">
			                <div class="btn-group">
			                  <button type="button" class="btn btn-sm btn-outline-primary">{{$t('details')}} </button>
			                  
			                </div>
			                <small class="text-muted">9 mins</small>
			              </div>
			            </div>
            </div>-->
					</div>
				</div>
			</div>
		</div>

		<footer style="margin-bottom:0px !important; background-image:linear-gradient(-225deg, #231557 0%, #44107A 29%, #FF1361 67%, #FFF800 100%); !important;padding: 1rem;color: whitesmoke;">

			<p class="float-right">
				<el-button type="danger" @click="topFunction()" icon="el-icon-top" circle>

				</el-button>
			</p>
			<p>© 2018-2019 Software Solution Oriente, Inc. · SisGEmp
				Privacy · Terms
			</p>

		</footer>
	</div>
</template>

<script>
	import {
		mapGetters,
		mapActions
	} from "vuex";

	export default {
		layout: "default",

		data() {
			return {
				select_cat: null,
				min: 0,
				max: 0,
				filter: {
					nombre: ""
				}
			};
		},

		computed: {
			...mapGetters({
				Emprendiments: "emprendiments/emprendiments",
				Categories: "emprendiments/categories",

				Cat_Categories: "categories/categories"
			}),

			filter_emprendiments() {
				if (this.filter.nombre.length > 2) {
					return this.Emprendiments.filter(emprendiment => {
						console.log(
							emprendiment.nombre.toLowerCase().includes(this.filter.nombre)
						);
						return emprendiment.nombre.toLowerCase().includes(this.filter.nombre);
					});
				}

				return this.Emprendiments;
				/*return _.orderBy(this.Emprendiments, 'nombre')*/
				console.log("ordenados", this.Emprendiments);
			}
		},

		methods: {
			...mapActions({
				FetchEmprendiments: "emprendiments/fetchStandEmprendiments",
				FetchCategories: "emprendiments/fetchCategories",

				FetchCat_Categories: "categories/fetchCategories"
			}),

			topFunction() {
				document.body.scrollTop = 0;
				document.documentElement.scrollTop = 0;
			}
		},

		metaInfo() {
			return {
				title: this.$t("home")
			};
		},

		mounted() {
			this.$cargar(false);
			this.FetchEmprendiments();
			this.FetchCategories();

			this.FetchCat_Categories();
			if (this.$route.params.categoria != undefined) {
				this.select_cat = this.$route.params.categoria;
			}
		}
	};
</script>

<style lang="css" scoped>
	#MainStandEmprendimentsContainer {
		margin-top: 10%;
		width: 100%;
	}
	.card-img-top{
		max-height: 270px;
	}
	.card-text {
		height: 110px;  
	}
	@media (max-width: 768px) {
		#MainStandEmprendimentsContainer {
			margin-top: 30%;
			width: 100%;
		}

		h1 {
			font-size: 24px;
			font-family: "custom1";
		}
	}
</style>