<template>
	<div id="MainStandEmprendimentsContainer">

		

		<div class="container-fluid">
			<div class="row">
				<div class="col-12">
					<h1 class="font-italic text-center mb-5 text-dark">{{$t('events')}}</h1>
				</div>
			</div>
		</div>

		<el-row type="flex" justify="center">
			<el-col :span="10">
				<el-form>

					<el-row>
						<el-col :span="24">
							<div class="col-md-12 input-group">
								<input type="text" v-model="filter.nombre" class="form-control form-control-underlined">
								<!-- <el-input placeholder="Please input" v-model="input" class="" clearable></el-input> -->
								<div class="input-group-append">
									<el-button size="medium">
										<fa icon="search" />
									</el-button>

								</div>
							</div>
						</el-col>
					</el-row>

					<el-row>
						<el-col :span="24">
							<el-divider></el-divider>
						</el-col>
					</el-row>

					<!-- <el-row>
						<el-col :span="24">
							<h4 class="text-center">Filtrar</h4>
						</el-col>
					</el-row> -->
					<el-row>
						<el-col :span="12">

							<el-row>
								<el-col :span="24">
									<div class="text-center"><span>Precio</span></div>
								</el-col>
							</el-row>
							<el-row>
								<el-col :span="12">
									<div class="d-flex justify-content-center align-items-center flex-column">
										<span>Min</span>
										<el-input-number class="w-100" :controls="false" v-model="min" :min="0" :max="10000000">
										</el-input-number>
									</div>
								</el-col>
								<el-col :span="12">
									<div class="d-flex justify-content-center align-items-center flex-column">
										<span>Max</span>
										<el-input-number class="w-100" :controls="false" v-model="max" :min="0" :max="10000000">
										</el-input-number>
									</div>
								</el-col>
							</el-row>

						</el-col>
						<el-col :span="12">

							<el-row>
								<el-col :span="24">
									<div class="text-center"><span>Motivo</span></div>
								</el-col>
							</el-row>
							<el-row>
								<el-col :span="24">
									<div class="d-flex justify-content-center align-items-center flex-column">
										<br>
										<el-select placeholder="Motivo de evento">
											<el-option v-for="(event,key) in Events" :key="key" :value="event.motivo">{{event.motivo}}
											</el-option>

										</el-select>
									</div>
								</el-col>
							</el-row>

						</el-col>





					</el-row>

				</el-form>
			</el-col>
		</el-row>
		<div class="album py-5 bg-light">

			<div class="container">
				<div class="row">

					<div class="col-md-4" v-for="(event,index,key) in filter_events" :key="key">
						<div class="card mb-4 shadow">
							<img v-if="event.images[0].url.search('localhost')>0" :src="event.images[0].url" alt="" class="card-img-top">
							<img v-else :src="'/'+event.images[0].url" alt="" class="card-img-top">

							<div class="card-body">
								<p class="card-tittle font-italic">
									<a href="#">{{event.nombre}}</a>
								</p>
								<p class="card-text text-justify">
									{{event.motivo}}
								</p>
								<div class="d-flex justify-content-between align-items-center">

									<el-button v-if="$check()" circle size="medium" type="primary" plain
										@click="$router.push({name: 'site.events.view', params: {id:event.id}})" icon="el-icon-view">
									</el-button>

									<small class="text-muted">9 mins</small>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
		<footer style="margin-bottom:0px !important; background-image:linear-gradient(-225deg, #231557 0%, #44107A 29%, #FF1361 67%, #FFF800 100%); !important;padding: 1rem;color: whitesmoke;">

			<p class="float-right">
				<el-button type="danger" @click="topFunction()" icon="el-icon-top" circle>

				</el-button>
			</p>
			<p>© 2018-2019 Software Solution Oriente, Inc. · SisGEmp
				Privacy · Terms
			</p>

		</footer>
	</div>


</template>

<script>
	import {
		mapGetters,
		mapActions
	} from 'vuex';

	export default {
		layout: 'default',

		data() {
			return {
				min: 0,
				max: 0,
				filter: {
					nombre: '',
				}
			}
		},

		computed: {
			...mapGetters({

				Events: 'events/eventsStand',

			}),
			filter_events() {
				if (this.filter.nombre.length > 2) {
					return this.Events.filter((event) => {
						console.log(event.nombre.toLowerCase().includes(this.filter.nombre));
						return event.nombre.toLowerCase().includes(this.filter.nombre)
					})
				}

				return this.Events
			},
		},

		methods: {
			...mapActions({
				FetchEvents: 'events/fetchEventsStand',
			}),

			topFunction() {
				document.body.scrollTop = 0;
				document.documentElement.scrollTop = 0;
			},



		},

		metaInfo() {
			return {
				title: this.$t('home')
			}
		},

		mounted() {
			this.$cargar(false);
			this.FetchEvents();
		},

	};
</script>
<style lang="css" scoped>
	.card-img-top{
		height: 270px;
	}
	.card-text {
		height: 110px;  
	}
	#MainStandEmprendimentsContainer {
		margin-top: 12%;
		width: 100%;
	}
</style>