<template>
	<div>
		<h1 class="font-italic text-center mb-5">{{$t('events')}}</h1>
		<el-row type="flex" justify="center">
			<el-col :span="10">
				<el-form>

					<el-row>
						<el-col :span="24">
							<div class="col-md-12 input-group">
								<input type="text" v-model="filter.nombre" class="form-control form-control-underlined">
								<!-- <el-input placeholder="Please input" v-model="input" class="" clearable></el-input> -->
								<div class="input-group-append">
									<el-button size="medium">
										<fa icon="search" />
									</el-button>

								</div>
							</div>
						</el-col>
					</el-row>

					<el-row>
						<el-col :span="24">
							<el-divider></el-divider>
						</el-col>
					</el-row>

					<!-- <el-row>
						<el-col :span="24">
							<h4 class="text-center">Filtrar</h4>
						</el-col>
					</el-row> -->
					<el-row>
						<el-col :span="12">

							<el-row>
								<el-col :span="24">
									<div class="text-center"><span>Precio</span></div>
								</el-col>
							</el-row>
							<el-row>
								<el-col :span="12">
									<div class="d-flex justify-content-center align-items-center flex-column">
										<span>Min</span>
										<el-input-number class="w-100" :controls="false" v-model="min" :min="0" :max="10000000">
										</el-input-number>
									</div>
								</el-col>
								<el-col :span="12">
									<div class="d-flex justify-content-center align-items-center flex-column">
										<span>Max</span>
										<el-input-number class="w-100" :controls="false" v-model="max" :min="0" :max="10000000">
										</el-input-number>
									</div>
								</el-col>
							</el-row>

						</el-col>
						<el-col :span="12">

							<el-row>
								<el-col :span="24">
									<div class="text-center"><span>Motivo</span></div>
								</el-col>
							</el-row>
							<el-row>
								<el-col :span="24">
									<div class="d-flex justify-content-center align-items-center flex-column">
										<br>
										<el-select placeholder="Motivo de evento">
											<el-option v-for="(event,key) in Events" :key="key" :value="event.motivo">{{event.motivo}}
											</el-option>

										</el-select>
									</div>
								</el-col>
							</el-row>

						</el-col>





					</el-row>

				</el-form>
			</el-col>
		</el-row>
		<div class="album py-5 bg-light">

			<div class="container">
				<div class="row">

					<div class="col-md-4" v-for="(event,index,key) in filter_events" :key="key">
						<div class="card mb-4 shadow-sm">
							<img :src="$imgUrl('emprendProfile.jpg')" alt="" class="card-img-top">

							<div class="card-body">
								<p class="card-tittle font-italic">
									<a href="#">{{event.nombre}}</a>
								</p>
								<p class="card-text text-justify">
									{{event.descripcion}}
								</p>
								<div class="d-flex justify-content-between align-items-center">
									<div class="btn-group">
										<button type="button" class="btn btn-sm btn-outline-primary">{{$t('details')}} </button>

									</div>
									<small class="text-muted">9 mins</small>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<footer class="container">
				<p class="float-right"><a href="#top">Back to top</a></p>
				<p>© 2018-2019 Software Solution Oriente, Inc. · SisGEmp <a href="#">Privacy</a> · <a href="#">Terms</a></p>
			</footer>
		</div>
	</div>


</template>

<script>
	import {
		mapGetters,
		mapActions
	} from 'vuex';

	export default {
		layout: 'default',

		data() {
			return {
				min: 0,
				max: 0,
				filter: {
					nombre: '',
				}
			}
		},

		computed: {
			...mapGetters({

				Events: 'events/eventsStand',

			}),
			filter_events() {
				if (this.filter.nombre.length > 2) {
					return this.Events.filter((event) => {
						console.log(event.nombre.toLowerCase().includes(this.filter.nombre));
						return event.nombre.toLowerCase().includes(this.filter.nombre)
					})
				}

				return this.Events
			},
		},

		methods: {
			...mapActions({
				FetchEvents: 'events/fetchEventsStand',
			}),


		},

		metaInfo() {
			return {
				title: this.$t('home')
			}
		},

		mounted() {
			this.$cargar(false);
			this.FetchEvents();
		},

	};
</script>