<template>
	<div id="MainStandEmprendimentsContainer">
		
		<div class="container-fluid">
			<div class="row">
				<div class="col-12">
					<h1 class="font-italic text-center mb-5 text-dark">Productos/Servicos</h1>
				</div>
			</div>
		</div>
		<el-row type="flex" justify="center">
			<el-col :span="10">
				<el-form>

					<el-row>
						<el-col :span="24">
							<div class="col-md-12 input-group">
								<input type="text" v-model="filter.nombre" class="form-control form-control-underlined">
								<!-- <el-input placeholder="Please input" v-model="input" class="" clearable></el-input> -->
								<div class="input-group-append">
									<el-button size="medium">
										<fa icon="search" />
									</el-button>

								</div>
							</div>
						</el-col>
					</el-row>

					<el-row>
						<el-col :span="24">
							<el-divider></el-divider>
						</el-col>
					</el-row>

					<el-row>
						<el-col :span="24">
							<h4 class="text-center">Por rango</h4>
						</el-col>
					</el-row>
					<el-row type="flex" align="middle" justify="space-between">
						<el-col :span="12">
							<div class="d-flex justify-content-center align-items-center flex-column">
								<span>Min</span>
								<el-input-number :controls="false" v-model="min" :min="0" :max="10000000"></el-input-number>
							</div>
						</el-col>
						<el-col :span="12">
							<div class="d-flex justify-content-center align-items-center flex-column">
								<span>Max</span>
								<el-input-number :controls="false" v-model="max" :min="0" :max="10000000"></el-input-number>
							</div>
						</el-col>




					</el-row>

				</el-form>
			</el-col>
		</el-row>
		<div class="album py-5">
			<!-- <div class="container">
				<div class="row cols">
					{{Products}}
				</div>
			</div> -->
			<div class="container">
				<div class="row">

					<div class="col-md-4" v-for="(producto,index,key) in filter_products" :key="key">
						<div class="card mb-4 shadow">
							
							<img :src="producto.images[0].url" alt="" class="card-img-top">

							<!-- <img  :src="'/'+producto.images[0].url" alt="" class="card-img-top"> -->
							

							<!-- <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
			            	<title>Placeholder</title>
			            	<rect width="100%" height="100%" fill="#55595c"></rect>
			            	<text x="50%" y="50%" fill="#eceeef" dy=".3em">Productos/Servicios</text>
			            </svg> -->
							<div class="card-body">
								<p class="card-tittle font-italic">
									<a href="#">{{producto.nombre}}</a>
								</p>
								<p class="card-text text-justify">
									{{producto.descripcion}}
								</p>
								<div class="d-flex justify-content-between align-items-center">

									<el-button v-if="$check()" circle size="medium" type="primary" plain
										@click="$router.push({name: 'site.products.view', params: {id:producto.id}})" icon="el-icon-view">
									</el-button>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<footer style="margin-bottom:0px !important; background-image:linear-gradient(-225deg, #231557 0%, #44107A 29%, #FF1361 67%, #FFF800 100%); !important;padding: 1rem;color: whitesmoke;">

			<p class="float-right">
				<el-button type="danger" @click="topFunction()" icon="el-icon-top" circle>

				</el-button>
			</p>
			<p>© 2018-2019 Software Solution Oriente, Inc. · SisGEmp
				Privacy · Terms
			</p>

		</footer>
	</div>


</template>

<script>
	import {
		mapGetters,
		mapActions
	} from 'vuex';

	export default {
		layout: 'default',

		data() {
			return {
				min: 0,
				max: 0,
				filter: {
					nombre: '',
				}
			}
		},

		computed: {
			...mapGetters({

				Products: 'products/products',

			}),
			filter_products() {
				if (this.filter.nombre.length > 2) {
					return this.Products.filter((product) => {
						console.log(product.nombre.toLowerCase().includes(this.filter.nombre));
						return product.nombre.toLowerCase().includes(this.filter.nombre)
					})
				}

				return this.Products
			},
		},
		watch:{
			Products:function(){
				
				let context=this;
				this.Products.forEach(function(product){
					
					if(product.images[0].url.search("localhost")>0){
						console.log("Product: ",product.images[0].url);	
					}else{
						product.images[0].url='/'+product.images[0].url
					}
				});

			}
		},
		methods: {
			...mapActions({
				FetchProducts: 'products/fetchStandProducts',
			}),

			topFunction() {
				document.body.scrollTop = 0;
				document.documentElement.scrollTop = 0;
			},


		},

		metaInfo() {
			return {
				title: this.$t('home')
			}
		},

		mounted() {
			this.$cargar(false);
			this.FetchProducts();
		},

	};
</script>

<style lang='css' scoped>
	.card-img-top{
		max-height: 270px;
	}
	.card-text {
		height: 110px;  
	}
	#MainStandEmprendimentsContainer {
		margin-top: 12%;
		width: 100%;
	}
</style>