<template>
  <card :title="$t('products')+'/'+$t('services')" :color="'#3d4c9e'" style="margin-top:9%;">
	  <el-tabs :tab-position="tabPosition" v-model="step">
				
      <!-- first tab form -->
	    <el-tab-pane v-if="true" name="1" :label="$t('info')" :disabled="disableTab('1')">
	      <el-form 
        :model="modelForm" 
        :rules="rulesForm"
        :status-icon="true"
        ref="modelForm1" 
        label-position="top"
        label-width="120px">

	        <el-form-item label="Nombre" prop="name">
	          <el-input minlength="4" maxlength="200" show-word-limit v-model="modelForm.name" type="text" placeholder="Nombre Producto"></el-input>
	        </el-form-item>

	        <el-form-item label="Descripcion" prop="description">
            
                <el-input minlength="4" maxlength="400" show-word-limit :rows="7" v-model="modelForm.description" type="textarea" placeholder="description"></el-input>
              </el-col>
                 
	        </el-form-item>

	        <el-form-item label="Precio" prop="price">
	          <el-input minlength="4" maxlength="200" show-word-limit v-model.number="modelForm.price" placeholder="price"></el-input>
	        </el-form-item>

	        <el-row type="flex" justify="space-between">
	          <el-button size="medium" type="danger" round @click="$cancelForm()">{{ $t('cancel') }}</el-button>

	          <el-button size="medium" type="primary" round @click="$nextForm(context,'modelForm1')">{{ $t('continue') }}</el-button>
	        </el-row>

	      </el-form>
	    </el-tab-pane>

			<!-- second tab form -->
	    <el-tab-pane v-if="true" name="2" :label="$t('images')" :disabled="disableTab('2')">
		    <el-form 
        :model="modelForm" 
        :rules="rulesForm"
        :status-icon="true"
        ref="modelForm2" 
        label-position="top"
        label-width="120px">

          <el-form-item label="Imagenes" prop="images">
            <el-row type="flex">
  		        <el-upload 
              ref="upload" 
              list-type="picture-card"
              :file-list="modelForm.images"
              :action="urlUpload" 
              :auto-upload="true" 
              :limit="limitImage"
              :on-success="$uploadSuccess"
              :before-upload="$beforeUpload" 
              :on-exceed="$handleExceed"
              :on-error="$handleError"
              :on-preview="$handlePictureCardPreview" 
              :on-change="handleChange"
              :on-remove="handleRemove" >
  						  <i class="el-icon-plus"></i>
  						</el-upload>

  						<el-dialog :visible.sync="dialogVisible">
  						  <img width="100%" :src="dialogImageUrl" alt="">
  						</el-dialog>
            </el-row>
          </el-form-item>

	        <el-row type="flex" justify="space-between">
	          <el-button size="medium" type="danger" round @click="$cancelForm()">{{ $t('cancel') }}</el-button>

	          <div>
		          <el-button size="medium" type="default" round @click="step=$backForm(step)">{{ $t('back') }}</el-button>

		          <el-button size="medium" type="primary" round @click="$nextForm(context,'modelForm2')">{{ $t('continue') }}</el-button>
	          </div>
	        </el-row>

	      </el-form>
			</el-tab-pane>
	    
			<!-- final tab form -->
	    <el-tab-pane v-if="true" name="3" :label="$t('review')" :disabled="disableTab('3')">
        <div class="row mt-1 mb-2">
          <div class="col-sm-2">
            <label for="">Nombre: </label>               
          </div>
          <div class="col">
            {{ modelForm.name }}
          </div>
        </div>
        <div class="row mt-1 mb-2">
          <div class="col-sm-2">
            <label for="">Descripción: </label>               
          </div>
          <div class="col">
            {{ modelForm.description }}
          </div>
        </div>
        <div class="row mt-1 mb-2">
          <div class="col-sm-2">
            <label for="">Precio: </label>               
          </div>
          <div class="col">
            {{ modelForm.price }}
          </div>
        </div>
        <div class="row mt-1 mb-2">
          <div class="col-sm-2">
            <label for="">Imagenes: </label>               
          </div>

          <el-row type="flex">
            <div class="block" >
              <span v-if="false" class="demonstration">{{ $t('image') }}</span>

              <el-image 
              v-for="(item,key) in modelForm.images" 
              :key="key" 
              :src="item.url" 
              :fit="fit" 
              style="width: 100px; height: 100px; margin: 0.5rem;">
                <div slot="placeholder" class="image-slot">
                  {{ $t('loading') }}<span class="dot">...</span>
                </div>
                <div slot="error" class="image-slot">
                  <i class="el-icon-picture-outline"></i>
                </div>
              </el-image>

            </div>
          </el-row>
        </div>
	    	
	    	<el-row type="flex" justify="space-between">
          <el-button size="medium" type="danger" round @click="$cancelForm()">{{ $t('cancel') }}</el-button>
          
          <div>
	          <el-button size="medium" type="default" round @click="step=$backForm(step)">{{ $t('back') }}</el-button>

	          <el-button size="medium" type="primary" round @click="submitForm('modelForm1')">{{ $t('save') }}</el-button>
          </div>
        </el-row>
	    </el-tab-pane>
		</el-tabs>
    
  </card>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
  middleware: 'auth',

  computed:{
    ...mapGetters({
        Product: 'products/product',
    })
  },
  components: {

  },
  mounted(){
    if(this.$route.params.id!=null){
      console.log("FETCH");
      this.FetchProduct([this.$route.params.id]);
    }
  },
  metaInfo () {
    return { title: this.$t('products') }
  },

  data(){
      return {
        context: this,
        
        fit:'cover',

        limitImage: 4,
        urlUpload: 'http://localhost:8000/api/image/upload',

      	dialogImageUrl: '',
        dialogVisible: false,

      	tabPosition: 'right', // top right
      	step: '1',

        modelForm: {
          name: null,
          description: null,
          price: null,
          
          images: []
        },

      }
    },
    watch: {
      Product:function(val){
        
        if(val){
          this.modelForm.name=this.Product.nombre;
          this.modelForm.description=this.Product.descripcion;
          this.modelForm.price=this.Product.precio;

          for(let i=0;i<this.Product.images.length;i++){
            this.modelForm.images.push(this.Product.images[i]);
          }
        }
          
        
      }
    },
    methods: {
    	...mapActions({
	      CreateProduct: 'products/createProduct',
        FetchProduct: 'products/fetchProduct',
        UpdateProduct: 'products/updateProduct',
	    }),

    	alertas(item){
    		console.log('lsadas');
    		return true;
    	},

    	disableTab(tab){
    		if (this.step==tab) {
    			return false;
    		}else{
    			return true;
    		}
    	},

      submitForm(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            if(this.$route.params.id==null)
          	this.CreateProduct([this,this.modelForm]);
            else
              this.UpdateProduct([this,this.modelForm]);
          } else {
            console.log('Error al enviar el formulario!!');
            this.$alerta('warning', this.$t('form_error') );
            return false;
          }
        });
      },

      resetForm(formName) {
        this.$refs[formName].resetFields();
      },

      handleRemove(file, fileList) {
        this.modelForm.images = fileList.slice(-this.limitImage);
      },

      handleChange(file, fileList) {
        this.modelForm.images = fileList.slice(-this.limitImage);
      },

      

      
      //<!--<input type="file" accept="image/*" @change="uploadImage($event)" id="file-input">-->
      /*async uploadImage(event) {
        var url = await this.$uploadImage(event);
        this.modelForm.images.push( url );
      },*/

  	},

};
</script>

<style lang='css'>
  .card-header{
    background-color: #0091ea;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center!important;
    font-size: 20px;
    height: 100%;
  }
</style>