<template>
  <card :title="$t('products')+'/'+$t('services')"  :color="'#3d4c9e'" :module="$attrs.module" :link="false"style="margin-top:9%;">

    <el-button v-if="$role('emprend')" type="primary" size="medium" round @click="$router.push({path: $attrs.module+'/form'})" >{{ $t('add_new') }} </el-button>

    <DataTable :tableData="tableData[currentPage-1]" :tableFields="fields" :module="$attrs.module" :type="typeButtons" />

    <el-row class="clear-fix"><!-- paso1 -->
        <div class="block">
          <span class="demonstration"></span>
          <el-pagination
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :current-page.sync="currentPage"
            :page-sizes="[5, 10, 20, 50]"
            :page-size="paginate"
            :pager-count="11"
            layout="sizes, prev, pager, next"
            :total="Products!=null?Products.length:1">
          </el-pagination>
        </div>
      </el-row>

  </card>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
  middleware: 'auth',

  metaInfo () {
    return { title: this.$t(this.$attrs.module) };
  },

  computed: mapGetters({
    Products: 'products/products',
  }),

  data() {
    return {
      totalPaginate: 1,//<!-- paso7-->
      currentPage: 1,//<!-- paso8-->
      paginate: 5,//<!-- paso9-->
      tableData: [],//<!-- paso10-->

      fields: [
        {
          prop: 'nombre',
          label: this.$t('name'),
          colum: true
        },
        {
          prop: 'precio',
          label: this.$t('price'),          
          colum: true
        },
        {
          prop: 'emprend_name',
          label: this.$t('emprend_name'),                    
          colum: true
        },
        
        {
          prop: 'descripcion',
          label: 'Descripcion',
          colum: false
        },
      ],
      
      typeButtons: [
        {
          tipo: 'view',
          role: ['super','admin','emprend']
        },
        {
          tipo: 'edit',
          role: ['emprend']
        },
        {
          tipo: 'delete',
          role: ['emprend']
        },
      ],
    }
  },

  methods: {  
    ...mapActions({    
  	   FetchProducts: 'products/fetchProducts',    
      }),

    handleSizeChange(val) {//<!-- paso2 -->
      console.log(`${val} items per page`);
      this.paginate=val;
      this.$paginate(this.Products,this.paginate,this.totalPaginate,this);
    },

    handleCurrentChange(val) {//<!-- paso3 -->
      console.log(`current page: ${val}`);
      this.currentPage=val;
    },
  },

  async mounted() {
    await this.FetchProducts();
    this.$paginate(this.Products,this.paginate,this.totalPaginate,this);//<!-- paso6-->
    
  },

};
</script>

<style  scoped>
  .card-header{
    background-color: #67C23A;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center!important;
    font-size: 20px;
    height: 100%;
  }
</style>