<template>
	<card :title="$t('products')+'/'+$t('services')" :color="'#3d4c9e'" style="margin-top:9%;">
		<el-row>
			<el-col :span="11">
				<el-row class="mb-5">
					<el-col :span="24">
						<img v-if="imgFocus.search('localhost') > -1" :src="imgFocus" alt="" class="w-100 img-fluid"
							style="height:200px;">
						<img v-else :src="'/'+imgFocus" alt="" class=" img-fluid" style="height:200px;">
					</el-col>
				</el-row>
				<el-row type="flex" justify="space-around" align="middle">
					<el-col :span="5" v-for="(img,index) in Product.images" :key="index">
						<a href="#" @click="ClickImgFocus(index)">
							<img v-if="img.url.search('localhost') > -1" :src="img.url" alt="" class="img-fluid">
							<img v-else :src="'/'+img.url" alt="" class="img-fluid">
						</a>

					</el-col>
				</el-row>

			</el-col>
			<el-col :span="13">
				<el-row type="flex" justify="start">
					<el-col :span="24">
						<el-row>
							<strong>{{$t('emprend')}}:</strong> <br>
							<p class="text-justify">
								{{Product.emprend_name}}
							</p>
							<el-divider class="w-100"></el-divider>
						</el-row>
						<el-row>
							<strong><strong>{{$t('name')}}:</strong>:</strong> <br>
							<p class="text-justify">
								{{Product.nombre}}
							</p>
							<el-divider class="w-100"></el-divider>
						</el-row>
						<el-row>
							<strong>{{$t('description')}}:</strong> <br>
							<p class="text-justify">
								{{Product.descripcion}}
							</p>
							<el-divider class="w-100"></el-divider>
						</el-row>
						<el-row>
							<strong>{{$t('publication_date')}}:</strong> <br>
							<p class="text-justify">
								<p class="text-justify">{{Product.created_at}}</p>
							</p>
							<el-divider class="w-100"></el-divider>
						</el-row>
						<el-row>
							<strong>{{$t('cost')}}:</strong> <br>
							<p class="text-justify">
								{{Product.precio}} Bs.S
							</p>
							<el-divider class="w-100"></el-divider>
						</el-row>
					</el-col>

				</el-row>
				<!-- <el-row type="flex" justify="start">
   				<ul style="list-style:none; ">
   					<li class="ListDataEvent">
   						<el-row>
   							<el-col :span="24">
   								<strong>{{$t('emprend')}}:</strong>
   							</el-col>
   							<el-col :span="24">
   								<p class="text-justify">
		   							{{Product.emprend_name}}
		   						</p>
   							</el-col>
   						</el-row>
   					</li>
   					<li class="ListDataEvent">

   						<el-row>
   							<el-col :span="24">
   								<strong>{{$t('name')}}:</strong>
   							</el-col>
   							<el-col :span="24">
   								<p class="text-justify">
		   							{{Product.nombre}}
		   						</p>
   							</el-col>
   						</el-row>

   					</li>
   					<li class="ListDataEvent ">

   						<el-row>
   							<el-col :span="24">
   								<strong>{{$t('description')}}:</strong>
   							</el-col>
   							<el-col :span="24">
   								<p class="text-justify">
		   							{{Product.descripcion}}
		   						</p>
   							</el-col>
   						</el-row>
   					</li>

   					<li class="ListDataEvent">

   						<el-row>
   							<el-col :span="24">
   								<strong>{{$t('publication_date')}}:</strong>
   							</el-col>
   							<el-col :span="24">
   								<p class="text-justify">{{Product.created_at}}</p>
   							</el-col>
   						</el-row>
   					</li>
   					<li class="ListDataEvent">

   						<el-row>
   							<el-col :span="24">
   								<strong>{{$t('cost')}}:</strong>
   							</el-col>
   							<el-col :span="24">
   								<p class="text-justify">{{Product.precio}} Bs.S</p>
   							</el-col>
   						</el-row>


   					</li>
   				</ul>
   			</el-row> -->
			</el-col>
		</el-row>
		<el-row v-if="$role('admin') || $role('super') ? true:false">
			<el-col :span="24">
				<div v-if="(Product.estado=='APPROVED' || Product.estado=='REJECTED') ? false:true "
					class="d-flex justify-content-end align-items-center">
					<el-button @click="changeState('APPROVED')" size="medium" type="primary">

						<fa :icon="['fas','check']" />
						<span>{{$t('approve')}} </span>

					</el-button>

					<el-button @click="changeState('REJECTED')" size="medium" type="danger">

						<fa :icon="['fas','times']" />
						<span>{{$t('reject')}} </span>

					</el-button>
					<router-link class="ml-3" :to="{name:'site.products'}">
						<el-button size="medium" type="info" >{{$t('cancel')}}</el-button>
					</router-link> 
				</div>
				<div v-else-if="(Product.estado=='APPROVED' || Product.estado=='PENDING') ? true:false"
					class="d-flex justify-content-end align-items-center">
					<el-button v-if="Product.estado=='PENDING'" @click="changeState('APPROVED')" size="medium" type="primary">

						<fa :icon="['fas','check']" />
						<span>{{$t('approve')}} </span>

					</el-button>

					<el-button v-else @click="changeState('PENDING')" size="medium" type="warning">

						<fa :icon="['fas','times']" />
						<span>{{$t('banner')}} </span>

					</el-button>
					<router-link class="ml-3" :to="{name:'site.products'}">
						<el-button size="medium" type="danger" >{{$t('cancel')}}</el-button>
					</router-link> 
				</div>

			</el-col>
		</el-row>

	</card>
</template>

<style scope>
	.ListDataEvent {
		min-height: 2em;
	}
</style>

<script>
	import {
		mapGetters,
		mapActions
	} from 'vuex';

	export default {
		//middleware: 'auth',

		metaInfo() {
			return {
				title: this.$t('products')
			}
		},
		created() {

			//this.imgFocus=this.images[0];

			this.fetchProduct([this.$route.params.id]);
		},
		computed: {
			...mapGetters({
				Product: 'products/product',
			})
		},
		data() {
			return {
				imgFocus: '',
			}
		},
		watch: {
			Product: function () {
				this.imgFocus = this.Product.images[0].url;
			}
		},
		methods: {
			...mapActions({
				ChangeStatus: 'products/changeStatus',
				fetchProduct: 'products/fetchProduct',
			}),
			changeState(val) {
				let obj = {
					id: this.$route.params.id,
					button: val,
				};
				this.ChangeStatus([this, obj]);
			},
			ClickImgFocus(ind) {

				this.imgFocus = this.Product.images[ind].url;

			}
		}
	};
</script>