<template>
  <card :title="$t('polls')" :module="$attrs.module" :form="[]" :color="'#008080'" style="margin-top:9%;">
      
	  <el-tabs :tab-position="tabPosition" v-model="step">

      <!-- first tab form -->
	    <el-tab-pane v-if="true" name="1" :label="$t('name')" :disabled="disableTab('1')">
	      <el-form
        :model="modelForm"
        :rules="rulesForm"
        :status-icon="true"
        ref="modelForm1"
        label-position="top"
        label-width="100%">

	        <el-form-item label="Nombre" prop="nombre">
	          <el-input v-model="modelForm.nombre" type="text" placeholder="nombre"></el-input>
	        </el-form-item>

	        <el-row type="flex" justify="space-between">
	          <el-button size="medium" type="danger" round @click="$cancelForm()">{{ $t('cancel') }}</el-button>

	          <el-button size="medium" type="primary" round @click="$nextForm(context,'modelForm1')">{{ $t('continue') }}</el-button>
	        </el-row>

	      </el-form>
	    </el-tab-pane>

      <!-- second tab form -->
	    <el-tab-pane v-if="true" name="2" :label="$t('questions')" :disabled="disableTab('2')">

        <el-button  class="mb-2" type="primary" size="small" round @click="addQuestion()" >{{ $t('add_new') }} </el-button>

		    <el-form
        :model="modelForm"
        :status-icon="true"
        ref="modelForm2"
        label-position="top"
        label-width="100%">

          <el-row v-for="(pregunta,index,key) in modelForm.preguntas" :key="key">
            <card>
              <el-row>
                <el-col :span="24">
                  <el-form-item  :prop="'preguntas.' + index + '.nombre'" :rules="[{required:true, message:'Por favor ingrese una pregunta', trigger:['blur', 'change', 'focus']}]" >

                    <el-row class="label_question" type="flex" justify="space-between" slot="label" style="width: 100% !important;">
                      <div>{{$t('question')}} {{$sumIndex(index)}}</div>

                      <div>
                        <el-button v-if="modelForm.preguntas.length>1" size="medium" type="danger" round @click="dellItem(modelForm.preguntas,index,'pregunta')">{{ $t('dell_question') }}</el-button>

                        <el-button size="medium" type="primary" round @click="addResponse(pregunta.respuestas)">{{ $t('new_response') }}</el-button>
                      </div>
                    </el-row>

                    <el-input v-model="pregunta.nombre"></el-input>
                  </el-form-item>
                </el-col>
              </el-row>

              <el-row v-for="(respuesta,indice,clave) in pregunta.respuestas" :key="indice">
                <el-col :span="24">
                  <el-form-item :prop="'preguntas.' + index + '.respuestas.' + indice + '.nombre'" :label="$t('response')+' '+$sumIndex(indice)" :rules="[{required:true, message:'Por favor ingrese una respuesta', trigger:['blur', 'change', 'focus']}]" >
                    <el-input v-model="respuesta.nombre">
                      <el-button v-if="pregunta.respuestas.length>1" slot="append" icon="el-icon-delete" @click="dellItem(pregunta.respuestas,indice,'respuesta')"></el-button>
                    </el-input>
                  </el-form-item>
                </el-col>
              </el-row>
            </card>

            <hr>
          </el-row>

      
          <el-row type="flex" justify="space-between">
            <el-button size="medium" type="danger" round @click="$cancelForm()">{{ $t('cancel') }}</el-button>

            <div>
  	          <el-button size="medium" type="info" round @click="step=$backForm(step)">{{ $t('back') }}</el-button>

  	          <el-button size="medium" type="primary" round @click="$nextForm(context,'modelForm2')">{{ $t('continue') }}</el-button>
            </div>
          </el-row>

        </el-form>
  		</el-tab-pane>

			<!-- final tab form -->
	    <el-tab-pane v-if="true" name="3" :label="$t('review')" :disabled="disableTab('5')">

        <div class="row mt-1 mb-2">
          <div class="col-sm-3">
            <label for="">Nombre de la encuesta: </label>
          </div>
          <div class="col">
            {{ modelForm.nombre }}
          </div>
        </div>
        <div v-for="(pregunta,indexP,key) in modelForm.preguntas" :key="key">
          <div  class="row mt-1 mb-2">
            <div class="col-sm-3">
              <label for="">Pregunta # {{ indexP + 1}}: </label>
            </div>
            <div class="col">
              {{pregunta.nombre}}            
            </div>
          </div>
          <div v-for="(respuesta,indexR,key) in pregunta.respuestas" :key="key">
            <div  v-if="pregunta.id == respuesta.id_question" class="row mt-1 mb-2">
              <div class="col-sm-3">
                <label for="">Repuesta #{{indexR + 1}}: </label>
              </div>          
              <div  class="col">            
                {{respuesta.nombre}}
              </div>
            </div>
          </div>
          <hr>
        </div>

	    	<el-row type="flex" justify="space-between">
          <el-button size="medium" type="danger" round @click="$cancelForm()">{{ $t('cancel') }}</el-button>

          <div>
	          <el-button size="medium" type="info" round @click="step=$backForm(step)">{{ $t('back') }}</el-button>

	          <el-button size="medium" type="primary" round @click="submitForm('modelForm4')">{{ $t('save') }}</el-button>
          </div>
        </el-row>
	    </el-tab-pane>
		</el-tabs>

  </card>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
  middleware: 'auth',

  components: {

  },

  metaInfo () {
    return { title: this.$t('polls') }
  },

  computed: mapGetters({
    Users: 'users/users',
    UsersIds: 'users/usersIds'
  }),

  data(){
      return {
        context: this,
        
        aux: 0,
        checkAll: false,
        isIndeterminate: false,
        fit:'cover',

        newDateTime: new Date(2016, 9, 10, 18, 40),
        newDate: '01/01/2019',
        newTime: '09:09:09',

        limitImage: 1,
        urlUpload: 'http://localhost:8000/api/image/upload',

      	dialogImageUrl: '',
        dialogVisible: false,

      	tabPosition: 'right', // top right
      	step: '1',

        modelForm: {
          nombre: '',
          preguntas: [
            {
              nombre: '',
              respuestas: [{nombre:''}]
            },
          ]
        },

      	pickerOptions: {
		      start: '00:00',
		      step: '00:01',
		      end: '23:59',
		      //minTime: this.modelForm.hora_inicio,
		      selectableRange: '00:00:00 - 23:59:59'
		    },

      }
    },

    mounted() {
      if (google != undefined && this.$refs.autocomplete != undefined) {
        const input = this.$refs.autocomplete;
        this.autocomplete = new google.maps.places.Autocomplete(
          input,
        );

        this.autocomplete.addListener('place_changed', () => {
          let place = this.autocomplete.getPlace();
          let ac    = place.address_components;
          let lat   = place.geometry.location.lat();
          let lng   = place.geometry.location.lng();
          let lugar = ac[0]["short_name"];

          this.modelForm.lugar=`${place.name} ${place.vicinity}`;
          this.modelForm.lugar2.name=`${place.name} ${place.vicinity}`;
          this.modelForm.lugar2.lat=lat;
          this.modelForm.lugar2.lng=lng;
        });
      }

      this.FetchUsers();
    },

    methods: {
    	...mapActions({
	      CreatePoll: 'polls/createPoll',

	      FetchUsers: 'users/fetchUsers'
	    }),

    	alertas(item){
    		console.log('lsadas');
    		return true;
    	},

    	disableTab(tab){
    		if (this.step==tab) {
    			return false;
    		}else{
    			return true;
    		}
    	},

      handleCheckAllChange(val) {
        this.modelForm.invitados = val ? this.UsersIds : [];
        this.isIndeterminate = false;
      },

      handleCheckedChange(value) {
        let checkedCount = value.length;
        if (this.UsersIds!=null) {
          this.checkAll = checkedCount === this.UsersIds.length;
          this.isIndeterminate = checkedCount > 0 && checkedCount < this.UsersIds.length;
        }
      },

      submitForm(formName) {
        this.$confirm( this.$t('confirm_submit'), this.$t('tittle_alert'), {
          confirmButtonText: this.$t('Si'),
          cancelButtonText: this.$t('No'),
          type: 'warning'
        }).then(() => {
          this.CreatePoll([this, this.modelForm]);
        })
        /*this.$refs[formName].validate((valid) => {
          if (valid) {

          } else {
            console.log('Error al enviar el formulario!!');
            this.$warning(this.$t('form_error') );
            return false;
          }
        });*/
      },

      formats(){
        this.modelForm.fecha = this.$formatDate(this.modelForm.fecha);
        this.modelForm.hora_inicio = this.$formatHour(this.modelForm.hora_inicio);
        this.modelForm.hora_fin = this.$formatHour(this.modelForm.hora_fin);
      },

      dellItem(item, indice, tipo){
        if (item.length>1) {
          item.splice(indice, 1);
        }else{
          this.$warning('Debe agregar almenos una '+tipo);
        }
      },

      resetForm(formName) {
        this.$refs[formName].resetFields();
      },

      handleRemove(file, fileList) {
        this.modelForm.images = fileList.slice(-this.limitImage)
      },

      handleChange(file, fileList) {
        this.modelForm.images = fileList.slice(-this.limitImage)
      },

      addQuestion(){
        this.modelForm.preguntas.push({
          nombre: '',
          respuestas: [{nombre:''}]
        });
      },

      addResponse(item){
        item.push({nombre:''});
      },




  	},

};
</script>

<style lang='css' scoped>
  label {
    width: 100% !important;
  }

  .el-form-item__label {
    width: 100% !important;
  }

  .img_list_emprend{
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
</style>
