<template>
  <card :title="$t('polls')" :color="'#008080'" :module="$attrs.module" :link="false" style="margin-top:9%;">

    <el-button  type="primary" size="medium" round @click="$router.push({path: $attrs.module+'/form'})" >{{ $t('add_new') }} </el-button>

    <DataTable :tableData="tableData[currentPage-1]" :tableFields="fields" :module="$attrs.module" :type="typeButtons" />

    <el-row class="clear-fix"><!-- paso1 -->
        <div class="block">
          <span class="demonstration"></span>
          <el-pagination
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :current-page.sync="currentPage"
            :page-sizes="[5, 10, 20, 50]"
            :page-size="paginate"
            :pager-count="11"
            layout="sizes, prev, pager, next"
            :total="Polls!=null?Polls.length:1">
          </el-pagination>
        </div>
      </el-row>

  </card>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
  middleware: 'auth',

  metaInfo () {
    return { title: this.$t(this.$attrs.module) };
  },

  computed: mapGetters({
    Polls: 'polls/polls'
  }),
  
  data() {
    return {
      totalPaginate: 1,//<!-- paso7-->
      currentPage: 1,//<!-- paso8-->
      paginate: 5,//<!-- paso9-->
      tableData: [],//<!-- paso10-->

      fields: [
        {
          prop: 'nombre',
          label: 'Nombre',
          colum: true
        },
      ],
      
      typeButtons: [
        {
          tipo: 'view',
          role: ['super','admin','emprend']
        },
        {
          tipo: 'respond',
          role: ['super','admin','emprend']
        },
        {
          tipo: 'delete',
          role: ['super','admin',]
        },
      ],
    }
  },

  async mounted() {
    await this.FetchPolls();
    this.$paginate(this.Polls,this.paginate,this.totalPaginate,this);//<!-- paso6-->
  },

  methods: {
    ...mapActions({
    FetchPolls: 'polls/fetchPolls'
  }),
    
    handleSizeChange(val) {//<!-- paso2 -->
      console.log(`${val} items per page`);
      this.paginate=val;
      this.$paginate(this.Polls,this.paginate,this.totalPaginate,this);
    },

    handleCurrentChange(val) {//<!-- paso3 -->
      console.log(`current page: ${val}`);
      this.currentPage=val;
    },

  },
  


};
</script>

<style scoped>
  .card-header{
    background-color: #0091ea;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center!important;
    font-size: 20px;
    height: 100%;
  }
</style>