<template>
  <card :title="$t('polls')" :color="'#008080'" :module="$attrs.module" style="margin-top:9%;">
    <el-tabs :tab-position="tabPosition" v-model="step">

      <el-tab-pane v-if="modelForm.preguntas.length>0" v-for="(pregunta,index,key) in Poll.preguntas" :name="$sumsIndex(index)" :key="key" :label="'Pregunta '+$sumsIndex(index)" :disabled="disableTab($sumsIndex(index))">
        <el-form
        :model="modelForm"
        :status-icon="true"
        ref="modelForm"
        label-position="top"
        label-width="100%">

          <el-row >
            <el-col :span="11">
              <el-form-item  :prop="'preguntas.' + index + '.id_respuesta'" :label="pregunta.nombre" :rules="[{required:true, message:'Message Example2', trigger:['blur', 'change', 'focus']}]" >

                <el-radio-group v-model="modelForm.preguntas[index].id_respuesta">
                  <el-row v-for="(respuesta,indice,clave) in pregunta.respuestas" :key="clave">
                    <el-radio :label="respuesta.id" :key="clave">{{respuesta.nombre}}</el-radio>
                  </el-row>
                </el-radio-group>
              
              </el-form-item>
            </el-col>
          </el-row>

          <el-row type="flex" justify="space-between">
            <el-button size="medium" type="danger" round @click="$cancelForm()">{{ $t('cancel') }}</el-button>

            <div>
              <el-button v-if="step!='1'" size="medium" type="default" round @click="step=$backForm(step)">{{ $t('back') }}</el-button>

              <el-button v-if="$sumIndex(step)!=steps+2" size="medium" type="primary" round @click="$nextForm(context,'modelForm',index)">{{ $t('continue') }}</el-button>
              
              <el-button v-else size="medium" type="primary" round @click="submitForm()">{{ $t('save') }}</el-button>
            </div>
          </el-row>

        </el-form>
      </el-tab-pane>

      <el-tab-pane v-if="true" :name="$sumsIndex(steps)" :label="$t('review')" :disabled="disableTab($sumsIndex(steps))">

        <el-row>
          <el-row type="flex" justify="space-between">
            <el-col :span="24">
              <div  v-if="modelForm.preguntas.length>0" v-for="(pregunta,index,key) in Poll.preguntas" :key="key">
                <el-row >
                  <el-col :span="24">
                    <label for="">Pregunta # {{ $sumsIndex(index) }}: </label>
                  </el-col>
                </el-row >
                <el-row >
                  <el-col :span="24">
                    {{pregunta.nombre}}  
                  </el-col>          
                </el-row >
                <el-row v-for="(respuesta,indice,clave) in pregunta.respuestas" :key="clave">
                  <el-col :span="24">
                    <div >
                      <label for="">Repuesta #{{ $sumsIndex(indice) }}: </label>
                    </div>          
                    <div  class="col">            
                      {{respuesta.nombre}}
                    </div>
                  </el-col>
                </el-row >
                <hr>
              </div>
            </el-col>
            
          </el-row>
          <el-row type="flex" justify="space-between">
              <el-button size="medium" type="danger" round @click="$cancelForm()">{{ $t('cancel') }}</el-button>

              <div>
                <el-button v-if="step!='1'" size="medium" type="default" round @click="step=$backForm(step)">{{ $t('back') }}</el-button>

                <el-button v-if="$sumIndex(step)!=steps+2" size="medium" type="primary" round @click="$nextForm(context,'modelForm',index)">{{ $t('continue') }}</el-button>
                
                <el-button v-else size="medium" type="primary" round @click="submitForm()">{{ $t('save') }}</el-button>
              </div>
            </el-row>
        </el-row>
      </el-tab-pane>

    </el-tabs>
  </card>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
  middleware: 'auth',

  components: {

  },

  metaInfo () {
    return { title: this.$t('polls') }
  },

  computed: mapGetters({
    Poll: 'polls/poll',
  }),

  data(){
      return {
        context: this,
        
        checkList: [],

        aux: 0,
        checkAll: false,
        isIndeterminate: false,
        fit:'cover',

        newDateTime: new Date(2016, 9, 10, 18, 40),
        newDate: '01/01/2019',
        newTime: '09:09:09',

        limitImage: 1,
        urlUpload: 'http://localhost:8000/api/image/upload',

        dialogImageUrl: '',
        dialogVisible: false,

        tabPosition: 'right', // top right
        step: '1',
        steps: 1,

        modelForm: {
          id_encuesta: '',
          preguntas: []
        },

        pickerOptions: {
          start: '00:00',
          step: '00:01',
          end: '23:59',
          //minTime: this.modelForm.hora_inicio,
          selectableRange: '00:00:00 - 23:59:59'
        },

      }
    },

    async mounted() {
      await this.FetchPoll([this.$route.params.id]);
      for (var i = 0; i < this.Poll.preguntas.length; i++) {
        this.modelForm.preguntas.push({id_respuesta: ''});
      }
      this.steps = this.Poll.preguntas.length;
      this.modelForm.id_encuesta = this.Poll.id;
    },

    methods: {
      ...mapActions({
        ResponsePoll: 'polls/responsePoll',

        FetchPoll: 'polls/fetchPoll',

        FetchUsers: 'users/fetchUsers'
      }),

      alertas(item){
          console.log('lsadas');
          return true;
      },

      disableTab(tab){
          if (this.step==tab) {
              return false;
          }else{
              return true;
          }
      },
        
      submitForm() {
        this.$confirm( this.$t('confirm_submit'), this.$t('tittle_alert'), {
          confirmButtonText: this.$t('Si'),
          cancelButtonText: this.$t('No'),
          type: 'warning'
        }).then(() => {
          this.ResponsePoll([this, this.modelForm]);
        });
      },

      resetForm(formName) {
        this.$refs[formName].resetFields();
      },

    },

};
</script>

<style lang='css' scoped>
  label {
    width: 100% !important;
  }

  .el-form-item__label {
    width: 100% !important;
  }

  .img_list_emprend{
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
</style>
