<template>
  <card :title="$t('polls')" :module="$attrs.module" :link="false" :color="'#008080'" style="margin-top:9%;">
  
    <!-- <p>{{Poll_Results}}</p> -->
    <el-row>
      <el-col :span="24">
        <h1 class="text-center">{{Poll_Results.nombre}}</h1>
      </el-col>
    </el-row>
    <el-row>
      <el-col :span="24">
        <small><strong>Cantidad de Respuestas:</strong></small>
        <el-badge :value="Poll_Results.totalRespuestas" class="text-center" type="primary"></el-badge>   
      </el-col>
    </el-row>
     
    <el-row >
      <el-col :span="24" class="mt-4" v-for="(pregunta,indexP,keyP) in Poll_Results.preguntas" :key="keyP">
        <el-row>
          <h3>{{pregunta.pregunta}}</h3>
        </el-row>
        
        <el-row type="flex" justify="space-around" v-if="Poll_Results.preguntas[indexP].respuestas.length <= 3 ? true:false">
          <el-col :span="8" v-for="(respuesta,indexR,keyR) in  Poll_Results.preguntas[indexP].respuestas" :key="keyR" class="mt-4">
            <div class="d-flex justify-content-center align-items-center flex-column">
              <span><strong>{{respuesta.respuesta}}</strong></span> 
              <el-progress color="#ff5722" class="mt-3" type="circle" :percentage="procentaje(indexP,indexR)"></el-progress>
            </div>
            
          </el-col>
        </el-row>

        <el-row v-else>
          <el-col :span="24" v-for="(respuesta,indexR,keyR) in  Poll_Results.preguntas[indexP].respuestas" :key="keyR" class="mt-4">
            <div class="d-flex justify-content-around align-items-center flex-row">

              <span class="ml-3"><strong>{{respuesta.respuesta}}</strong></span> 
              <el-progress style="width:50%; font-weight: bold;" text-inside :stroke-width="12" color="#ff5722" :percentage="procentaje(indexP,indexR)"></el-progress>
              <!-- <el-progress :text-inside="true" :stroke-width="26" style="width:50%;" :percentage="porcentajes[indexR]" class="ml-3"></el-progress> -->
            </div>
            
          </el-col>
        </el-row>

      </el-col>
     
    </el-row>
    
  </card>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
  middleware: 'auth',

  components: {

  },

  metaInfo () {
    return { title: this.$t('polls') }
  },

  computed: {
    ...mapGetters({
      Poll: 'polls/poll',
      Poll_Results: 'polls/poll_result',  
    }),

    
  },
    

  data(){
      return {
        /*porcentajes:[],*/
        context: this,
        
        checkList: [],

        aux: 0,
        checkAll: false,
        isIndeterminate: false,
        fit:'cover',

        newDateTime: new Date(2016, 9, 10, 18, 40),
        newDate: '01/01/2019',
        newTime: '09:09:09',

        limitImage: 1,
        urlUpload: 'http://localhost:8000/api/image/upload',

        dialogImageUrl: '',
        dialogVisible: false,

        tabPosition: 'right', // top right
        step: '1',
        steps: 1,

        modelForm: {
          id_encuesta: '',
          preguntas: []
        },

        pickerOptions: {
          start: '00:00',
          step: '00:01',
          end: '23:59',
          //minTime: this.modelForm.hora_inicio,
          selectableRange: '00:00:00 - 23:59:59'
        },

      }
    },

    async mounted() {
      await this.FetchPoll([this.$route.params.id]);
      for (var i = 0; i < this.Poll.preguntas.length; i++) {
        this.modelForm.preguntas.push({id_respuesta: ''});
      }
      this.steps = this.Poll.preguntas.length;
      this.modelForm.id_encuesta = this.Poll.id;
     await this.Fetch_Results_poll([this,this.$route.params.id]);


    },

    methods: {
      ...mapActions({
        ResponsePoll: 'polls/responsePoll',

        FetchPoll: 'polls/fetchPoll',

        FetchUsers: 'users/fetchUsers',
        Fetch_Results_poll:  'polls/fetchPollResult',
      }),
      /*asignarPorcentajes(){
        let k=0;
        for(let i=0;i<this.Poll_Results.preguntas.length;i++){
          for(let j=0;j<this.Poll_Results.preguntas[i].respuestas.length;j++){
            this.porcentajes[k]=((this.Poll_Results.preguntas[i].respuestas[j].n_respuestas*100)/this.Poll_Results.totalRespuestas).toFixed(2);
            k++;
            
          }
          
          
        }  
    
      },*/
      procentaje(indexP,indexR){
        let porcent=((this.Poll_Results.preguntas[indexP].respuestas[indexR].n_respuestas*100)/this.Poll_Results.totalRespuestas).toFixed(2)
        
          if(porcent==0){
            return 0;
          }
          else{
            if(porcent%10==0){
              return parseInt(porcent)
            }else{
              return porcent;
            }
          }
          
        
        
      },
      alertas(item){
          console.log('lsadas');
          return true;
      },

      disableTab(tab){
          if (this.step==tab) {
              return false;
          }else{
              return true;
          }
      },
        
      submitForm() {
        this.$confirm( this.$t('confirm_submit'), this.$t('tittle_alert'), {
          confirmButtonText: this.$t('Si'),
          cancelButtonText: this.$t('No'),
          type: 'warning'
        }).then(() => {
          this.ResponsePoll([this, this.modelForm]);
        });
      },

      resetForm(formName) {
        this.$refs[formName].resetFields();
      },

    },

};
</script>

<style lang='css' scoped>
  .radioPorcentaje{
    background-color: red;
  }
  label {
    width: 100% !important;
  }

  .el-form-item__label {
    width: 100% !important;
  }

  .img_list_emprend{
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
</style>
