<template>
  <div id="top">
    <div class="RedesSociales">
      <div class="contenedorIconos">
        <div class="p-3 FondoBlanco containerSocialNetFixed border border-dark">
          <div class="d-flex align-items-center">
            <fa :icon="['fab','facebook']" class="mr-4 SocialNetFixed" /><span class="FondoBlanco p-1"
              style=""><u>@UdoProductivaSucre</u> </span>
          </div>

        </div>
      </div>
    </div>
    <div class="RedesSociales">
      <div class="contenedorIconos">
        <div class="p-3 FondoBlanco containerSocialNetFixed border border-dark">
          <div class="d-flex align-items-center">
            <fa :icon="['fab','instagram']" class="mr-4 SocialNetFixed" /><span class="FondoBlanco p-1"
              style="border-radius:5px;"><u>@UdoProductivaSucre</u> </span>
          </div>
        </div>
      </div>
    </div>

    <div class="RedesSociales">
      <div class="contenedorIconos">
        <div class="p-3 FondoBlanco containerSocialNetFixed border border-dark">
          <div class="d-flex align-items-center">
            <fa :icon="['fab','twitter']" class="mr-4 SocialNetFixed" /><span class="FondoBlanco p-1"
              style="border-radius:5px;"><u>@UdoProductivaSucre</u> </span>
          </div>
        </div>
      </div>
    </div>

    <div id="ContenedorMainImage">
      <div style="min-width:100%; min-height:100%; background-color:rgba(0,0,0,.4);" class="d-flex justify-content-center">
        <strong><h1 id="titleMainImage" class="text-white">¡¡Únete a nuestra comunidad de emprendedores!!</h1></strong>
      </div>
    </div>

    <div id="ConteinerContentMain" class="container-fluid" style="">
      <div class="container-fluid mt-5">
        <div class="row mt-5">
          <div class="col-12">
            <div class="d-flex justify-content-center align-items-center flex-column mb-5">

              <img :src="$imgUrl('eventos.png')" alt="" style="width:150px; height:150px;">

              <div>
                
                <router-link :to="{ name: 'stand.events' }" class="text-muted text-decoration-none" role="button">
                  <h2>¡{{$t('message_event_landing')}}!</h2>
                </router-link>
              </div>

            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">

            <div class="row justify-content-around align-items-center position-relative">
              <el-button circle @click="decrementCarrusel('even')" class="ButtonCarouselLeft" icon="el-icon-arrow-left">
              </el-button>


              <div class="col-6 col-md-3 col-xl-3" v-for="(event,index,key) in carousel3[index_c3]" :key="key" @click="$router.push({path: `stand/events/${event.id}`})">
                <div class="card mb-4 shadow-lg cardCarouselLogin">
                  <img :src="event.images[0].url" alt="" class="card-img-top">

                  <div class="card-body">
                    <p class="card-tittle font-italic">
                      <a href="#">{{event.nombre}}</a>
                    </p>
                    <p class="card-text text-justify">
                      {{event.motivo}}
                    </p>
                    <div class="d-flex justify-content-start align-items-center">
                      <el-button v-if="$check()" circle size="medium" type="primary" plain
                        @click="$router.push({path: 'stand/events/view/'+event.id})" icon="el-icon-view"> </el-button>

                    </div>
                  </div>
                </div>
              </div>
              <el-button circle class="ButtonCarouselRight" @click="incrementCarrusel('even')"
                icon="el-icon-arrow-right"></el-button>
            </div>

          </div>

        </div>


      </div>

      <div class="container-fluid mt-5">
        <div class="row mt-5">
          <div class="col-12">
            <div class="d-flex justify-content-center align-items-center flex-column mb-5">
              <img :src="$imgUrl('emprendimientos.png')" alt="" style="width:150px; height:150px;">


              <div>
                
                <router-link :to="{ name: 'stand.emprendiments' }" class="text-center text-muted text-decoration-none"
                  role="button">
                  <h2>¡{{$t('message_emprend_landing')}}!</h2>
                </router-link>
              </div>

            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">

            <div class="row justify-content-around align-items-center position-relative">
              <el-button circle @click="decrementCarrusel('emp')" class="ButtonCarouselLeft" icon="el-icon-arrow-left">
              </el-button>


              <div class="col-6 col-md-3 col-xl-3" v-for="(emprend,index,key) in carousel1[index_c1]" :key="key" @click="$router.push({path: `stand/emprendiments/${emprend.id}`})">
                <div class="card mb-4 shadow-lg cardCarouselLogin">
                  <img :src="emprend.images[0].url" alt="" class="card-img-top img-fluid">

                  <div class="card-body">
                    <p class="card-tittle font-italic">
                      <a href="#">{{emprend.nombre}}</a>
                    </p>
                    <p class="card-text text-justify">
                      {{emprend.descripcion}}
                    </p>
                    <div class="d-flex justify-content-start align-items-center">
                      <el-button v-if="$check()" circle size="medium" type="primary" plain
                        @click="$router.push({path: 'stand/emprendiments/view/'+emprend.id})" icon="el-icon-view">
                      </el-button>

                    </div>
                  </div>
                </div>
              </div>
              <el-button circle class="ButtonCarouselRight" @click="incrementCarrusel('emp')"
                icon="el-icon-arrow-right"></el-button>
            </div>

          </div>

        </div>


      </div>

      <div class="container-fluid mt-5">
        <div class="row mt-5">
          <div class="col-12">
            <div class="d-flex justify-content-center align-items-center flex-column mb-5">
              <img :src="$imgUrl('productos.png')" alt="" style="width:150px; height:150px;">

              <div>
                
                <router-link :to="{ name: 'stand.products' }" class="text-muted text-decoration-none" role="button">
                  <h2>¡{{$t('message_product_landing')}}!</h2>
                </router-link>
              </div>

            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">

            <div class="row justify-content-around align-items-center position-relative">
              <el-button circle @click="decrementCarrusel('prod')" class="ButtonCarouselLeft" icon="el-icon-arrow-left">
              </el-button>


              <div class="col-6 col-md-3 col-xl-3" v-for="(product,index,key) in carousel2[index_c2]" :key="key"  @click="$router.push({path: `stand/products/${product.id}`})">
                <div class="card mb-4 shadow-lg cardCarouselLogin">
                  <img :src="product.images[0].url" alt="" class="card-img-top img-fluid">

                  <div class="card-body">
                    <p class="card-tittle font-italic">
                      <a href="#">{{product.nombre}}</a>
                    </p>
                    <div>
                      <p class="card-text text-justify">
                        {{product.descripcion}}
                      </p>
                      <div class="d-flex justify-content-start align-items-center">
                        <el-button v-if="$check()" circle size="medium" type="primary" plain
                          @click="$router.push({path: 'stand/products/view/'+product.id})" icon="el-icon-view">
                        </el-button>

                      </div>
                    </div>

                  </div>
                </div>
              </div>
              <el-button circle class="ButtonCarouselRight" @click="incrementCarrusel('prod')"
                icon="el-icon-arrow-right"></el-button>
            </div>

          </div>

        </div>
      </div>
    </div>

    <!-- CARRUSEL -->
    <div class="mt-5">
      <div class="row ">
        <div class="col-12 pl-md-5 pr-md-5">
          <el-carousel type="card" :interval="2500" class="ContainerCarrusel">

            <el-carousel-item class="text-center CarruselItem" v-if="Images.length>0"
              v-for="(image,index,key) in Images" :key="index">

              <img :src="image.url" alt="" style="height:100%; width:100%; background-color:#eee;"
                class="img-fluid">

            </el-carousel-item>
            
          </el-carousel>
        </div>
      </div>
    </div>

    <!-- CATEGORIAS -->
    <div class="container-fluid mt-5">
      <div class="row pl-md-3 pr-md-3 justify-content-center">
        <div class="col-12">
          <div class="d-flex justify-content-center">
            <!-- <router-link :to="{ name: 'stand.emprendiments' }" class="btn btn-link text-decoration-none btn-sm" role="button"> -->
            <router-link :to="{ name: 'stand.emprendiments' }" class="text-muted" role="button">
              <!-- <h3 class="text-center mb-5">Categorías disponibles</h3>   -->
              <h3 class="text-center mb-5">¡{{$t('message_category_landing')}}!</h3>
            </router-link>
          </div>
        </div>

      </div>

      <div class="row pl-2 pr-2 justify-content-around">
        <div class="col-4 col-md-3 rounded ContainerCategoryLanding" v-for="(item,index) in Items" v-if="index<7"
          :key="index" @click="$router.push({name: `stand.emprendiments`, params: {categoria: item.id}})">

          <div class="pt-3 d-flex flex-column justify-content-center align-items-center">
            <fa :icon="[CategoriesIcons[index].type,CategoriesIcons[index].icon]" style="font-size:50px; "
              class="mb-3" />
            <p class="text-center" style="font-size:16px;">{{item.nombre}}</p>
          </div>

        </div>
        <div class="col-4 col-md-3 rounded ContainerCategoryLanding">
          <div class="pt-3 d-flex flex-column justify-content-center align-items-center">
            <fa :icon="['fas','search-plus']" style="font-size:50px; " class="mb-3" />
            <p class="text-center" style="font-size:13px;">Más Categorías</p>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid">

      <hr class="featurette-divider w-100">

      <div class="row" style="background-color:#3D1172;">
        <div class="col-sm-12">
          <div class="row justify-content-md-end">
            <div class="cols-12 col-md-8  d-flex flex-column justify-content-center">
              <div class="row justify-content-center align-items-center" >
                <div class="col-12">
                  <p class="text-white text-align-center" style="font-size:1.6rem;">
                    <ul>
                      <li>Planteanos cualquier duda.</li>
                      <li class="ml-4">Únete a nuestra comunidad emprendedora.</li>
                      <li class="ml-5">invitanos a participar en tus eventos.</li>
                      
                    </ul>
                  </p>
                  <h3 class="text-center text-white">¡Solo envianos un mensaje y nos comunicaremos contigo!.</h3>
                  
                </div>
              </div>
              <div class="row justify-content-center align-items-center ">
                <div class="col-xs-4">
                  <fa :icon="['far','hand-point-right']" class="text-white" style="font-size:13rem;" />
                </div>  
              </div>
              
              
              
            </div>
            <div class="col-12 col-md-4">
              <!-- <router-link :to="'/'" class="btn btn-link btn-sm" role="button"> -->
              <router-link :to="'/'" class="text-white" role="button">
                <h3 class="mb-1"><strong>{{$t('contact_us')}} </strong></h3>
              </router-link>

              <form action="#" class="p-5 bg-light shadow-lg" style="border-radius:10px;">
                <div class="form-group">
                  <label for="name">{{$t('name')}}: *</label>
                  <input v-model="modelForm.nombre" type="text" class="form-control" id="name">
                </div>
                <div class="form-group">
                  <label for="email">{{$t('email')}} *</label>
                  <input v-model="modelForm.mail" type="email" class="form-control" id="email">
                </div>
                <div class="form-group">
                  <label for="message">{{$t('message')}}</label>
                  <textarea v-model="modelForm.mensaje" name="" id="message" cols="30" rows="3"
                    class="form-control"></textarea>
                </div>
                <div class="form-group">

                  <div class="d-flex justify-content-between">
                    <el-button type="text">{{$t('about_us')}}</el-button>
                    <el-button round type="primary" @click.prevent="submitContactMail">{{$t('send')}}</el-button>
                  </div>
                </div>
              </form>

            </div>
          </div>
        </div>

      </div>
    </div>

    <!-- <footer class="mt-4" style="background-color: #333333; !important;padding: 1rem;color: whitesmoke;">

      <p class="float-right">
        <el-button type="danger" @click="topFunction()" icon="el-icon-top" circle>

        </el-button>
      </p>
      <p>© 2018-2019 Software Solution Oriente, Inc. · SisGEmp
        Privacy · Terms
      </p>

    </footer> -->
    <footer class="mt-4" style="background-image:linear-gradient(-225deg, #231557 0%, #44107A 29%, #FF1361 67%, #FFF800 100%); !important;padding: 1rem;color: whitesmoke;">

      <p class="float-right">
        <el-button type="danger" @click="topFunction()" icon="el-icon-top" circle>

        </el-button>
      </p>
      <p>© 2018-2019 Software Solution Oriente, Inc. · SisGEmp
        Privacy · Terms
      </p>

    </footer>

  </div>
</template>

<script>
  /*import NavBar from '~/components/Navbar'*/
  import {
    mapGetters,
    mapActions
  } from 'vuex'

  export default {
    layout: 'default',

    metaInfo() {
      return {
        title: this.$t('home')
      }
    },
    mounted() {
      this.FetchCategiriesItem();
      this.FetchEvents();
      this.FetchProducts();
      this.FetchEmprendiments();

      this.FetchNextEvent();
      console.log('fghfgfghfhfgfffahhhhhhhhhhhhhhh');
      this.FetchGallery([]);
    },
    data() {
      return {
        shared_state: window.shared_state,

        modelForm: {
          nombre: '',
          mail: '',
          mensaje: '',
          BgImg: this.$imgUrl('body_landing.jpg'),

        },
        CategoriesIcons: [{
            type: 'fas',
            icon: 'cocktail'
          },
          {
            type: 'fas',
            icon: 'blender-phone'
          },
          {
            type: 'fas',
            icon: 'gem'
          },
          {
            type: 'fas',
            icon: 'tshirt'
          },
          {
            type: 'fab',
            icon: 'envira'
          },
          {
            type: 'fas',
            icon: 'book-open'
          },
          {
            type: 'fas',
            icon: 'gamepad'
          },
        ],
        carousel1: [],
        index_c1: 0,
        index_c2: 0,
        carousel2: [],
        index_c3: 0,
        carousel3: [],

        faltante_h: 0,
        faltante_m: 0,
        faltante_s: 0,

      }
    },
    methods: {

      ...mapActions({
        sendContactMail: 'messages/sendMailContact',
        FetchEvents: 'events/fetchEventsStand',
        FetchNextEvent: 'events/fetchNextEvent',
        FetchProducts: 'products/fetchStandProducts',
        FetchEmprendiments: 'emprendiments/fetchStandEmprendiments',
        FetchCategiriesItem: 'categories/fetchCategories',
        FetchGallery: 'images/fetchImages',


      }),

      topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
      },

      submitContactMail() {
        this.sendContactMail([this, this.modelForm]);
      },
      counter() {
        /*let end = new Date("2020-06-01 5:00:00 PM");;

        let now = new Date();

        this.faltante_h= end.getHours() - now.getHours();
        this.faltante_m=0+ ((end.getHours()+60)-(now.getMinutes()));
        this.faltante_s=0+ ((end.getSeconds()+60) - (now.getSeconds()));*/
        let date = this.NextEvent.fecha + " " + this.NextEvent.hora_inicio;
        /*
        let fecha1 = new Date();
        let fecha2 = new Date(date);

        let dias = fecha2.getDate() - fecha1.getDate();
        let horas = fecha2.getHours() - fecha1.getHours();
        let minutos = fecha2.getMinutes() - fecha1.getMinutes();
        let segundos = fecha2.getSeconds() - fecha1.getSeconds();

        if (horas<0) {
        horas=24+horas;
        dias--;
        }

        minutos=(minutos++)/2;
        if (minutos<0) {
        minutos=60+minutos;
        }else if(minutos>60){
        minutos=(minutos++)/2;
        }

        segundos=(segundos++)/2;
        if (segundos<0) {
        segundos=60+segundos;
        }else if(segundos>60){
        segundos=(segundos++)/2;
        }

        horas=horas+(dias/24);
        */
        //console.log('horaaaaaas: ',parseInt(horas),':',parseInt(minutos),':',parseInt(segundos) );
        //console.log('horaaaaaas: ',Math.round(resta/ (1000*60*60*24)) );

        //console.log('horaaaaaas: ', fecha2.diff(fecha1, 'hours'), ' dias de diferencia');
        ///////////////////////

        var fecha = new Date(date)
        var hoy = new Date()

        var dias = 0
        var horas = 0
        var minutos = 0
        var segundos = 0

        if (fecha > hoy) {
          var diferencia = (fecha.getTime() - hoy.getTime()) / 1000
          dias = Math.floor(diferencia / 86400)
          diferencia = diferencia - (86400 * dias)
          horas = Math.floor(diferencia / 3600)
          diferencia = diferencia - (3600 * horas)
          minutos = Math.floor(diferencia / 60)
          diferencia = diferencia - (60 * minutos)
          segundos = Math.floor(diferencia)

          horas = horas + (dias / 24);
          this.faltante_h = parseInt(horas);
          this.faltante_m = minutos;
          this.faltante_s = segundos;
          /*console.log('horas: ' + parseInt(horas) + ' : ' + minutos + ' : ' + segundos);*/



        } else {
          horas = horas + (dias / 24);

          console.log('horas: ' + parseInt(horas) + ' : ' + minutos + ' : ' + segundos);
        }
        ///////////////////////



      },
      asignar_carrusel(cantidad, OBJ, carruselOBJ) {
        let item = [],
          j = 0;
        for (let i = 0; i < cantidad; i++) {
          for (j; j < OBJ.length; j++) {


            do {
              if (OBJ[j] != undefined) {
                item.push(OBJ[j]);
              }

              j++;

            } while ((j % 3 != 0));

            carruselOBJ.push(item);
            item = [];
            break;

          }
        }
        console.log("Carrusel Modificado: ", carruselOBJ);
      },
      incrementCarrusel(ref) {

        let cant_carrusel = 0;
        if (ref == "emp") {
          cant_carrusel = this.carousel1.length;
          if (this.index_c1 < (cant_carrusel - 1)) {
            this.index_c1++;
          }

        } else {
          if (ref == "prod") {
            cant_carrusel = this.carousel2.length;
            if (this.index_c2 < (cant_carrusel - 1)) {
              this.index_c2++;
            }
          } else {
            cant_carrusel = this.carousel3.length;
            if (this.index_c3 < (cant_carrusel - 1)) {
              this.index_c3++;
            }
          }

        }
      },
      decrementCarrusel(ref) {
        if (ref == "emp") {

          if (this.index_c1 > 0)
            this.index_c1--;
        } else {
          if (ref == "prod") {
            if (this.index_c2 > 0)
              this.index_c2--;

          } else {
            this.index_c3--;
          }
        }
      }

    },
    computed: {
      ...mapGetters({
        authenticated: 'auth/check',
        Events: 'events/eventsStand',
        NextEvent: 'events/NextEventLanding',
        Products: 'products/products',
        Emprendiments: 'emprendiments/emprendiments',
        Items: 'categories/categories',
        Images: 'images/images',
      }),
    },
    watch: {
      NextEvent: function () {
        window.setInterval(this.counter, 1000);
      },
      Emprendiments: function () {
        if (this.Emprendiments != undefined) {
          let totalEmprends = this.Emprendiments.length;
          let cant_carrusel = Math.ceil(((totalEmprends) / 3));
          this.asignar_carrusel(cant_carrusel, this.Emprendiments, this.carousel1);
        }

      },
      Products: function () {
        if (this.Products != undefined) {

          let cant_carrusel = Math.ceil(((this.Products.length) / 3));
          this.asignar_carrusel(cant_carrusel, this.Products, this.carousel2);
        }
      },
      Events: function () {
        if (this.Events != undefined) {

          let cant_carrusel = Math.ceil(((this.Events.length) / 3));
          this.asignar_carrusel(cant_carrusel, this.Events, this.carousel3);
        }
      }

    }

  };
</script>

<style lang="css" scoped>
  #ContenedorMainImage {

    width: 100% !important;
    /* min-height: 350px; */
    /*min-height: 485px;*/
    height: 90vh;
    margin-top: 55px;
    /* background-image: url('../../images/BanerLanding.png'); */
    background-image: url('../../images/feriasWallpaper.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;

  }
  #titleMainImage{
    font-size: 50px;
    margin-top: 10%;
  }
  .ContainerFaltanteTime {
    height: 70px;
    width: 70px;
    background-color: #f4511e;
    font-size: 40px;
    color: white;
    box-shadow: 0px 2px 3px 3px rgba(0, 0, 0, .5);
  }

  #ContenedorTimer {
    height: 100%;
  }

  .FondoBlanco {
    background-color: rgba(255, 255, 255, .6);
    /* box-shadow: 0px 0px 5px 5px rgba(10,10,10,.6); */
  }

  .SocialNetFixed {
    width: 100%;
    height: 100%;
    border-radius: 5px;

  }

  .SocialNetFixed>span {
    border-radius: 5px;
  }

  .containerSocialNetFixed {
    border-radius: 50%;
    width: 65px;
    height: 65px;
    /* border: solid .5px rgba(0,0,0,.7); */
  }

  /* .shadowCards{
box-shadow: 
} */
  .RedesSociales {
    position: fixed;
    right: 0px;
    z-index: 100;
  }

  .RedesSociales:nth-child(1) {
    margin-top: 5%;
    color: #1976d2;
  }

  .RedesSociales:nth-child(2) {
    margin-top: 11.5%;
    color: #f06292;
    max-width: 100vw;
  }

  .RedesSociales:nth-child(3) {
    margin-top: 18%;
    color: #2196f3;
  }

  .contenedorIconos {
    width: 70px;
    overflow: hidden;
  }

  .card-text {
    height: 110px;

    
  }

  .contenedorIconos:hover {
    width: 250px;
    transition: .3s linear;
  }

  .ContainerCategoryLanding {
    /*border:solid 1px rgba(100,100,100,.5);*/
    border: solid 1px rgba(100, 100, 100, .2);
    /*color: #2979ff;*/
    /*color:#004a94;*/
    color: grey;
  }

  .ContainerCategoryLanding p {

    color: grey;
  }

  .ContainerCategoryLanding:hover {
    /*background-color: rgba(41,121,255,1);*/
    /*color:  #004a94;*/
    color: #ffeb3b;
    cursor: pointer;

  }

  .ContainerCategoryLanding:hover p {
    /*color: #004a94;*/
    cursor: pointer;
  }

  .cardCarouselLogin>.card-body {
    max-height: 220px;
  }
  .card-img-top{
    height: 270px;
  }

  /* .TitulosLanding{
font-family: 'custom1';
} */

  @media (max-width: 768px) {
    #ContenedorMainImage {
      margin-top: 50px;

    }

    #ContainerCarrusel {
      height: 350px;
    }

    .ButtonCarouselLeft {
      position: absolute;
      z-index: 100;
      left: 0px;
    }

    .ButtonCarouselRight {
      position: absolute;
      z-index: 100;
      right: 0px;
    }

    .cardCarouselLogin>.card-body {
     /* min-height: 150px;*/
      font-size: 12px;
    }

    /* .carruselItem{
width: 75%;
} */


  }
  
</style>