<template>
  <div id="BackgroundRegister">
    <div class="container">
      <el-row type="flex" justify="center" class="mb-5">
        <el-col :sm="18" :md="18">
          <el-card>
            <div slot="header">
              <el-row>
                <h2 class="text-center">¡{{$t('emprendiment_register')}}!</h2>
                <h4 class="text-center mt-md-1">{{$t('register_you')}}. </h4>
              </el-row>
            </div>
            <div>
              <el-row>
                <el-col :md="24" :span="24">
                  <el-row type="flex" justify="center">
                    <el-col :span="24">
                      <!-- <span>{{active}}</span> -->
                      <el-steps :active="active" finish-status="success">
                        <el-step :title="$t('step')+' 1'"></el-step>
                        <el-step :title="$t('step')+' 2'"></el-step>
                        <el-step :title="$t('step')+' 3'"></el-step>
                        <el-step :title="$t('step')+' 4'"></el-step>
                        <!-- <el-step :title="$t('step')+' 5'"></el-step> -->
                      </el-steps>
                    </el-col>
                  </el-row>
                  <!--step 1-->
                  <el-row>
                    <el-col :span="24">
                      <el-form label-position="left" ref="modelForm1" :model="modelForm" :rules="rulesForm" class="mt-4">
                        <el-col :span="24" :class=" FormClass1">
                          <el-row type="flex" justify="center">
                            <el-col :xs="24" :span="12">
                              <el-form-item prop="nombre" :label="$t('name') ">
                                <el-col :xs="24" :md="15" :span="12" class="offset-md-2">
                                  <el-input minlength="4" maxlength="200" show-word-limit v-model="modelForm.nombre" :placeholder="$t('entrepreneurship')"></el-input>
                                </el-col>
                              </el-form-item>
                            </el-col>
                          </el-row>
                          <el-row type="flex" justify="center">
                            <el-col :xs="24" :span="12">
                              <el-form-item prop="correo" :label="$t('email') ">
                                <el-col :xs="24" :md="15" :span="14">
                                  <el-input minlength="4" maxlength="200" show-word-limit type="email" v-model="modelForm.correo" placeholder="User@mail.com"></el-input>
                                </el-col>
                              </el-form-item>
                            </el-col>
                          </el-row>
                          <el-row type="flex" justify="center">
                            <el-col :xs="24" :span="12">
                              <el-form-item prop="telefono" :label="$t('phone') ">
                                <el-col :xs="24" :md="15" :span="12" class="offset-md-2">
                                  <el-input type="phone" maxlength="20" v-model="modelForm.telefono" placeholder="0000-0000000"></el-input>
                                </el-col>
                              </el-form-item>
                            </el-col>
                          </el-row>
                          <el-row type="flex" justify="center">
                            <el-col :xs="24" :md="12">
                              <el-form-item prop="fecha_constitucion" format="dd/MM/yyyy" value-format="dd/MM/yyyy" type="date" :label="$t('creation_date')">
                                <el-col :xs="24" :span="24">
                                  <el-date-picker type="date" :placeholder="$t('date')" v-model="modelForm.fecha_constitucion" style="width:100%;" :picker-options="pickerOptions"></el-date-picker>
                                </el-col>
                              </el-form-item>
                            </el-col>
                          </el-row>
                          <el-row type="flex" justify="center">
                            <el-col :xs="24" :span="12">
                              <el-form-item :label="$t('address')" prop="lugar">
                                <el-input v-model="modelForm.lugar" class="hidden" type="hidden"></el-input>
                                <input class="el-input el-input__inner" ref="autocomplete" v-model="modelForm.lugar" type="text" onfocus="value = ''" :placeholder="$t('addres')" />
                              </el-form-item>
                            </el-col>
                          </el-row>
                          <el-row class="mb-4" type="flex" justify="center">
                            <el-col :xs="24" :span="12">
                              <div class="d-flex justify-content-between aling-items-center">
                                <el-button size="medium" type="danger" round @click="$cancelForm()">{{ $t('cancel') }}</el-button>
                                <div>
                                  <el-button size="medium" round type="primary" @click="nextForm('modelForm1')">{{$t('next')}} </el-button>
                                </div>
                              </div>
                            </el-col>
                          </el-row>
                        </el-col>
                      </el-form><!-- PASO 1-->
                    </el-col>
                  </el-row>
                  <!--step 2-->
                  <el-row>
                    <el-col :span="24">
                      <el-form label-position="left" ref="modelForm2" :model="modelForm" :rules="rulesForm" class="mt-4">
                        <el-col :span="24" :class="FormClass2">
                          <el-row type="flex" justify="center">
                            <el-col :xs="24" :span="12">
                              <el-row v-if="false">
                                <el-form-item prop="id_item" :label="$t('item') ">
                                  <el-col :span="18" class="offset-md-1">
                                    <el-select class="w-100" v-model="modelForm.id_item" :placeholder="$t('item')">
                                      <el-option v-for="(item,index,key) in Items" :key="key" :value="item.id" :label="item.nombre">
                                      </el-option>
                                    </el-select>
                                  </el-col>
                                </el-form-item>
                              </el-row>
                              <el-row>
                                <el-form-item prop="id_category" :label="$t('category') ">
                                  <el-col :xs="16" :span="18" class="ml-md-2">
                                    <el-select class="w-100" v-model="modelForm.id_category" :placeholder="$t('category')" clearable>
                                      <el-option v-for="(item,key) in Categories" :key="key" :value="item.id" :label="item.nombre">
                                      </el-option>
                                    </el-select>
                                  </el-col>
                                </el-form-item>
                              </el-row>
                            </el-col>
                          </el-row>
                          <el-row type="flex" justify="center">
                            <el-col :xs="24" :span="12">
                              <el-form-item prop="descripcion" :label="$t('description')">
                                <el-col :span="24">
                                  <el-input minlength="4" maxlength="400" show-word-limit type="textarea" v-model="modelForm.descripcion"></el-input>
                                </el-col>
                              </el-form-item>
                            </el-col>
                          </el-row>
                          <!-- <el-row type="flex" justify="center">
                            <el-col :xs="24" :span="12">
                              <el-form-item prop="caracteristicas" :label="$t('characteristics')">
                                <el-col :span="24">
                                  <el-input minlength="4" maxlength="400" show-word-limit type="textarea" v-model="modelForm.caracteristicas"></el-input>
                                </el-col>
                              </el-form-item>
                            </el-col>
                          </el-row> -->
                          <el-row type="flex" justify="center">
                            <el-col :xs="24" :span="12">
                              <div class="d-flex justify-content-xs-center justify-content-md-center">
                                <el-button size="medium" type="danger" round @click="$cancelForm()">{{ $t('cancel') }}</el-button>
                                <el-button size="medium" round type="info" @click="back()">{{$t('back')}}</el-button>
                                <el-button size="medium" round type="primary" @click="nextForm('modelForm2')">{{$t('next')}} </el-button>
                              </div>
                            </el-col>
                            <!-- <el-button size="medium" type="success" @click="submitForm('modelForm2')">{{$t('send')}}</el-button>		 -->
                          </el-row>
                        </el-col>
                      </el-form> <!-- PASO 2-->
                    </el-col>
                  </el-row>
                  <!--step 3-->
                  <!-- <el-row  :class="RowForm3"> -->
                  <!-- <div :class="RowForm3" > -->
                  <div <div :class="RowForm3">
                    <div class="row ">
                      <div class="col-12 col-md-12 ">
                        <div class="row justify-content-md-center align-items-md-center flex-md-column">
                          <div class="col-md-12">
                            <div class="row justify-content-md-center">
                              <h3 class="text-center">¿{{$t('how_many_partners')}}?</h3>
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="row justify-content-md-center">
                              <el-input-number controls-position="right" :min="1" max="10" size="mini" @change="pushPartners" v-model="numSocio"></el-input-number>
                            </div>
                          </div>
                        </div>
                        <!-- <div class="row justify-content-md-center align-items-md-center flex-md-column"> -->
                        <el-form ref="modelForm3" :model="modelForm" class="row justify-content-md-center align-items-md-center flex-md-column">
                          <div class="col-md-6 border-bottom border-dark" v-for="(item,index,key) in modelForm.socios" :key="key">
                            <div class="row justify-content-center mt-4">
                              <h4 class="text-center" v-if="numSocio>1">Integrante {{index+1}}</h4>
                              <h4 class="text-center" v-else>{{$t('enter_personal_data')}}.</h4>
                            </div>
                            <div class="row">
                              <div class="col-md-12">
                                <el-form-item :prop="'socios.' + index + '.nombre'" :label="$t('name')" :rules="[{required:true, message:'Por favor ingrese un nombre', trigger:['blur', 'change', 'focus']}]">
                                  <el-input minlength="4" maxlength="200" show-word-limit v-model="item.nombre"></el-input>
                                </el-form-item>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-12">
                                <el-form-item :prop="'socios.' + index + '.apellido'" :label="$t('lastname')" :rules="[{required:true, message:'Por favor ingrese un apellido', trigger:['blur', 'change', 'focus']}]">
                                  <el-input minlength="4" maxlength="200" show-word-limit v-model="item.apellido"></el-input>
                                </el-form-item>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-12">
                                <el-form-item :prop="'socios.' + index + '.cedula'" :label="$t('id_card')" :rules="[{ required: true,  message:'Por favor ingrese el número de cedula',  trigger: ['blur', 'change', 'focus']}]">
                                  <el-input v-model="item.cedula" maxlength="20" max="10"></el-input>
                                </el-form-item>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-12">
                                <el-form-item :prop="'socios.' + index + '.estado_civil'" :label="$t('Estado civil')" :rules="[{required:true, message:'Por favor seleccione el estod civil', trigger:['blur', 'change', 'focus']}]">
                                  <el-select :placeholder="$t('estado_civil')" v-model="item.estado_civil">
                                    <el-option value="SOLTERO" :label="$t('soltero')"></el-option>
                                    <el-option value="CASADO" :label="$t('casado')"></el-option>
                                  </el-select>
                                </el-form-item>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-12">
                                <el-form-item :prop="'socios.' + index + '.nivel_instruccion'" :label="$t('level_intruction')" :rules="[{required:true, message:'Por favor seleccione el nivel de instrucción', trigger:['blur', 'change', 'focus']}]">
                                  <el-select :placeholder="$t('nivel_instruccion')" v-model="item.nivel_instruccion">
                                    <el-option value="SIN ESTUDIO" :label="$t('no_estudio')"></el-option>
                                    <el-option value="PRIMARIA" :label="$t('primatia')"></el-option>
                                    <el-option value="SECUNDARIA" :label="$t('secundaria')"></el-option>
                                    <el-option value="TSU" :label="$t('tsu')"></el-option>
                                    <el-option value="PROFESIONAL" :label="$t('profesional')"></el-option>
                                    <el-option value="SUPERIOR" :label="$t('superior')"></el-option>
                                  </el-select>
                                </el-form-item>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-12">
                                <el-form-item :prop="'socios.' + index + '.sexo'" :label="$t('sex')" :rules="[{required:true, message:'Pr favor seleccion sexo', trigger:['blur', 'change', 'focus']}]">
                                  <el-select :placeholder="$t('sex')" v-model="item.sexo">
                                    <el-option value="MASCULINO" :label="$t('male')"></el-option>
                                    <el-option value="FEMENINO" :label="$t('female')"></el-option>
                                  </el-select>
                                </el-form-item>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-12">
                                <el-form-item :prop="'socios.' + index + '.fecha_nac'" format="dd/MM/yyyy" value-format="dd/MM/yyyy" type="date" :label="$t('birth_date')" :rules="[{required:true, message:'Por favor seleccione fecha', trigger:['blur', 'change', 'focus']}]">
                                  <el-date-picker type="date" :placeholder="$t('date')" v-model="item.fecha_nac" :picker-options="pickerOptionsFn" default-value="01/01/2001"></el-date-picker><span class="ml-2 text-muted"><small>
                                    {{$t('note')}}: {{$t('only_mayorEdge')}}
                                  </small></span>
                                </el-form-item>
                              </div>
                            </div>
                          </div>
                        </el-form>
                        <!-- </div> -->
                      </div>
                    </div>
                    <div class="row justify-content-md-center align-items-md-center mt-4">
                      <div class="col-md-6">
                        <div class="row justify-content-md-around">
                          <el-button size="medium" type="danger" round @click="$cancelForm()">{{ $t('cancel') }}</el-button>
                          <el-button size="medium" round type="info" @click="back()">{{$t('back')}}</el-button>
                          <el-button size="medium" round type="primary" @click="nextForm('modelForm3')">{{$t('next')}} </el-button>
                        </div>
                      </div>
                    </div>
                    <!-- <el-col :span="24">
											<el-row type="flex" justify="center">
												<el-col :xs="24":span="12">
															<div class="d-flex justify-content-xs-center justify-content-md-center">
														<el-button size="medium" type="danger" round @click="$cancelForm()">{{ $t('cancel') }}</el-button>
														<div>
															<el-button size="medium" round type="info" @click="back()">{{$t('back')}}</el-button>
															<el-button size="medium" round type="primary" @click="nextForm('modelForm3')">{{$t('next')}} </el-button>
														</div>
													</div>
												</el-col>

														

											</el-row>

										</el-col> -->
                  </div>
                  <!-- <el-row :class="FormClass4"> -->
                  <div :class="FormClass4 ">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="row flex-column justify-content-md-center">
                          <div class="col-md-12">
                            <el-form :model="modelForm" :rules="rulesForm" :status-icon="true" ref="modelForm4" label-position="top">
                              <el-form-item :label="$t('images_request')" prop="images">
                                <el-upload ref="upload" list-type="picture-card" :file-list="modelForm.images" :action="urlUpload" :auto-upload="true" :limit="limitImage" :on-success="$uploadSuccess" :before-upload="$beforeUpload" :on-exceed="$handleExceed" :on-error="$handleError" :on-preview="$handlePictureCardPreview" :on-change="handleChange" :on-remove="handleRemove">
                                  <i class="el-icon-plus"></i>
                                </el-upload>
                                <el-dialog :visible.sync="dialogVisible">
                                  <img width="100%" :src="dialogImageUrl" alt="">
                                </el-dialog>
                              </el-form-item>
                            </el-form>
                          </div>
                        </div>
                        <div class="row justify-content-md-center">
                          <div class="col-md-5">
                            <div class="row justify-content-md-around">
                              <el-button size="medium" type="danger" round @click="$cancelForm()">{{ $t('cancel') }}</el-button>
                              <el-button size="medium" round type="info" @click="back()">{{$t('back')}}</el-button>
                              <el-button size="medium" round type="primary" @click="nextForm('modelForm4')">{{$t('next')}} </el-button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--step 4-->
                  <!-- :class="FormClass5" -->
                  <div :class="FormClass5">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="row">
                          <div class="col-md-12">
                            <div class="row">
                              <h3>{{$t('emprendiment_data')}}.</h3>
                            </div>
                            <div class="row mt-md-4">
                              <div class="col-md-12">
                                <div class="row pt-1 pb-1">
                                  <span><strong>{{$t('name')}}: </strong></span>
                                  <p class="ml-2">{{modelForm.nombre}}</p>
                                </div>
                                <el-divider class="w-100"></el-divider>
                                <div class="row pt-1 pb-1">
                                  <span><strong>{{$t('email')}}: </strong>{{modelForm.correo}}</span>
                                  <p class="ml-2"></p>
                                </div>
                                <el-divider class="w-100"></el-divider>
                                <div class="row pt-1 pb-1">
                                  <span><strong>{{$t('phone')}}: </strong></span>
                                  <p class="ml-2">{{modelForm.telefono}}</p>
                                </div>
                                <el-divider class="w-100"></el-divider>
                                <div class="row pt-1 pb-1">
                                  <span><strong>{{$t('creation_date')}}: </strong></span>
                                  <p class="ml-2">{{modelForm.fecha_constitucion}}</p>
                                </div>
                                <el-divider class="w-100"></el-divider>
                                <div class="row pt-1 pb-1">
                                  <span><strong>{{$t('category')}}: </strong>{{modelForm.id_item}}</span>
                                  <p class="ml-2">{{modelForm.id_item}}</p>
                                </div>
                                <el-divider class="w-100"></el-divider>
                                <div class="row pt-1 pb-1">
                                  <span><strong>{{$t('description')}}: </strong></span>
                                  <p class="ml-2">{{modelForm.descripcion}}</p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <el-divider class="w-100"></el-divider>
                        </div>
                        <div class="row">
                          <div class="col-md-12">
                            <div class="row">
                              <h3>{{$t('partner_data')}}.</h3>
                            </div>
                            <div class="row">
                              <div class="col-md-12" v-for="(item,index,key) in modelForm.socios" :key="key">
                                <div class="row pt-1 pb-1">
                                  <span><strong>{{$t('name')}}: </strong></span>
                                  <p class="ml-2">{{ item.nombre }}</p>
                                </div>
                                <el-divider class="w-100"></el-divider>
                                <div class="row pt-1 pb-1">
                                  <span><strong>{{$t('surname')}}: </strong></span>
                                  <p class="ml-2">{{ item.apellido }}</p>
                                </div>
                                <el-divider class="w-100"></el-divider>
                                <div class="row pt-1 pb-1">
                                  <span><strong>{{$t('sex')}}: </strong></span>
                                  <p class="ml-2">{{ item.sexo }}</p>
                                </div>
                                <el-divider class="w-100"></el-divider>
                                <div class="row pt-1 pb-1">
                                  <span><strong>{{$t('dateNac')}}: </strong></span>
                                  <p class="ml-2">{{ item.fecha_nac }}</p>
                                </div>
                                <el-divider class="w-100"></el-divider>
                                <div class="row pt-1 pb-1">
                                  <span><strong>{{$t('cedula')}}: </strong></span>
                                  <p class="ml-2">{{ item.cedula }}</p>
                                </div>
                                <el-divider class="w-100"></el-divider>
                                <div class="row pt-1 pb-1">
                                  <span><strong>{{$t('civil_state')}}: </strong></span>
                                  <p class="ml-2">{{ item.estado_civil }}</p>
                                </div>
                                <el-divider class="w-100"></el-divider>
                                <div class="row pt-1 pb-1">
                                  <span><strong>{{$t('instruction_level')}}: </strong></span>
                                  <p class="ml-2">{{ item.nivel_instruccion }}</p>
                                </div>
                                <el-divider class="w-100"></el-divider>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row justify-content-md-around align-items-me-center mt-md-3">
                      <div class="col-md-12">
                        <div class="row">
                          <div class="col-md-12">
                            <h3>{{$t('images')}}.</h3>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-3" v-for="(item,index,key) in modelForm.images" :key="key" :class="index>0 ? 'ml-2':''">
                            <img class="w-100 img-thumbnail" style="heigth:80px;" :src="item.url" alt="">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row justify-content-md-center">
                      <div class="col-md-5">
                        <div class="row justify-content-md-around align-items-md-center">
                          <el-button size="medium" type="danger" round @click="$cancelForm()">{{ $t('cancel') }}</el-button>
                          <el-button size="medium" type="info" round @click="back();step=$backForm(step)">{{ $t('back') }}</el-button>
                          <el-button size="medium" type="success" round @click="submitForm('modelForm4')">{{ $t('save') }}</el-button>
                        </div>
                      </div>
                    </div>
                  </div>
                </el-col>
              </el-row>
            </div>
          </el-card>
        </el-col>
      </el-row>
    </div>
  </div>
</template>
<script>
import { mapGetters, mapActions } from 'vuex';
export default {

  computed: {
    ...mapGetters({
      Items: 'categories/items',
      Categories: 'categories/categories',
      ItemsCategories: 'categories/itemsCategories',

    })

  },

  data() {
    return {
      context: this,

      FormClass1: 'd-flex flex-column  justify-content-center',
      FormClass2: "d-none",
      RowForm3: "d-none",

      FormClass4: "d-none",
      FormClass5: "d-none",
      limitImage: 4,
      urlUpload: 'http://localhost:8000/api/image/upload',
      dialogImageUrl: '',
      dialogVisible: false,
      active: 0,
      value1: '',
      /*form: {
        name: '',
        phone: '',
        date: '',
        mail: '',
        item:'',
        category:'',
        desc: '',
        carac: '',
        address: ''
      },*/
      numSocio: 1,
      modelForm: {
        correo: null,
        telefono: null,

        nombre: null,
        caracteristicas: null,
        descripcion: null,
        //direccion: null,
        lugar: '',
        lugar2: {
          name: null,
          lat: null,
          lng: null,
        },

        fecha_constitucion: null,
        id_category: null,
        id_item: null,
        newDateTime: new Date(2016, 9, 10),

        socios: [{
          nombre: null,
          apellido: null,
          sexo: null,
          fecha_nac: this.newDateTime,
          cedula: null,
          estado_civil: null,
          nivel_instruccion: null,
        }],

        images: []
      },

      pickerOptions: {
        disabledDate(time) {
          return time.getTime() > Date.now();
        },
      },

      pickerOptionsFn: {
        disabledDate(time) {
          return time.getTime() > new Date('2001-01-01').getTime();
        },
      },
        //value1: '',
        //value2: '',

    };
  },

  watch: {
    'modelForm.lugar2.name': function() {
      this.modelForm.lugar = this.modelForm.lugar2.name;
    },
  },

  mounted() {
    if (google != undefined && this.$refs.autocomplete != undefined) {
      const input = this.$refs.autocomplete;
      var context = this;

      this.autocomplete = new google.maps.places.Autocomplete(
        input,
      );

      this.autocomplete.addListener('place_changed', () => {
        let place = context.autocomplete.getPlace();
        let ac = place.address_components;
        let lat = place.geometry.location.lat();
        let lng = place.geometry.location.lng();
        let lugar = ac[0]["short_name"];

        context.modelForm.lugar = `${place.name} ${place.vicinity}`;
        context.modelForm.lugar2.name = `${place.name} ${place.vicinity}`;
        context.modelForm.lugar2.lat = lat;
        context.modelForm.lugar2.lng = lng;
      });
    }

    this.FetchItems();
    this.FetchCategories();
    this.FetchItemsCategories();

  },


  methods: {
    ...mapActions({
      CreateRequest: 'requests/createRequest',

      FetchCategories: 'categories/fetchCategories',

      FetchItemsCategories: 'categories/fetchItemsCategories',

      FetchItems: 'categories/fetchItems',
    }),

    next() {
      if (this.active++ > 3) {

        this.active = 0;
        this.FormClass5 = "d-none";
        this.FormClass1 = "d-flex flex-column  justify-content-center";
      } else {

        switch (this.active) {

          case 1:
            this.FormClass1 = "d-none";
            this.FormClass2 = "d-flex flex-column  justify-content-center";
            break;
          case 2:
            this.FormClass2 = "d-none";
            this.RowForm3 = "container-fluid";
            /*this.RowForm3="d-flex justify-content-center flex-column align-items-center";*/
            /*this.FormClass3= "d-flex flex-column  justify-content-center";*/
            break;
          case 3:
            this.RowForm3 = "d-none";
            /*this.FormClass4= "d-flex justify-content-center flex-column align-items-center";*/
            this.FormClass4 = "container-fluid";
            break;
          case 4:

            this.FormClass4 = "d-none";
            this.FormClass5 = "container-fluid";
            break;
        }

      }
    },
    nextForm(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          this.next();
        } else {
          console.log('Error al enviar el formulario!!');
          this.$warning(this.$t('form_error'));
          return false;
        }
      });
    },
    back() {

      switch (this.active) {
        case 1:
          // statements_1
          this.FormClass1 = "d-flex flex-column  justify-content-center";
          this.FormClass2 = "d-none";
          break;
        case 2:
          // statements_def
          this.FormClass2 = "d-flex flex-column  justify-content-center";
          this.RowForm3 = "d-none";
          break;
        case 3:
          // statements_def
          /*this.RowForm3 = "d-flex justify-content-center flex-column align-items-center";*/
          this.RowForm3 = "container-fluid";
          this.FormClass4 = "d-none";

          break;
        case 4:
          // statements_def
          this.FormClass4 = "container-fluid";
          this.FormClass5 = "d-none";

          break;
      }
      this.active--;

    },
    submitForm(formName) {
      this.$confirm(this.$t('confirm_submit'), this.$t('tittle_alert'), {
        confirmButtonText: this.$t('Si'),
        cancelButtonText: this.$t('No'),
        type: 'warning'
      }).then(() => {
        this.CreateRequest([this, this.modelForm]);
      });

    },
    pushPartners() {

      /*console.log("numSocios: ",this.numSocio);
      console.log("Lenght modelform: ",this.modelForm.socios.length);*/
      if (this.modelForm.socios.length > this.numSocio) {
        console.log("enpushpartners");

        let prueba = this.modelForm.socios.slice(0, 1);
        console.log("prueba: ", prueba);
        this.modelForm.socios = [];
        this.modelForm.socios = prueba.slice();
      } else {
        for (let i = 0; i < (this.numSocio - this.modelForm.socios.length); i++) {
          this.modelForm.socios.push({
            nombre: null,
            apellido: null,
            sexo: null,
            fecha_nac: this.newDateTime,
            cedula: null,
            estado_civil: null,
            nivel_instruccion: null,
          });
        }
      }

    },
    /*pushPartners(){
      	this.modelForm.socios.push(
					{
						nombre: null,
						apellido: null,
						sexo: null,
						fecha_nac: this.newDateTime,
						cedula: null,
						estado_civil: null,
						nivel_instruccion: null,
					}
      	);
      },*/
    handleRemove(file, fileList) {
      this.modelForm.images = fileList.slice(-this.limitImage);
    },

    handleChange(file, fileList) {
      this.modelForm.images = fileList.slice(-this.limitImage);
    },
  },
  metaInfo() {
    return { title: this.$t('users') }
  }


};

</script>
<style scoped>
#BackgroundRegister {
  /* background-color: rgba(150,150,150,.3); */

  width: 100%;
  min-height: 94vh;
  padding-top: 10vh;
  margin-top: 4%;
}

</style>
