<template>
  <card :title="$t('requests')" :color="'#EA7223'" style="margin-top:9%;">

    <DataTable :tableData="tableData[currentPage-1]" :tableFields="fields" :module="$attrs.module" :type="typeButtons" />

    <el-row class="clear-fix"><!-- paso1 -->
        <div class="block">
          <span class="demonstration"></span>
          <el-pagination
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :current-page.sync="currentPage"
            :page-sizes="[5, 10, 20, 50]"
            :page-size="paginate"
            :pager-count="11"
            layout="sizes, prev, pager, next"
            :total="Requests!=null?Requests.length:1">
          </el-pagination>
        </div>
      </el-row>

  </card>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
  middleware: 'auth',

  metaInfo () {
    return { title: this.$t(this.$attrs.module) };
  },

  computed: mapGetters({
    Requests: 'requests/requests'
  }),

  data() {
    return {
      totalPaginate: 1,//<!-- paso7-->
      currentPage: 1,//<!-- paso8-->
      paginate: 5,//<!-- paso9-->
      tableData: [],//<!-- paso10-->
      
      fields: [
        {
          prop: 'nombre',
          label: 'Nombre',
          colum: true
        },
        {
          prop: 'correo',
          label: 'Correo',
          colum: true
        },
        {
          prop: 'telefono',
          label: 'Telefono',
          colum: true
        },
        {
          prop: 'caracteristicas',
          label: 'Caracteristicas',
          colum: false
        },
        {
          prop: 'descripcion',
          label: 'Descripcion',
          colum: false
        }
      ],
      
      typeButtons: [
        {
          tipo: 'view',
          role: ['super','admin']
        },
      ],
    }
  },

  methods:{
    ...mapActions({
    FetchRequests: 'requests/fetchRequests'
    }),

    handleSizeChange(val) {//<!-- paso2 -->
      console.log(`${val} items per page`);
      this.paginate=val;
      this.$paginate(this.Requests,this.paginate,this.totalPaginate,this);
    },

    handleCurrentChange(val) {//<!-- paso3 -->
      console.log(`current page: ${val}`);
      this.currentPage=val;
    },

  },

  async mounted() {
    await this.FetchRequests();
    this.$paginate(this.Requests,this.paginate,this.totalPaginate,this);//<!-- paso6-->
  },

};
</script>

<style scoped>
  .card-header{
    /* background-color:  #bb3bea; */
    color: white;
    text-align: center;
    display: flex;
    justify-content: center!important;
    font-size: 20px;
    height: 100%;
  }
</style>