<template>
  <card :title="$t('requests')" :color="'#EA7223'" style="margin-top:9%;">
	  <el-tabs :tab-position="tabPosition" v-model="step">

      <!-- first tab form -->
	    <el-tab-pane v-if="true" name="1" :label="$t('request')" :disabled="$disableTab(context, '1')">
	      
	      	<el-row class="">
			  		<el-col :span="11">
			  			<el-row type="flex" justify="center" align="middle" :gutter="20">
			  				<fa :icon="['far','images']" style="font-size:20px;" class="mr-2" /><h5 class="text-center">{{$t('photos')}}</h5>
			  			</el-row>
			  		</el-col>
			  		<el-col :span="13">
			  			<el-row type="flex" justify="center" align="middle" :gutter="20">
			  				<fa :icon="['far','address-card']"  style="font-size:20px;" class="mr-2" />		<h5 class="text-center">{{$t('data')}}</h5>
			  			</el-row>
			  		</el-col>
			  	</el-row>
          
					<el-row>
						<el-col :span="24">
							<el-divider></el-divider>
						</el-col>
					</el-row>
				    <el-row style="max-height:800px;">
				    	<el-col :span="11" style="height:800; overflow:scroll;">
				    		<el-row class="mb-5">
				    			<el-col   :span="24">
                    <el-row type="flex" justify="center" v-for="(img,index) in Request.images" :key="index">
                      <el-col :span="20">
                        <img :src="img.url" alt="" class="img-fluid">    
                      </el-col>
                    </el-row>
                    

                  </el-col>
				    		</el-row>
				    	</el-col>
				    	<el-col :span="12">
				    		<ul class="w-100">
				    			<li class="d-flex justify-content-start">
				    				<el-row>
				    					<el-col :span="24">
				    						<span class="mr-3"> <strong>{{$t('name')}}:</strong> </span>
				    					</el-col>
				    					<el-col :span="24">
				    						<p class="text-justify">
                          {{Request.nombre}}          
                        </p>
				    					</el-col>
				    				</el-row>
				    			</li>
                  <el-divider class="w-100"></el-divider>
				    			<li class="d-flex justify-content-start">
				    				<el-row>
				    					<el-col :span="24">
				    						<span class="mr-3"> <strong>{{$t('mail')}}:</strong> </span>
				    					</el-col>
				    					<el-col :span="24">
				    						<p class="text-justify">
                          {{Request.correo}}                          
                        </p>
				    					</el-col>
				    				</el-row>
				    			</li>
                  <!-- <el-divider class="w-100"></el-divider>
				    			<li class="d-flex justify-content-start">
				    				<el-row>
				    					<el-col :span="24">
				    						<span class="mr-3"> <strong>{{$t('item')}}:</strong> </span>
				    					</el-col>
				    					<el-col :span="24">
				    						<p class="text-justify">
                          {{Request.correo}}
                        </p>
				    					</el-col>
				    				</el-row>
				    			</li> -->
                  <el-divider class="w-100"></el-divider>
				    			<li class="d-flex justify-content-start">
				    				<el-row>
				    					<el-col :span="24">
				    						<span class="mr-3"> <strong>{{$t('category')}}:</strong> </span>
				    					</el-col>
				    					<el-col :span="24">
				    						<p class="text-justify">
                          {{Request.category_name}}
                        </p>
				    					</el-col>
				    				</el-row>
				    			</li>
                  <el-divider class="w-100"></el-divider>
				    			<li class="d-flex justify-content-start">
				    				<el-row>
				    					<el-col :span="24">
				    						<span class="mr-3"> <strong>{{$t('creation_date')}}:</strong> </span>
				    					</el-col>
				    					<el-col :span="24">
				    						<p class="text-justify">
                          {{Request.fecha_constitucion}}
                        </p>
				    					</el-col>
				    				</el-row>
				    			</li>
                  <el-divider class="w-100"></el-divider>
				    			<li class="d-flex justify-content-start">
				    				<el-row>
				    					<el-col :span="24">
				    						<span class="mr-3"> <strong>{{$t('address')}}:</strong> </span>
				    					</el-col>
				    					<el-col :span="24">
				    						<p class="text-justify">
                          {{Request.lugar.length>0?Request.lugar[0].name:''}}
                        </p>
				    					</el-col>
				    				</el-row>
				    			</li>
                  <el-divider class="w-100"></el-divider>
				    			<li class="d-flex justify-content-start">
				    				<el-row>
				    					<el-col :span="24">
				    						<span class="mr-3"> <strong>{{$t('phone')}}:</strong> </span>
				    					</el-col>
				    					<el-col :span="24">
				    						<p class="text-justify">                         
                          {{Request.telefono}}
                        </p>
				    					</el-col>
				    				</el-row>
				    			</li>
                  <el-divider class="w-100"></el-divider>
				    			<!-- <li class="d-flex justify-content-start">
				    				<el-row>
				    					<el-col :span="24">
				    						<span class="mr-3"> <strong>{{$t('characteristics')}}:</strong> </span>
				    					</el-col>
				    					<el-col :span="24">
				    						<p class="text-justify">
                          {{Request.caracteristicas}}
                        </p>
				    					</el-col>
				    				</el-row>
				    			</li> -->
				    			<li class="d-flex justify-content-start">
				    				<el-row>
				    					<el-col :span="24">
				    						<span class="mr-3"> <strong>{{$t('description')}}:</strong> </span>
				    					</el-col>
				    					<el-col :span="24">
				    						<p class="text-justify">
                          {{Request.descripcion}}
                        </p>
				    					</el-col>
				    				</el-row>
				    			</li>
                  <el-divider class="w-100"></el-divider>
				    		</ul>
				    	</el-col>
				    </el-row>
	      <el-row>
          <el-col v-if="!$route.params.edit" :span="24">
            <row-final-form :context="context" :model="'modelForm'" 
            :cancel="true" 
            :back="false" 
            :next="false" 
            :submit="false" 
            :quote="true" 
            />
          </el-col>
          <el-col v-else :span="24">
            <row-final-form :context="context" :model="'modelForm'" 
            :cancel="true" 
            :back="false" 
            :next="false" 
            :submit="false" 
            :requote="true" 
            />
          </el-col>
        </el-row>
            
	    </el-tab-pane>

      <!-- second tab form -->
	    <el-tab-pane v-if="true" name="2" :label="$t('quote')" :disabled="$disableTab(context, '2')">
		    <el-form
        :model="modelForm"
        :rules="rulesForm"
        :status-icon="true"
        ref="modelForm"
        label-position="top"
        label-width="120px">

          <el-form-item label="Lugar" prop="lugar">
            <el-input v-model="modelForm.lugar" class="hidden" type="hidden"></el-input>
            <input class="el-input el-input__inner" ref="autocomplete" v-model="modelForm.lugar" type="text" onfocus="value = ''" :placeholder="$t('addres')" />
            <!-- <el-input v-model="modelForm.lugar" class="hidden" type="hidden"></el-input>
	          <input
            v-model="modelForm.lugar" 
            class="el-input el-input__inner"
            ref="autocomplete"
            type="text"
            onfocus="value = ''"
            placeholder="lugar" /> -->
	        </el-form-item>

					<el-row type="flex" justify="space-between">
					  <el-col :span="11">
					  	<el-form-item label="Fecha" prop="fecha">
				        <el-date-picker
					      v-model="modelForm.fecha"
                format="dd/MM/yyyy"
                value-format="dd/MM/yyyy"
					      type="date"
                :picker-options="pickerOptions"
					      placeholder="Pick a day">
						    </el-date-picker>
						  </el-form-item>
					  </el-col>
					  <el-col :span="11">
					  	<el-form-item label="Hora" prop="hora">
								<el-time-picker
								arrow-control
						    v-model="modelForm.hora"
                format="HH:mm:ss"
                value-format="HH:mm:ss"
						    :picker-ptions="{
						      selectableRange: '00:00:00 - 23:59:59'
						    }"
						    placeholder="Arbitrary time">
							  </el-time-picker>
							</el-form-item>
					  </el-col>
					</el-row>

					<el-row type="flex" justify="space-between">
					  <el-col :span="24">
					  	<el-form-item label="Comentarios" prop="comentarios">
			          <el-input v-model.number="modelForm.comentarios" placeholder="comentarios"></el-input>
			      	</el-form-item>
					  </el-col>
					</el-row>

	      </el-form>
        <row-final-form :context="context" :model="'modelForm'" 
        :cancel="true" 
        :back="true" 
        :next="true" 
        :submit="false" 
        />
			</el-tab-pane>

			<!-- final tab form -->
	    <el-tab-pane v-if="true" name="3" :label="$t('review')" :disabled="$disableTab(context, '3')">

        <div class="row mt-1 mb-2">
          <div class="col-sm-3">
            <label for="">Lugar: </label>
          </div>
          <div class="col">
            {{ modelForm.lugar }}
          </div>
        </div>

        <div class="row mt-1 mb-2">
          <div class="col-sm-3">
            <label for="">Fecha: </label>
          </div>
          <div class="col">
            {{ modelForm.fecha }}
          </div>
        </div>
        
        <div class="row mt-1 mb-2">
          <div class="col-sm-3">
            <label for="">Hora: </label>
          </div>
          <div class="col">
            {{ modelForm.hora }}
          </div>
        </div>

        <div class="row mt-1 mb-2">
          <div class="col-sm-3">
            <label for="">Comentarios: </label>
          </div>
          <div class="col">
            {{ modelForm.comentarios }}
          </div>
        </div>
        
				<row-final-form :context="context" :model="'modelForm'" 
				:cancel="true" 
				:back="true" 
				:next="false" 
				:submit="true" 
				/>
	    </el-tab-pane>
		</el-tabs>

  </card>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
  middleware: 'auth',

  components: {

  },

  metaInfo () {
    return { title: this.$t('requests') }
  },

  computed: mapGetters({
    Users: 'users/users',
    UsersIds: 'users/usersIds',

    Request: 'requests/request',
    Quote: 'quotes/quote',
  }),

  data(){
      return {
        context: this,
        
        checkAll: false,
        isIndeterminate: false,
        fit:'cover',

        newDateTime: new Date(2016, 9, 10, 18, 40),
        newDate: '01/01/2019',
        newTime: '09:09:09',

        limitImage: 1,
        urlUpload: 'http://localhost:8000/api/image/upload',

      	dialogImageUrl: '',
        dialogVisible: false,

      	tabPosition: 'right', // top right
      	step: '1',

        modelForm: {
          lugar: '',
          lugar2: {
            name: null,
            lat: null,
            lng: null,
          },
          fecha: this.newDateTime,
          hora: this.newDateTime,
          comentarios: null,
          id_request: this.$route.params.id,
          id_placeEdit:null,
        },

        data_request:{
	  			name:'',
	  			mail:'',
	  			characteristics:'',
	  			description:'',
	  			item:'',
	  			category:'',
	  			creation_date:'',
	  			address:'',
	  			phone:'',
	  		},

      	pickerOptions: {
          disabledDate(time) {
            return time.getTime() <= Date.now();
          },
		      /*start: '00:00',
		      step: '00:01',
		      end: '23:59',
		      //minTime: this.modelForm.hora_inicio,
		      selectableRange: '00:00:00 - 23:59:59'
          */
		    },

      }
    },

    mounted() {
      if(this.$route.params.edit){
        this.FetchQuoteEdit([this.$route.params.id]);
      }
      if (google != undefined && this.$refs.autocomplete != undefined) {
        const input = this.$refs.autocomplete;
        this.autocomplete = new google.maps.places.Autocomplete(
          input,
        );

        this.autocomplete.addListener('place_changed', () => {
          let place = this.autocomplete.getPlace();
          let ac    = place.address_components;
          let lat   = place.geometry.location.lat();
          let lng   = place.geometry.location.lng();
          let lugar = ac[0]["short_name"];

          this.modelForm.lugar=`${place.name} ${place.vicinity}`;
          this.modelForm.lugar2.name=`${place.name} ${place.vicinity}`;
          this.modelForm.lugar2.lat=lat;
          this.modelForm.lugar2.lng=lng;
        });
      }

      this.FetchUsers();

      this.FetchRequest([this.$route.params.id]);
    },

    watch:{
      'Request':function(){
        console.log("Request: ",this.Request);
      },
      'Quote': function() {
        if(this.$route.params.edit){
          console.log("Quote para editar: ",this.Quote);
          this.modelForm.fecha=this.Quote[0].fecha;
          this.modelForm.hora=this.Quote[0].hora;
          this.modelForm.comentarios=this.Quote[0].comentario;
          this.modelForm.id_request=this.Quote[0].id_request;
          this.modelForm.lugar2.lat=this.Quote[0].lat;
          this.modelForm.lugar2.lng=this.Quote[0].lng;
          this.modelForm.lugar=this.Quote[0].lugarname;
          this.modelForm.id_placeEdit=this.Quote[0].id_lugar;
        }
      },
    },

    methods: {
    	...mapActions({
	      /*CreateEvent: 'events/createEvent',*/
        CreateQuote: 'quotes/createQuote',
	      FetchUsers: 'users/fetchUsers',

        FetchRequest: 'requests/fetchRequest',
        FetchQuoteEdit: 'quotes/fetchQuoteEdit',
        EditQuote: 'quotes/editQuote',


	    }),

     /* handleCheckAllChange(val) {
        this.modelForm.invitados = val ? this.UsersIds : [];
        this.isIndeterminate = false;
      },

      handleCheckedChange(value) {
        let checkedCount = value.length;
        if (this.UsersIds!=null) {
          this.checkAll = checkedCount === this.UsersIds.length;
          this.isIndeterminate = checkedCount > 0 && checkedCount < this.UsersIds.length;
        }
      },*/

      submitForm(formName) {
        this.$confirm( this.$t('confirm_submit'), this.$t('tittle_alert'), {
          confirmButtonText: this.$t('si'),
          cancelButtonText: this.$t('no'),
          type: 'warning'
        }).then(() => {
          if (this.modelForm.lugar2.name == null) {
            this.modelForm.lugar2.name = this.modelForm.lugar;
          }
          if(this.$route.params.edit){
            console.log("Vas a editar");
            this.EditQuote([this, this.modelForm,this.$route.params.id]);  
          }
          else{
            this.CreateQuote([this, this.modelForm, this.$route.params.id]);  
          }
          

        });
      },

      /*handleRemove(file, fileList) {
        this.modelForm.images = fileList.slice(-this.limitImage)
      },

      handleChange(file, fileList) {
        this.modelForm.images = fileList.slice(-this.limitImage)
      },*/


  	},

};
</script>

<style lang='css' scoped>
  .img_list_emprend{
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  .card-header{
    background-color: #EA7223;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center!important;
    font-size: 20px;
    height: 100%;
  }
</style>