<template>
  <card :title="$t('users')">

    <DataTable :tableData="tableData[currentPage-1]" :tableFields="fields" :module="$attrs.module" :type="typeButtons" />

    <el-row class="clear-fix"><!-- paso1 -->
        <div class="block">
          <span class="demonstration"></span>
          <el-pagination
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :current-page.sync="currentPage"
            :page-sizes="[5, 10, 20, 50]"
            :page-size="paginate"
            :pager-count="11"
            layout="sizes, prev, pager, next"
            :total="Users!=null?Users.length:1">
          </el-pagination>
        </div>
      </el-row>

  </card>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
  middleware: 'auth',

  metaInfo () {
    return { title: this.$t('users') };
  },

  computed: mapGetters({
    Users: 'users/users'
  }),

  data() {
    return {
      totalPaginate: 1,//<!-- paso7-->
      currentPage: 1,//<!-- paso8-->
      paginate: 5,//<!-- paso9-->
      tableData: [],//<!-- paso10-->
      
      fields: [
        {
          prop: 'name',
          label: 'Nombre',
          colum: true
        },
        {
          prop: 'email',
          label: 'Correo',
          colum: true
        },
        {
          prop: 'status',
          label: 'Estado',
          colum: true
        },
      ],
      typeButtons: [
        {
          tipo: 'banner',
          role: ['super','admin']
        },
      ],
    }
  },

  async mounted() {
    await this.FetchUsers();

    this.$paginate(this.Users,this.paginate,this.totalPaginate,this);//<!-- paso6-->
  },

  methods:{
    ...mapActions({
    FetchUsers: 'users/fetchUsers'
  }),

    handleSizeChange(val) {//<!-- paso2 -->
      console.log(`${val} items per page`);
      this.paginate=val;
      this.$paginate(this.Users,this.paginate,this.totalPaginate,this);
    },

    handleCurrentChange(val) {//<!-- paso3 -->
      console.log(`current page: ${val}`);
      this.currentPage=val;
    },
  },


};
</script>
