<template>
  <card :title="$t('events')" :module="$attrs.module" :color="'#0091ea'" :link="false" style="margin-top:9%;">

    <el-button v-if="$role(['admin','super'])" type="primary" size="medium" round @click="$router.push({path: $attrs.module+'/form'})" >{{ $t('add_new') }} </el-button>
  
  <el-tabs :tab-position="tabPosition" stretch v-model="step">
    <el-tab-pane v-if="true" name="1" :label="$t('events')" >
                              <!-- paso11-->
      <DataTable :tableData="tableData[currentPage-1]" :tableFields="fields" :module="$attrs.module" :type="typeButtons" />

      <el-row class="clear-fix"><!-- paso1 -->
        <div class="block">
          <span class="demonstration"></span>
          <el-pagination
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :current-page.sync="currentPage"
            :page-sizes="[5, 10, 20, 50]"
            :page-size="paginate"
            :pager-count="11"
            layout="sizes, prev, pager, next"
            :total="Events!=null?Events.length:1">
          </el-pagination>
        </div>
      </el-row>

    </el-tab-pane>

     <el-tab-pane v-if="true" name="2" :label="$t('finalized_events')" >
      <DataTable :tableData="FinalizedEvents" :tableFields="fields" :module="$attrs.module" :type="['view','edit','delete']" />

    </el-tab-pane>

  </el-tabs>
  </card>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
  middleware: 'auth',

  metaInfo () {
    return { title: this.$t(this.$attrs.module) };
  },

  computed: {
    ...mapGetters({
      Events: 'events/events',
      FinalizedEvents: 'events/finalized_events',
    }),


  },

  data() {
    return {
      totalPaginate: 1,//<!-- paso7-->
      currentPage: 1,//<!-- paso8-->
      paginate: 5,//<!-- paso9-->
      tableData: [],//<!-- paso10-->

      tabPosition: 'top',
      step: '1',

      fields: [
        {
          prop: 'nombre',
          label: 'Nombre',
          colum: true
        },
        {
          prop: 'fecha',
          label: 'Fecha',
          colum: true
        },
        {
          prop: 'costo',
          label: 'Costo',
          colum: true
        },
        {
          prop: 'motivo',
          label: 'Motivo',
          colum: false
        },
      ],
      
      typeButtons: [
        {
          tipo: 'view',
          role: ['super','admin','emprend']
        },
        {
          tipo: 'edit',
          role: ['super','admin',]
        },
        {
          tipo: 'delete',
          role: ['super','admin',]
        },
      ],
    }
  },

  methods: {
    ...mapActions({
    	FetchEvents: 'events/fetchEvents',
      FetchFinalizedEvents: 'events/fetchFinalizedEvents',
    }),

    handleSizeChange(val) {//<!-- paso2 -->
      console.log(`${val} items per page`);
      this.paginate=val;
      this.$paginate(this.Events,this.paginate,this.totalPaginate,this);
    },

    handleCurrentChange(val) {//<!-- paso3 -->
      console.log(`current page: ${val}`);
      this.currentPage=val;
    },


  },

  async mounted() {//<!-- paso4-->
    console.log('router: ',this.$route.matched[1].name);
    
    this.FetchFinalizedEvents()
    await this.FetchEvents();//<!-- paso5-->
    this.$paginate(this.Events,this.paginate,this.totalPaginate,this);//<!-- paso6-->
  },

  
  

};
</script>

<style scoped>
  .card-header{
    background-color: #EA7223;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center!important;
    font-size: 20px;
    height: 100%;
  }
</style>