<template>
  <card :title="$t('events')" :color="'#0091ea'" style="margin-top:9%;">
    <el-tabs :tab-position="tabPosition" v-model="step">
      <!-- first tab form -->
      <el-tab-pane v-if="true" name="1" :label="$t('info')" :disabled="$disableTab(context, '1')">
        <el-form :model="modelForm" :rules="rulesForm" :status-icon="true" ref="modelForm1" label-position="top" label-width="120px">
          <el-form-item label="Nombre" prop="nombre">
            <el-input minlength="4" maxlength="200" show-word-limit v-model="modelForm.nombre" type="text" placeholder="nombre"></el-input>
          </el-form-item>
          <el-form-item label="Motivo" prop="motivo">
            <el-input minlength="4" maxlength="200" show-word-limit v-model="modelForm.motivo" type="text" placeholder="motivo"></el-input>
          </el-form-item>
          <el-row type="flex" justify="space-between">
            <el-col :span="11">
              <el-form-item label="Precio" prop="costo">
                <el-input v-model.number="modelForm.costo" placeholder="precio"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="11">
              <el-form-item label="Tipo" prop="tipo_event">
                <el-radio v-model="modelForm.tipo" label="INTERNO">Interno</el-radio>
                <el-radio v-model="modelForm.tipo" label="EXTERNO">Externo</el-radio>
              </el-form-item>
                
            </el-col>
            <!-- <el-col :span="11">
              <el-form-item label="Gastos" prop="gastos">
                <el-input v-model.number="modelForm.gastos" placeholder="gastos previstos"></el-input>
              </el-form-item>
            </el-col> -->
          </el-row>
          <el-row>
            <el-col :span="24">
              <strong>Nota: </strong><span>Ingrese 0 en precio si el evento es gratuito.</span>
            </el-col>
          </el-row>
          <div class="row justify-content-md-center">
            <el-divider class="w-100"></el-divider>
            <div class="col-md-6">
              <div class="row justify-content-around">
                <el-button size="medium" type="danger" round @click="$cancelForm()">{{ $t('cancel') }}</el-button>
                <el-button size="medium" type="primary" round @click="$nextForm(context,'modelForm1')">{{ $t('continue') }}</el-button>
                
              </div>
            </div>
          </div>
          <!-- <el-row type="flex" justify="space-between">
            <el-button size="medium" type="danger" round @click="$cancelForm()">{{ $t('cancel') }}</el-button>
            <el-button size="medium" type="primary" round @click="$nextForm(context,'modelForm1')">{{ $t('continue') }}</el-button>
          </el-row> -->
        </el-form>
      </el-tab-pane>
      <!-- second tab form -->
      <el-tab-pane v-if="true" name="2" :label="$t('address')" :disabled="$disableTab(context, '2')">
        <el-form :model="modelForm" :rules="rulesForm" :status-icon="true" ref="modelForm2" label-position="top" label-width="120px">
          <el-form-item :label="$t('addres')" prop="lugar">
            <el-input v-model="modelForm.lugar" class="hidden" type="hidden"></el-input>
            <input class="el-input el-input__inner" ref="autocomplete" type="text" :v-model="modelForm.lugar2.name" onfocus="value = ''" placeholder="lugar" />
          </el-form-item>
          <el-row type="flex" justify="space-between">
            <el-col :span="11">
              <el-form-item label="Fecha" prop="fecha">
                <el-date-picker v-model="modelForm.fecha" format="dd/MM/yyyy" value-format="dd/MM/yyyy" type="date" placeholder="Pick a day" :picker-options="pickerOptions">
                </el-date-picker>
              </el-form-item>
            </el-col>
            <el-col :span="11">
              <el-form-item label="Cupos" prop="cupos">
                <el-input v-model.number="modelForm.cupos" placeholder="cupos"></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row type="flex" justify="space-between">
            <el-col :span="11">
              <el-form-item label="Hora de inicio" prop="hora_inicio">
                <el-time-picker arrow-control v-model="modelForm.hora_inicio" format="HH:mm:ss" value-format="HH:mm:ss" :picker-ptions="{
                  selectableRange: '00:00:00 - 23:59:59'
                }" placeholder="Arbitrary time">
                </el-time-picker>
              </el-form-item>
            </el-col>
            <el-col :span="11">
              <el-form-item label="Hora de finalizacion" prop="required_horaF">
                <el-time-picker arrow-control size="large" v-model="modelForm.hora_fin" format="HH:mm:ss" value-format="HH:mm:ss" :picker-options="{
                  selectableRange: '00:00:00 - 23:59:59'
                }" placeholder="Arbitrary time">
                </el-time-picker>
              </el-form-item>
            </el-col>
          </el-row>
          <div class="row justify-content-md-center">
            <el-divider class="w-100"></el-divider>
            <div class="col-md-6">
              <div class="row justify-content-around">
                <el-button size="medium" type="danger" round @click="$cancelForm()">{{ $t('cancel') }}</el-button>
                <div>
                  <el-button size="medium" type="info" round @click="step=$backForm(step)">{{ $t('back') }}</el-button>
                  <el-button size="medium" type="primary" round @click="$nextForm(context,'modelForm2')">{{ $t('continue') }}</el-button>
                </div>
              </div>
            </div>
          </div>
          <!-- <el-row type="flex" justify="space-between">
            <el-button size="medium" type="danger" round @click="$cancelForm()">{{ $t('cancel') }}</el-button>
            <div>
              <el-button size="medium" type="default" round @click="step=$backForm(step)">{{ $t('back') }}</el-button>
              <el-button size="medium" type="primary" round @click="$nextForm(context,'modelForm2')">{{ $t('continue') }}</el-button>
            </div>
          </el-row> -->
        </el-form>
      </el-tab-pane>
      <!-- third tab form -->
      <el-tab-pane v-if="true" name="3" :label="$t('poster')" :disabled="$disableTab(context, '3')">
        <el-form :model="modelForm" :rules="rulesForm" :status-icon="true" ref="modelForm3" label-position="top" label-width="120px">
          <el-form-item label="Imagenes" prop="images">
            <el-row type="flex">
              <el-upload ref="upload" list-type="picture-card" :file-list="modelForm.images" :action="urlUpload" :auto-upload="true" :limit="limitImage" :on-success="$uploadSuccess" :before-upload="$beforeUpload" :on-exceed="$handleExceed" :on-error="$handleError" :on-preview="$handlePictureCardPreview" :on-change="handleChange" :on-remove="handleRemove">
                <i class="el-icon-plus"></i>
              </el-upload>
              <el-dialog :visible.sync="dialogVisible">
                <img width="100%" :src="dialogImageUrl" alt="">
              </el-dialog>
            </el-row>
          </el-form-item>
          <div class="row justify-content-md-center">
            <el-divider class="w-100"></el-divider>
            <div class="col-md-6">
              <div class="row justify-content-around">
                <el-button size="medium" type="danger" round @click="$cancelForm()">{{ $t('cancel') }}</el-button>
                <div>
                  <el-button size="medium" type="info" round @click="step=$backForm(step)">{{ $t('back') }}</el-button>
                  <el-button size="medium" type="primary" round @click="$nextForm(context,'modelForm3')">{{ $t('continue') }}</el-button>
                </div>
              </div>
            </div>
          </div>
          <!-- <el-row type="flex" justify="space-between">
            <el-button size="medium" type="danger" round @click="$cancelForm()">{{ $t('cancel') }}</el-button>
            <div>
              <el-button size="medium" type="default" round @click="step=$backForm(step)">{{ $t('back') }}</el-button>
              <el-button size="medium" type="primary" round @click="$nextForm(context,'modelForm3')">{{ $t('continue') }}</el-button>
            </div>
          </el-row> -->
        </el-form>
      </el-tab-pane>
      <!-- third tab form -->
      <el-tab-pane v-if="true" name="4" :label="$t('invitations')" :disabled="$disableTab(context, '4')">
        <el-form :model="modelForm" :rules="rulesForm" :status-icon="true" ref="modelForm4" label-position="top" label-width="120px">
          <el-row>
            <el-col :span="24">
              <el-row>
                <el-form-item label="Invitaciones" prop="invitados">
                  <el-checkbox :indeterminate="isIndeterminate" v-model="checkAll" @change="handleCheckAllChange">
                    {{ $t('mark_all')}}
                  </el-checkbox>
                  <el-checkbox-group v-model="modelForm.invitados" @change="handleCheckedChange" class="mt-4">
                    <el-col :span="8" v-for="(emprendiment,index,key) in Emprendiments" :key="index">
                      <el-row type="flex" justify="around" align="middle">
                        <el-checkbox :label="emprendiment.id_user" :key="key">
                          <div class=" mb-4">
                            <img :src="$imgUrl('emprendProfile.jpg')" alt="" class="img_list_emprend">
                            <span class="ml-3"><strong>{{emprendiment.nombre}}</strong></span>
                          </div>
                        </el-checkbox>
                      </el-row>
                    </el-col>
                  </el-checkbox-group>
                </el-form-item>
              </el-row>
            </el-col>
          </el-row>
          <div class="row justify-content-md-center">
            <el-divider class="w-100"></el-divider>
            <div class="col-md-6">
              <div class="row justify-content-around">
                <el-button size="medium" type="danger" round @click="$cancelForm()">{{ $t('cancel') }}</el-button>
                <div>
                  <el-button size="medium" type="info" round @click="step=$backForm(step)">{{ $t('back') }}</el-button>
                  <el-button size="medium" type="primary" round @click="$nextForm(context,'modelForm4')">{{ $t('continue') }}</el-button>
                </div>
              </div>
            </div>
          </div>
          <!-- <el-row type="flex" justify="space-between">
            <el-button size="medium" type="danger" round @click="$cancelForm()">{{ $t('cancel') }}</el-button>
            <div>
              <el-button size="medium" type="default" round @click="step=$backForm(step)">{{ $t('back') }}</el-button>
              <el-button size="medium" type="primary" round @click="$nextForm(context,'modelForm4')">{{ $t('continue') }}</el-button>
            </div>
          </el-row> -->
        </el-form>
      </el-tab-pane>
      <!-- final tab form -->
      <el-tab-pane v-if="true" name="5" :label="$t('review')" :disabled="$disableTab(context, '5')">
        <div class="row justify-content-md-center mt-md-4">
          <h3 class="text-center">{{$t('resume_event')}}</h3>
        </div>
        <div class="row mt-1 mb-2">
          <div class="col-md-3">
            <label for=""><strong>{{$t('name_event')}}:</strong> </label>
          </div>
          <div class="col">
            {{ modelForm.nombre }}
          </div>
          <el-divider class="w-100"></el-divider>
        </div>
        <div class="row mt-1 mb-2">
          <div class="col-md-3">
            <label for=""><strong>{{$t('motive')}} :</strong> </label>
          </div>
          <div class="col">
            {{ modelForm.motivo }}
          </div>
          <el-divider class="w-100"></el-divider>
        </div>
        <div class="row mt-1 mb-2">
          <div class="col-md-3">
            <label for=""><strong>{{$t('type')}} :</strong> </label>
          </div>
          <div class="col">
            {{ modelForm.tipo }}
          </div>
          <el-divider class="w-100"></el-divider>
        </div>
        <div class="row mt-1 mb-2">
          <div class="col-md-3">
            <label for=""><strong>{{$t('price')}}:</strong> </label>
          </div>
          <div class="col">
            {{ modelForm.costo }}
          </div>
          <el-divider class="w-100"></el-divider>
        </div>
        <!-- <div class="row mt-1 mb-2">
          <div class="col-md-3">
            <label for=""><strong>{{$t('previst_cost')}}:</strong> </label>
          </div>
          <div class="col">
            {{ modelForm.gastos }}
          </div>
          <el-divider class="w-100"></el-divider>
        </div> -->
        <div class="row mt-1 mb-2">
          <div class="col-md-3">
            <label for=""><strong>{{$t('place')}}:</strong> </label>
          </div>
          <div class="col">
            {{ modelForm.lugar }}
          </div>
          <el-divider class="w-100"></el-divider>
        </div>
        <div class="row mt-1 mb-2">
          <div class="col-md-3">
            <label for=""><strong>{{$t('date')}}:</strong> </label>
          </div>
          <div class="col">
            {{ modelForm.fecha }}
          </div>
          <el-divider class="w-100"></el-divider>
        </div>
        <div class="row mt-1 mb-2">
          <div class="col-md-3">
            <label for=""><strong>{{$t('quotas')}}:</strong> </label>
          </div>
          <div class="col">
            {{ modelForm.cupos }}
          </div>
          <el-divider class="w-100"></el-divider>
        </div>
        <div class="row mt-1 mb-2">
          <div class="col-md-3">
            <label for=""><strong>{{$t('hour_begin')}}:</strong> </label>
          </div>
          <div class="col">
            {{ modelForm.hora_inicio }}
          </div>
          <el-divider class="w-100"></el-divider>
        </div>
        <div class="row mt-1 mb-2">
          <div class="col-md-3">
            <label for=""><strong>{{$t('hour_end')}}:</strong> </label>
          </div>
          <div class="col">
            {{ modelForm.hora_fin }}
          </div>
          <el-divider class="w-100"></el-divider>
        </div>
        <div class="row mt-1 mb-2">
          <div class="col-md-3">
            <label for=""><strong>{{$t('poster')}}:</strong> </label>
          </div>
          <el-row type="flex">
            <div class="block">
              <span v-if="false" class="demonstration"><strong>{{ $t('poster') }}</strong></span>
              <el-image v-for="(item,key) in modelForm.images" :key="key" :src="item.url" :fit="fit" style="width: 150px; height: 150px; margin: 0.5rem;" class="img-thumbnail">
                <div slot="placeholder" class="image-slot">
                  {{ $t('loading') }}<span class="dot">...</span>
                </div>
                <div slot="error" class="image-slot">
                  <i class="el-icon-picture-outline"></i>
                </div>
              </el-image>
            </div>
          </el-row>
        </div>
        <div class="row justify-content-md-center">
          <el-divider class="w-100"></el-divider>
            <div class="col-md-6">
              <div class="row justify-content-around">
                <el-button size="medium" type="danger" round @click="$cancelForm()">{{ $t('cancel') }}</el-button>
                <div>
                  <el-button size="medium" type="info" round @click="step=$backForm(step)">{{ $t('back') }}</el-button>
                  <el-button size="medium" type="success" round @click="submitForm('modelForm4')">{{ $t('save') }}</el-button>
                </div>      
              </div>
            </div>
          </div>
        <!-- <el-row type="flex" justify="space-between">
          <el-button size="medium" type="danger" round @click="$cancelForm()">{{ $t('cancel') }}</el-button>
          <div>
            <el-button size="medium" type="default" round @click="step=$backForm(step)">{{ $t('back') }}</el-button>
            <el-button size="medium" type="primary" round @click="submitForm('modelForm4')">{{ $t('save') }}</el-button>
          </div>
        </el-row> -->
      </el-tab-pane>
    </el-tabs>
  </card>
</template>
<script>
import { mapGetters, mapActions } from 'vuex';

export default {
  middleware: 'auth',

  components: {

  },

  metaInfo() {
    return { title: this.$t('events') }
  },

  computed: mapGetters({
    /*Users: 'users/users',*/
    Emprendiments: 'emprendiments/emprendiments',
    EventData: 'events/event',
    UsersIds: 'users/usersIds'
  }),

  data() {
    return {
      context: this,

      checkAll: false,
      isIndeterminate: false,
      fit: 'cover',

      newDateTime: new Date(2016, 9, 10),
      newDate: '01/01/2019',
      newTime: '09:09:09',

      limitImage: 1,
      urlUpload: 'http://localhost:8000/api/image/upload',

      dialogImageUrl: '',
      dialogVisible: false,

      tabPosition: 'right', // top right
      step: '1',

      modelForm: {
        nombre: null,
        motivo: null,
        costo: null,
        /*gastos: null,*/
        tipo:'INTERNO',

        lugar: '',
        lugar2: {
          name: null,
          lat: null,
          lng: null,
        },
        cupos: null,
        fecha: this.newDateTime,
        hora_inicio: this.newDateTime,
        hora_fin: this.newDateTime,

        images: [],

        invitados: []
      },

      pickerOptions: {
        start: '00:00',
        step: '00:01',
        end: '23:59',
        //minTime: this.modelForm.hora_inicio,
        selectableRange: '00:00:00 - 23:59:59'
      },

      pickerOptions: {
        disabledDate(time) {
          return time.getTime() < Date.now();
        },
      },

    }
  },
  watch: {
    'modelForm.lugar2.name': function() {
      this.modelForm.lugar = this.modelForm.lugar2.name;
      console.log("entro");
    },

    EventData: function() {
      console.log(this.EventData);
      this.modelForm.nombre = this.EventData.nombre;
      this.modelForm.costo = this.EventData.costo;
      this.modelForm.gastos = this.EventData.gastos;
      this.modelForm.motivo = this.EventData.motivo;
      this.modelForm.cupos = this.EventData.cupos;
      this.modelForm.fecha = this.$formatDate(this.EventData.fecha);
      this.modelForm.hora_inicio = this.EventData.hora_inicio;
      this.modelForm.hora_fin = this.EventData.hora_fin;

      this.modelForm.lugar = this.modelForm.lugar2.name = this.EventData.lugar[0].name;
      this.modelForm.lugar2.lat = this.EventData.lugar[0].lat;
      this.modelForm.lugar2.lng = this.EventData.lugar[0].lng;

      for (let i = 0; i < this.EventData.invitados.length; i++) {
        this.modelForm.invitados.push(this.EventData.invitados[i].id_user);
      }

      for (let i = 0; i < this.EventData.images.length; i++) {

        if(!(this.EventData.images[i].url.search('localhost')>0)){
          
          let temp = this.EventData.images[i].url;
          this.EventData.images[i].url='/'+temp
          
        }
        this.modelForm.images.push(this.EventData.images[i]);
        
      }

      console.log(this.modelForm.invitados);
    },


  },
  mounted() {
    if (google != undefined && this.$refs.autocomplete != undefined) {
      const input = this.$refs.autocomplete;
      this.autocomplete = new google.maps.places.Autocomplete(
        input,
      );

      this.autocomplete.addListener('place_changed', () => {
        let place = this.autocomplete.getPlace();
        let ac = place.address_components;
        let lat = place.geometry.location.lat();
        let lng = place.geometry.location.lng();
        let lugar = ac[0]["short_name"];

        this.modelForm.lugar = `${place.name} ${place.vicinity}`;
        this.modelForm.lugar2.name = `${place.name} ${place.vicinity}`;
        this.modelForm.lugar2.lat = lat;
        this.modelForm.lugar2.lng = lng;
      });
    }

    /*this.FetchUsers();*/
    if(this.$route.params.id){
      this.EmprendimentsEditEvent([this.$route.params.id])
    }else{

      this.FetchEmprendiments();
    }
    this.FetchUsers();

    if (this.$route.params.id) {
      this.FetchEvent(this.$route.params.id);
    }
  },

  methods: {
    ...mapActions({
      CreateEvent: 'events/createEvent',
      FetchEvent: 'events/fetchEvent',
      FetchEmprendiments: 'emprendiments/fetchEmprendiments',
      UpdateEvent: 'events/updateEvent',
      FetchUsers: 'users/fetchUsers',
      EmprendimentsEditEvent:'emprendiments/fetchEmprendimentsEditEvent'
    }),
    asignacionInvitados() {

    },
    handleCheckAllChange(val) {
      this.modelForm.invitados = val ? this.UsersIds : [];
      this.isIndeterminate = false;
    },

    handleCheckedChange(value) {
      let checkedCount = value.length;
      if (this.UsersIds != null) {
        this.checkAll = checkedCount === this.UsersIds.length;
        this.isIndeterminate = checkedCount > 0 && checkedCount < this.UsersIds.length;
      }
    },

    submitForm(formName) {
      this.$confirm(this.$t('confirm_submit'), this.$t('tittle_alert'), {
        confirmButtonText: this.$t('Si'),
        cancelButtonText: this.$t('No'),
        type: 'warning'
      }).then(() => {
        if (this.$route.params.id) {
          this.UpdateEvent([this, this.modelForm, this.$route.params.id]);
        } else {
          this.CreateEvent([this, this.modelForm]);
        }

      });
    },

    handleRemove(file, fileList) {
      this.modelForm.images = fileList.slice(-this.limitImage)
    },

    handleChange(file, fileList) {
      this.modelForm.images = fileList.slice(-this.limitImage)
    },


  },

};

</script>
<style scoped>
.img_list_emprend {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.card-header {
  /*background-color: #EA7223;*/
  color: white;
  text-align: center;
  display: flex;
  justify-content: center !important;
  font-size: 20px;
  height: 100%;
}

</style>
