<template>
  <card :title="$t('events')" :color="'#0091ea'" style="margin-top:9%;">
    <h3 class="text-center"><strong><u>{{EventData.nombre}}</u></strong></h3>
    <el-tabs :tab-position="tabPosition" stretch v-model="step" v-if="EventData!=null">

      <el-tab-pane v-if="true" name="1" :label="$t('event')">
        <div v-if="FinalizedEvent.length>0" class="alert alert-success" role="alert">
          <h3 class="text-center"><u>¡Evento Finalizado!</u></h3>
        </div>
        <el-row>
          <el-col :span="11">
            <img v-if="img.url.search('localhost') > -1" v-for="(img,index) in EventData.images" :key="index" :src="img.url" alt=""
              class="img-fluid">
            <img v-else v-for="(img,index) in EventData.images" :key="index" :src="'/'+img.url" v-if="img.url!=null" alt=""
              class="img-fluid">
          </el-col>
          <el-col :span="13">
            <el-row type="flex" justify="start">
              <ul style="list-style:none; ">
                <li class="ListDataEvent"><strong>{{$t('name')}}:</strong>
                  {{EventData.nombre}}
                </li>
                <el-divider class="w-100"></el-divider>
                <li class="ListDataEvent" v-if="EventData.lugar!=null && EventData.lugar.length>0">
                  <strong>{{$t('location')}}:</strong>
                  {{EventData.lugar[0].name}}
                </li>
                <el-divider class="w-100"></el-divider>
                <li class="ListDataEvent"><strong>{{$t('motive')}}:</strong>
                  {{EventData.motivo}}
                </li>
                <el-divider class="w-100"></el-divider>
                <li class="ListDataEvent"><strong>{{$t('type')}}:</strong>
                  {{EventData.tipo}}
                </li>
                <el-divider class="w-100"></el-divider>
                <li class="ListDataEvent"><strong>{{$t('date')}}:</strong>
                  {{EventData.fecha}}
                </li>
                <el-divider class="w-100"></el-divider>
                <li class="ListDataEvent"><strong>{{$t('hour_begin')}}:</strong>
                  {{EventData.hora_inicio}}
                </li>
                <el-divider class="w-100"></el-divider>
                <!-- <li class="ListDataEvent"><strong>{{$t('date_end')}}:</strong>
                {{EventData.date_end}}
                </li> -->
                <li class="ListDataEvent"><strong>{{$t('hour_end')}}:</strong>
                  {{EventData.hora_fin}}
                </li>
                <el-divider class="w-100"></el-divider>
                <li class="ListDataEvent"><strong>{{$t('quotas')}}:</strong>
                  {{EventData.cupos}}
                </li>
                <el-divider class="w-100"></el-divider>
                <li class="ListDataEvent"><strong>{{$t('cost')}}:</strong>
                  {{EventData.costo}} Bs.S.
                </li>
                <el-divider class="w-100"></el-divider>
              </ul>
            </el-row>
          </el-col>
        </el-row>
        <el-row>
          <gg-map v-if="EventData.lugar!=null && EventData.lugar.length>0" :lugar="EventData.lugar[0]" />
        </el-row>
      </el-tab-pane>

      <el-tab-pane v-if="true" name="2" :label="$t('guests')">
        <div id="">
          <div v-if="$role('emprend') && FinalizedEvent.length==0" class="">
            <el-form :model="modelForm" :rules="rulesForm" :status-icon="true" ref="modelForm" label-position="top"
              label-width="120px">

              <el-row type="flex" :justify="StatusPostulate?'end':'center'">
                <el-col v-if="!StatusPostulate" :span="8">

                  <el-form-item label="Codigo de pago" prop="inputcode">
                    <el-input minlength="10" maxlength="20" show-word-limit v-model="modelForm.inputcode" type="text"
                      placeholder="1A2B3C4D"></el-input>
                  </el-form-item>

                </el-col>
                <el-col v-if="!StatusPostulate" :span="12">

                  <el-form-item label="Boucher de pago" prop="images">
                    <el-row type="flex" justify="center">
                      <el-upload ref="upload" :file-list="modelForm.images" :action="urlUpload" :auto-upload="true"
                        :limit="limitImage" :on-success="$uploadSuccess" :before-upload="$beforeUpload"
                        :on-exceed="$handleExceed" :on-error="$handleError" :on-preview="$handlePictureCardPreview"
                        :on-change="handleChange" :on-remove="handleRemove">
                        <el-button size="small" type="primary">Clic para subir archivo</el-button>
                        <div slot="tip" class="el-upload__tip">Solo archivos jpg/png con un tamaño menor de 500kb</div>
                      </el-upload>
                      <el-dialog :visible.sync="dialogVisible">
                        <img width="100%" :src="dialogImageUrl" alt="">
                      </el-dialog>
                    </el-row>
                  </el-form-item>

                </el-col>
                <el-col :span="4">

                  <el-row type="flex" justify="space-between">
                    <el-button size="medium" @click.prevent="preRegister('modelForm')"
                      :disabled="InscriptionsData.length<EventData.cupos? StatusPostulate:true"
                      :type="ButtonPostulateEmprend">
                      <i class="">
                        <fa class="mr-1" :icon="['fas','user-plus']" />{{$t(ButtonPostulateStatus)}}
                      </i>
                    </el-button>
                  </el-row>

                </el-col>
              </el-row>

            </el-form>
          </div>
          <hr>
          <el-row>
            <el-col :span="24">
              <div v-if="$role(['admin','super'])" class="d-flex justify-content-end mb-3">
                <el-button size="medium" @click="dialogFormVisible=true"
                  :disabled="InvitationsData.length<EventData.cupos? false:true" type="primary">
                  <i class="">
                    <fa class="mr-1" :icon="['fas','user-plus']" />
                    {{$t('invite')}}
                  </i>
                </el-button>
              </div>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="8" v-for="(invitation,index,key) in InvitationsData" :key="index">
              <el-row type="flex" justify="space-around">
                <el-col :span="24" class=" mb-4 ">
                  <el-row type="flex" justify="center" align="middle">
                    <el-col :span="6">
                      <img v-if="invitation.images!=null && invitation.images.length>0"
                        :src="invitation.images[0].url" alt="" class="img_list_emprend">
                    </el-col>
                    <el-col :span="12">
                      <strong>{{invitation.nombre}}</strong>
                    </el-col>
                  </el-row>
                </el-col>
              </el-row>
            </el-col>
          </el-row>

          <el-dialog title="Emprendimientos no invitados" :visible.sync="dialogFormVisible">
            <el-row>
              <el-checkbox :indeterminate="isIndeterminate2" v-model="checkAllInvited"
                @change="handleCheckAllChangeInvited">
                {{ $t('mark_all')}}
              </el-checkbox>
              <el-checkbox-group v-model="modelForm.NoInvitados" @change="handleCheckedChangeNoInvitados" class="mt-4">
                <el-col :span="8" v-for="(NoInvitado,index,key) in Noinvitados" :key="index">
                  <el-row type="flex" justify="around" align="middle">
                    <el-checkbox :label="NoInvitado.id_user" :key="key">
                      <div class=" mb-4">
                        <img :src="$imgUrl('emprendProfile.jpg')" alt="" class="img_list_emprend">
                        <span class="ml-3"><strong>{{NoInvitado.nombre}}</strong></span>
                      </div>
                    </el-checkbox>
                  </el-row>
                </el-col>
              </el-checkbox-group>
            </el-row>
            <span slot="footer" class="dialog-footer">
              <el-button round size="small" type="danger" @click="dialogFormVisible = false">Cancelar</el-button>
              <el-button round size="small" type="primary" @click="submitRestInvitations">Invitar</el-button>
            </span>
          </el-dialog>
        </div>
      </el-tab-pane>

      <el-tab-pane v-if="$role(['super','admin'])" name="3" :label="$t('pre-registered')">
        <div>
          <el-row v-if="false">
            <el-col :span="24">
              <div class="d-flex justify-content-end mb-3">
                <el-button size="medium" @click="dialogVisible = true"
                  :disabled="invited_emprends.length<EventData.cupos? false:true" type="primary">
                  <i class="">
                    <fa class="mr-1" :icon="['fas','user-plus']" />
                    {{$t('enroll')}}
                  </i>
                </el-button>
              </div>
            </el-col>
          </el-row>
          <hr>
          <el-row>
            <el-col :span="24">
              <el-row v-if="false">
                <el-checkbox v-if="$role(['admin','super'])" :indeterminate="isIndeterminate" v-model="checkAllP"
                  @change="handleCheckAllChangePostulados">
                  {{ $t('mark_all')}}
                </el-checkbox>
                <el-checkbox-group v-model="data_event.postulados" @change="handleCheckedChangePostulados" class="mt-4">
                  <el-col :span="8" v-for="(postulation,index,key) in PostulationsData" :key="index">
                    <el-row type="flex" justify="around" align="middle">
                      <el-checkbox :label="postulation.id_postulation" :key="key">
                        <div class=" mb-4">
                          <img v-if="postulation.images!=null && postulation.images.length>0"
                            :src="'/'+postulation.images[0].url" alt="" class="img_list_emprend">
                          <span class="ml-3"><strong>{{postulation.nombre}}</strong></span>
                        </div>
                      </el-checkbox>
                    </el-row>
                  </el-col>
                </el-checkbox-group>
              </el-row>

              <el-row v-else>

                <DataTable :tableData="tableData[currentPage-1]" :tableFields="fields" :module="$attrs.module"
                  :type="typeButtons" :context="context" />

                <el-row class="clear-fix">
                  <!-- paso1 -->
                  <div class="block">
                    <span class="demonstration"></span>
                    <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
                      :current-page.sync="currentPage" :page-sizes="[5, 10, 20, 50]" :page-size="paginate"
                      :pager-count="11" layout="sizes, prev, pager, next"
                      :total="PostulationsData!=null?PostulationsData.length:1">
                    </el-pagination>
                  </div>
                </el-row>

              </el-row>
            </el-col>
          </el-row>
        </div>
      </el-tab-pane>

      <el-tab-pane v-if="true" name="4" :label="$t('inscribed')">
        <div>
          <el-row v-if="$role('admin') || $role('super')">
            <el-col :span="24">
              <el-row type="flex" justify="center">
                <!-- <el-checkbox :indeterminate="isIndeterminate" v-model="checkAllI" @change="handleCheckAllChangeInscritos">
                  {{ $t('mark_all')}}
                </el-checkbox>
                <el-checkbox-group v-model="data_event.inscritos" @change="handleCheckedChangeInscritos" class="mt-4">
                  <el-col :span="8" v-for="(inscrito,index,key) in InscriptionsData" :key="index">
                    <el-row type="flex" justify="around" align="middle">
                      <el-checkbox :label="inscrito.id_inscription" :key="key">
                        <div class=" mb-4">
                          <img :src="$imgUrl('emprendProfile.jpg')" alt="" class="img_list_emprend">
                          <span class="ml-3"><strong>{{inscrito.nombre}}</strong></span>
                        </div>
                      </el-checkbox>
                    </el-row>
                  </el-col>
                </el-checkbox-group>
                </el-row>
                <el-row> -->
                <el-col :md="12">
                  <el-row type="flex" justify="center" align="middle">
                    <el-select multiple :placeholder="$t('select_emprend')" v-model="ConfirmEmprendCode">
                      <el-option v-for="(inscrito,index,key) in InscriptionsData" :key="key" :value="inscrito"
                        :label="inscrito.nombre">

                      </el-option>

                    </el-select>
                  </el-row>
                  <el-row v-if="$role('admin')" type="flex" justify="center">
                    <el-col :span="24">
                      <span v-if="$role('admin')" class="text-center">
                        <strong>Nota:</strong><br>
                        <span class="text-muted">
                          {{$t('save_asistences_message1')}} <el-checkbox v-model="checkExample"></el-checkbox>
                          {{$t('save_asistences_message2')}}
                        </span>
                      </span>
                    </el-col>
                  </el-row>
                  <el-row type="flex" justify="center" class="mt-3">
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">{{$t('emprendiment')}}</th>
                          <th scope="col">{{$t('code')}}</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr v-for="(emprend,index,key) in ConfirmEmprendCode" :key="key">
                          <th scope="row">{{index+1}}</th>
                          <td>{{emprend.nombre}}</td>
                          <td>{{emprend.codigo}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </el-row>
                  <el-row type="flex" justify="center">
                    <el-button size="medium" :disabled="ConfirmEmprendCode.length <= 0" @click="submitAsistances"
                      type="success">
                      <i>
                        {{$t('confirm_assistences')}}
                        <fa :icon="['far','save']" />
                      </i>
                    </el-button>
                  </el-row>
                </el-col>

              </el-row>
            </el-col>
          </el-row>

          <el-row v-if="howInscription" type="flex" justify="space-between">
            <el-button size="medium" @click.prevent="unRegister('modelForm')">
              <i class="">
                <fa class="mr-1" :icon="['fas','user-times']" />{{$t('unregister')}}
              </i>
            </el-button>
          </el-row>

          <el-row class="mt-4">
            <h6 class="text-center"><strong>Inscritos</strong></h6>
            <el-col :span="5" v-for="(inscrito,index,key) in InscriptionsData" :key="index">
              <el-row type="flex" justify="center" align="middle">
                    
                      <img v-if="inscrito.images[0].url.search('localhost')>0" :src="inscrito.images[0].url"alt="" class="img_list_emprend">
                      <img v-else :src="'/'+inscrito.images[0].url"alt="" class="img_list_emprend">
                    
                      <strong class="ml-3">{{inscrito.nombre}}</strong>
                    
                  </el-row>
            </el-col>
          </el-row>

        </div>
      </el-tab-pane>

      <el-tab-pane v-if="true" name="5" :label="$t('assistants')">
        <div>
          <el-col :span="8" v-for="(asistence,index,key) in AsistencesData" :key="index">
            <el-row type="flex" justify="space-around">
              <el-col :span="24" class=" mb-4 ">
                <el-row type="flex" justify="center" align="middle">
                  <el-col :span="6">
                    <img v-if="asistence.images[0].url.search('localhost')>0" :src="asistence.images[0].url" alt="" class="img_list_emprend">
                    <img v-else :src="$imgUrl('user_default.jpg')" alt="" class="img_list_emprend">
                  </el-col>
                  <el-col :span="12">
                    <strong>{{asistence.nombre}}</strong>
                  </el-col>
                </el-row>
              </el-col>
            </el-row>
          </el-col>
          </el-row>
        </div>
      </el-tab-pane>

      <el-tab-pane v-if="FinalizedEvent.length>0" name="6" :label="$t('event_expenses')">
        <el-row type="flex" justify="end" align="top">
          <el-col :span="3" v-if="EventData.gastos==null || EventData.gastos==0">
            <el-button type="primary" @click="register_costs()">{{$t('register_expenses')}}.</el-button>
          </el-col>

        </el-row>

      </el-tab-pane>

    </el-tabs>
    <el-dialog title="Tips" :visible.sync="dialogVisible" width="30%" :before-close="handleClose">
      <span>This is a message</span>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisible = false">Cancel</el-button>
        <el-button type="primary" @click="dialogVisible = false">Confirm</el-button>
      </span>
    </el-dialog>
  </card>
</template>
<style scope>
  .ListDataEvent {
    min-height: 2em;
  }

  .ResumeTable {
    font-size: 13px !important;
    text-align: center !important;
  }

  .img_list_emprend {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .list-group-item:hover {
    background-color: #1e88e5;
    transition: .5s;
  }

  .list_emprend_event {
    max-height: 300px;
    overflow: scroll;
  }

  .list_emprend_event a {
    color: black;
    text-decoration: none;
  }
</style>
<script>
  import {
    mapGetters,
    mapActions
  } from 'vuex';

  export default {
    //middleware: 'auth',

    metaInfo() {
      return {
        title: this.$t('events')
      }
    },
    async beforeMount() {

      if (this.$role('emprend')) {
        this.FetchPostulation([this, this.$route.params.id]);

        this.FetchMyEmprendiment();
      } else {

        await this.FetchPostulations([this, this.$route.params.id]);
        this.$paginate(this.PostulationsData, this.paginate, this.totalPaginate, this);
      }
      /*this.FetchInvitations([this, this.$route.params.id]);*/
      this.FetchInscriptions([this, this.$route.params.id]);
      this.FetchAsistences([this, this.$route.params.id]);
    },
    watch: {
      InvitationsData:function(){
        
        this.InvitationsData.forEach(function(ALGO){
          console.log(ALGO.images[0].url);
          if(ALGO.images[0].url.search('localhost')<0){
            ALGO.images[0].url='/'+ALGO.images[0].url;
          }
        });
        
        
      },
      Noinvitados: function () {
        console.log(this.Noinvitados);
      },
      InscriptionsData: function () {
        if (this.InscriptionsData) {
          console.log("Inscritos: ", this.InscriptionsData);
        }
      },
      step: function () {
        switch (this.step) {
          case '2':
            this.FetchInvitations([this, this.$route.params.id]);
            this.FetchNoInvitados([this.$route.params.id]);
            break;
          case '3':

            this.FetchPostulations([this, this.$route.params.id]);

            this.$paginate(this.PostulationsData, this.paginate, this.totalPaginate, this);

            break;
          case '4':
            this.FetchInscriptions([this, this.$route.params.id]);
            break;
          case '5':
            this.FetchAsistences([this, this.$route.params.id]);
            break;
        }
      }
    },
    computed: {
      ...mapGetters({

      EmprendData: 'emprendiments/emprendiment',
      EventData: 'events/event',
      InvitationsData: 'events/invitations',
      PostulationsData: 'events/postulations',
      InscriptionsData: 'events/inscriptions',
      AsistencesData: 'events/asistences',

      FinalizedEvent: 'events/finalized_event',

      Noinvitados: 'events/noInvitados',

      /*Users: 'users/users',*/
      /*UsersIds: 'users/usersIds', id de usuarios POR SI ACASO*/
      /*PostulationUser: 'events/postulation', POSTULACION SOLA POR SI ACASO*/
      }),

      howInscription() {
        for (let index = 0; index < this.InscriptionsData.length; index++) {
          if (this.$user().id == this.InscriptionsData[index].id_user && this.Binscrito) {
            return true;
          }
        }
        return false;
      }
    },

    data() {
      return {
        Binscrito: true,
        context: this,
        dialogFormVisible: false,
        totalPaginate: 1, //<!-- paso7-->
        currentPage: 1, //<!-- paso8-->
        paginate: 5, //<!-- paso9-->
        tableData: [], //<!-- paso10-->
        ConfirmEmprendCode: [],
        limitImage: 1,
        urlUpload: 'http://localhost:8000/api/image/upload',
        dialogImageUrl: '',
        dialogVisible: false,


        tabPosition: 'top',
        step: '1',

        dialogVisible: false,

        modelForm: {
          inputcode: '',
          images: [],
          id_emprend: '',
          id_event: '',
          NoInvitados: [],
        },

        checkAllP: false,
        checkAllInvited: false,
        checkAllI: false,
        isIndeterminate: false,
        isIndeterminate2: false,
        EnableButtonSave: true,
        checkExample: true,
        ButtonPostulateEmprend: 'primary',
        StatusPostulate: false,
        ButtonPostulateStatus: 'pre-register',
        idsInvitados: [],
        idsPostulados: [],
        idsInscritos: [],
        PostulationData: {
          id_emprend: '',
          id_event: '',
        },
        data_event: {
          /*name:'Event 1',
          location:'C.C. Cumaná Plaza',
          motive:'Dia de independencia',
          date_begin:'05-07-2019',
          hour_begin:'10:00',
          date_end:'05-07-2019',
          hour_end:'17:30',
          quotas:36,
          cost:20000,*/
          invitados: [],
          postulados: [],
          inscritos: []
        },
        invited_emprends: [{
            emprend_name: "Emprend1",
            asistencia: null,
          },
          {
            emprend_name: "Emprend2",
            asistencia: null,
          },
          {
            emprend_name: "Emprend3",
            asistencia: null,
          },
          {
            emprend_name: "Emprend4",
            asistencia: null,
          },
          {
            emprend_name: "Emprend5",
            asistencia: null,
          },
          {
            emprend_name: "Emprend6",
            asistencia: null,
          },

        ],

        fields: [{
            prop: 'nombre',
            label: 'Nombre',
            colum: true
          },
          {
            prop: 'created_at',
            label: 'Fecha',
            colum: true
          },
          {
            prop: 'codigo',
            label: 'Referencia de pago',
            colum: true
          },
          {
            prop: 'images',
            label: 'Boucher',
            colum: false
          },
        ],

        typeButtons: [{
          tipo: 'confirm',
          role: ['super', 'admin']
        }, ],
      }
    },

    mounted() {
      /*this.FetchUsers();*/
      /*console.log('router: ', this.$route.matched[1].name);*/

      this.FetchEvent([this.$route.params.id]);
      this.FetchFinalizedEvent([this.$route.params.id]);

    },

    methods: {
      ...mapActions({
        FetchUsers: 'users/fetchUsers',
        FetchMyEmprendiment: 'emprendiments/fetchMyEmprendiment',
        FetchEvent: 'events/fetchEvent',
        createInscriptions: 'events/createInscriptions',
        createInscription: 'events/createInscription',
        FetchInvitations: 'events/fetchInvitations',
        FetchInscriptions: 'events/fetchInscriptions',
        FetchAsistences: 'events/fetchAsistences',
        FetchPostulations: 'events/fetchPostulations',
        FetchPostulation: 'events/fetchPostulation',
        createPostulation: 'events/createPostulation',
        createAsistences: 'events/createAsistences',

        FetchFinalizedEvent: 'events/fetchFinalizedEvent',
        FetchNoInvitados: 'events/fetchNoInvitados',
        SendInvitations: 'events/restInvitations',

        UnRegister: 'events/unRegister',
      }),

      submitRestInvitations() {
        this.SendInvitations([this, this.modelForm.NoInvitados, this.$route.params.id]);
        this.dialogFormVisible = false;
      },

      async submitPostulation() {
        this.modelForm.id_event = this.EventData.id;

        this.modelForm.id_emprend = this.EmprendData != null && this.EmprendData.length > 0 ? this.EmprendData[0].id :
          null;

        this.createPostulation([this, this.modelForm]);
      },

      register_costs() {

        this.$router.push({
          path: `/site/transactions/event/${this.$route.params.id}/form`

        });

      },

      submitInscriptions(formName) {
        this.$confirm(this.$t('confirm_submit'), this.$t('tittle_alert'), {
          confirmButtonText: this.$t('Si'),
          cancelButtonText: this.$t('No'),
          type: 'warning'
        }).then(() => {
          //this.$success('bien por ti mi pana!');
          //this.formats();
          this.createInscriptions([this, this.data_event.postulados, this.EventData.costo, this.$route.params.id]);
        });
      },

      preRegister(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            this.$confirm(this.$t('confirm_submit'), this.$t('tittle_alert'), {
              confirmButtonText: this.$t('Si'),
              cancelButtonText: this.$t('No'),
              type: 'warning'
            }).then(() => {
              this.submitPostulation();
            });
          } else {
            console.log('Error al enviar el formulario!!');
            this.$warning(this.$t('form_error'));
            return false;
          }
        });
      },

      submitAsistances() {
        /*this.createAsistences([this, this.data_event.inscritos])*/
        this.createAsistences([this, this.ConfirmEmprendCode]);
        this.FetchPostulations([this, this.$route.params.id]);
      },
      ActivateButtonSave() {
        let contAsistences = 0;
        console.log("Entro al Active");
        for (let i = 0; i < this.invited_emprends.length; i++) {
          if (this.invited_emprends[i].asistencia) {
            contAsistences++;
          }
        }

        if (contAsistences > 0) {
          this.EnableButtonSave = false;
        } else {
          this.EnableButtonSave = true;
        }
      },
      ClassTableResume({
        row,
        rowIndex
      }) {
        return 'ResumeTable';
      },

      handleCheckAllChangePostulados(val) {
        /*let items = this.$returnIds(this.PostulationsData, 'id_postulation');
        console.log("items",items);*/
        this.data_event.postulados = val ? this.$returnIds(this.PostulationsData, 'id_postulation') : [];
        this.isIndeterminate = false;
      },

      handleCheckedChangePostulados(value) {
        let checkedCount = value.length;
        if (this.idsPostulados != null) {
          this.checkAllP = checkedCount === this.idsPostulados.length;
          this.isIndeterminate = checkedCount > 0 && checkedCount < this.idsPostulados.length;
        }

      },

      handleClose(done) {
        this.$confirm('Are you sure to close this dialog?')
          .then(_ => {
            done();
          })
          .catch(_ => {});
      },
      /*handleCheckAllChangeInvitados(val) {
      this.data_event.invitados = val ? this.$returnIds(this.InvitationsData, 'id_invitation') : [];
      this.isIndeterminate = false;
      },

      handleCheckedChangeInvitados(value) {
      let checkedCount = value.length;
      if (this.idsInvitados!=null) {
      this.checkAll = checkedCount === this.idsInvitados.length;
      this.isIndeterminate = checkedCount > 0 && checkedCount < this.idsInvitados.length;
      }

      },*/
      handleCheckAllChangeInscritos(val) {
        this.data_event.inscritos = val ? this.$returnIds(this.InscriptionsData, 'id_inscription') : [];
        this.isIndeterminate = false;
      },

      handleCheckedChangeInscritos(value) {
        let checkedCount = value.length;
        if (this.idsInscritos != null) {
          this.checkAllI = checkedCount === this.idsInscritos.length;
          this.isIndeterminate = checkedCount > 0 && checkedCount < this.idsInscritos.length;
        }
        console.log(this.idsInscritos);

      },

      handleRemove(file, fileList) {
        this.modelForm.images = fileList.slice(-this.limitImage)
      },

      handleChange(file, fileList) {
        this.modelForm.images = fileList.slice(-this.limitImage)
      },

      handleSizeChange(val) { //<!-- paso2 -->
        console.log(`${val} items per page`);
        this.paginate = val;
        this.$paginate(this.PostulationsData, this.paginate, this.totalPaginate, this);
      },

      handleCurrentChange(val) { //<!-- paso3 -->
        console.log(`current page: ${val}`);
        this.currentPage = val;
      },
      handleCheckAllChangeInvited(val) {
        let totalIDs = [];

        this.Noinvitados.forEach(function (element) {
          totalIDs.push(element.id_user);
        });

        this.modelForm.NoInvitados = val ? totalIDs : [];

        this.isIndeterminate2 = false;
      },
      handleCheckedChangeNoInvitados(value) {
        let checkedCount = value.length;
        if (this.Noinvitados != null) {
          this.checkAllInvited = checkedCount === this.Noinvitados.length;
          this.isIndeterminate2 = checkedCount > 0 && checkedCount < this.Noinvitados.length;
        }

      },

      unRegister(modelForm) {
        this.UnRegister([this, this.$route.params.id]);
      }

    }

  };
</script>