<template>
    <!-- <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#0288d1; font-size:14px; ">  -->
    <!-- <nav class="navbar navbar-expand-lg shadow-lg navbar-dark " style="background-color:#bb3bea #004a94; font-size:14px; ">  -->
    <div>
        <nav class="navbar navbar-expand-lg navbar-dark "
            style="background-image:linear-gradient(-225deg, rgba(35,21,81,.8) 0%, rgba(68,16,122,.8) 29%, rgba(255,19,97,.8) 67%, rgba(255,248,0,.8) 100%); font-size:14px; ">
            <div class="container">
                <router-link :to="{ name: user ? 'welcome' : 'welcome' }" class="navbar-brand">
                    <!-- {{ appName }} -->
                    <img :src="$imgUrl('logo_sisgemp_blanco.png')" alt="" style="width:200px; height:30px;">
                </router-link>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
                    aria-controls="navbarToggler" aria-expanded="false">
                    <span class="navbar-toggler-icon" />
                </button>
                <!--emil-->
                <div id="navbarToggler" class="collapse navbar-collapse">
                    <ul class="navbar-nav">

                    </ul>
                    <ul class="navbar-nav ml-auto">
                        <div class="d-flex align-items-center">
                            <!-- Authenticated -->
                            <li v-if="$check()" class="nav-item">
                                <router-link :to="{ name: 'site.forum' }" class="nav-link">
                                    <fa icon="comments" style="font-size:17px;" fixed-width />
                                    <!-- {{ $t('notifications') }} -->
                                </router-link>
                            </li>
                            <li v-if="$check()" class="nav-item">
                            
                                <router-link :to="{ name: 'site.notifications' }" class="nav-link">
                                    <!-- <el-badge v-if="CountNotify>0" :value="CountNotify" :max="99"> -->
                                    <el-badge :value="CountNotify" :max="99">
                                        <fa icon="bell" style="font-size:17px;" fixed-width />
                                        <!-- {{ $t('notifications') }} -->
                                    </el-badge>
                                </router-link>
                            </li>
                            <li v-if="user" class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    <img :src="user.photo_url" class="rounded-circle profile-photo mr-1">
                                    {{ user.name }}
                                </a>
                                <div class="dropdown-menu top-index">
                                    <router-link v-for="(menu,key) in menus" :key="key" :to="{ name: menu.route }"
                                        class="dropdown-item pl-3">
                                        <fa :icon="menu.icon" fixed-width />
                                        {{ $t(menu.name) }}
                                    </router-link>
                                    <div class="dropdown-divider" />
                                    <a href="#" class="dropdown-item pl-3" @click.prevent="logout">
                                        <fa icon="sign-out-alt" fixed-width />
                                        {{ $t('logout') }}
                                    </a>
                                </div>
                            </li>
                            <!-- Guest -->
                            <template v-else>
                                <li class="nav-item">
                                    <router-link :to="{ name: 'login' }" class="nav-link" active-class="active">
                                        {{ $t('login') }}
                                    </router-link>
                                </li>
                                <li class="nav-item">
                                    <router-link :to="{ name: 'register' }" class="nav-link" active-class="active">
                                        {{ $t('create_request') }}
                                    </router-link>
                                </li>
                            </template>
                            <!-- <locale-dropdown /> -->
                        </div>
                    </ul>

                </div>
            </div>
        </nav>
        <!-- MENU GESTION OMNIPRESENTE-->
        <div class="container-fluid position-fixed " style="top:11%; z-index:1000;"
            v-if="$check() && $route.name!='site' && $route.name!='profile' && $route.name!='welcome'">
            <div class="row align-items-center justify-content-betweeen">
                <el-button circle type="primary" plain size="large" @click="$router.go(-1)"><i
                        class="font-weight-bold el-icon-back"></i></el-button>
                <div style="position:fixed; right:0px;  ">
                    <el-button circle size="large" style="font-size:18px;" data-toggle="collapse"
                        data-target="#navbarToggleExternalContent1" icon="el-icon-menu"></el-button>
                    <div class="w-50">
                        <div class="collapse" id="navbarToggleExternalContent1">
                            <div class=" p-md-4 row justify-content-md-around">
                                <div class="col-sm-3 col-md-4 " v-for="(tab,key) in trueRute?tabs:tabs2" :key="key" v-if="$role(tab.role)">
                                    <router-link :to="{ name: tab.route }" data-toggle="collapse"
                                        data-target="#navbarToggleExternalContent1"
                                        class="m-md-3 text-dark text-center d-flex justify-content-center align-items-center flex-column">

                                        <img :src="$imgUrl('iconsPanel/'+tab.icon)" alt="" style="width:85%;">
                                        <div class="mt-md-3">
                                            <span
                                                style="color:#38383b; text-transform:uppercase; font-size:10px;"><strong>{{ $t(tab.name) }}</strong></span>
                                        </div>
                                    </router-link>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import {
        mapGetters
    } from 'vuex';
    import LocaleDropdown from './LocaleDropdown';

    export default {
        name: 'NavBar',

        components: {
            LocaleDropdown
        },

        data: () => ({
            appName: window.config.appName,

            notify: true,
            ColorsArray: [{
                    modulo: 'event',
                    color: '#EA7223'
                },
                {
                    modulo: 'polls',
                    color: '#0091ea'
                },
                {
                    modulo: 'transaction',
                    color: '#67C23A'
                },
                {
                    modulo: 'product',
                    color: '#E6A23C'
                },
                {
                    modulo: 'request',
                    color: '#bb3bea'
                },
                {
                    modulo: 'reports',
                    color: '#e33026'
                },
                {
                    modulo: 'quotes',
                    color: '#008080'
                },
                {
                    modulo: 'emprendiment',
                    color: '#eb636b'
                },

            ],
            /*ColorsArray: [{
            modulo: 'event',
            color: '#EA7223'
            },
            {
            modulo: 'polls',
            color: '#0091ea'
            },
            {
            modulo: 'transaction',
            color: '#E6A23C'
            },
            {
            modulo: 'product',
            color: '#67C23A'
            },
            {
            modulo: 'request',
            color: '#bb3bea'
            },
            {
            modulo: 'reports',
            color: '#EA7223'
            },
            {
            modulo: 'quotes',
            color: '#EA7223'
            },
            {
            modulo: 'emprendiment',
            color: '#EA7223'
            },

            ],*/
        }),

        computed: {
            ...mapGetters({
                user: 'auth/user',
                menus: 'module/menu_index',
                tabs: 'module/tabs_site',
                tabs2: 'module/tabs_profile',

                CountNotify: 'notifications/countNotify'
            }),

            trueRute: function () {
                if (this.$route.path.indexOf('site') > 0 || this.$route.name == 'home') {
                    return true;
                } else {
                    return false;
                }
            }
        },

        methods: {
            async logout() {
                // Log out the user.
                await this.$store.dispatch('auth/logout');

                // Redirect to login.
                this.$router.push({
                    name: 'login'
                });
            }
        }
    };
</script>
<style lang='css' scoped>
    .profile-photo {
        width: 2rem;
        height: 2rem;
        margin: -.375rem 0;
    }

    .top-index {
        z-index: 9999999999;
    }

    .in {
        display: block !important;
    }

    .dropdown-item:hover {

        /* background-color: #0288d1;  */
        background-color: rgba(2, 136, 209, .7);
        color: white !important;
    }

    #navbarToggleExternalContent1 {
        width: 30%;
        z-index: 1000;
        position: fixed;
        right: 0px;
        background-color: white;
        box-shadow: 0px 0px 5px 5px rgba(100, 100, 100, .6);
        min-height: 50vh;
        margin-top: 1%;
    }

    .iconMenuContainer {
        border-radius: 50%;
        width: 50px;
        height: 50px;
        padding: 10px;

        border-bottom: 5px solid #0045a6;
        box-shadow: 6px 6px 6px #999;
        cursor: pointer;
        transition: all 0.2s ease 0s;
    }

    .HoverMenu:hover {
        color: black;

        background: #0096f7;

    }
</style>