<template>
  <div class="input-group">
    <input id="btn-input" type="text" name="message" class="form-control input-sm"
      :placeholder="$t('type_your_message')+'...'" v-model="newMessage" @keyup.enter="sendMessage">

    <span class="input-group-btn">
      <button class="btn btn-primary btn-sm" id="btn-chat" @click="sendMessage">
        <!--v-scroll-to="'#mensaje'+cant"-->
        {{$t('send')}}
      </button>
    </span>
  </div>
</template>

<script>
  export default {
    name: 'ChatForm',

    props: ['userName', 'cant'],

    data() {
      return {
        newMessage: ''
      }
    },

    methods: {
      async sendMessage() {
        await this.$emit('messagesent', {
          user: this.userName,
          message: this.newMessage
        });
        this.newMessage = '';
      }
    }
  };
</script>

<style lang='css'>
  #btn-input {
    height: 100%;
  }
</style>