<template>
    <ul class="chat messages chatroom" id="messages" v-chat-scroll>
        <li class="left clearfix message" v-for="(message,index,key) in messages" :key="key" :id="'mensaje'+index">
            <div class="chat-body clearfix">
                <div class="header head-message">
                    <strong class="primary-font">
                        {{ message.user.name }}
                    </strong>

                    <span v-if="$can('message-delete')" @click="deleteMessage(message.id)" class="delete-message">
                        <fa icon="times" />
                    </span>
                </div>

                <p class="body-message"> {{ message.message }} </p>
                <span class="time-message">{{ message.created_at }}</span>
            </div>
        </li>
    </ul>
</template>

<script>
    export default {
        name: 'ChatMessages',

        props: ['messages'],

        methods: {
            async deleteMessage(idMessage) {
                await this.$emit('messagedelete', {
                    idMessage: idMessage
                });
            }
        }
    };
</script>

<style lang='css'>
    .head-message {
        display: flex;
        justify-content: space-between;
        padding-right: 10px;
    }

    .delete-message {
        cursor: pointer;
    }

    .time-message {}

    .body-message {}
</style>