<template>
  <card :title="$t('emprendiments')" :color="'#E6A23C'" style="margin-top:9%;">
    <DataTable
      :tableData="tableData[currentPage-1]"
      :tableFields="fields"
      :module="$attrs.module"
      :type="typeButtons"
    />

    <el-row class="clear-fix">
      <!-- paso1 -->
      <div class="block">
        <span class="demonstration"></span>
        <el-pagination
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          :current-page.sync="currentPage"
          :page-sizes="[5, 10, 20, 50]"
          :page-size="paginate"
          :pager-count="11"
          layout="sizes, prev, pager, next"
          :total="Emprendiments!=null?Emprendiments.length:1"
        ></el-pagination>
      </div>
    </el-row>
  </card>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  //middleware: 'auth',

  metaInfo() {
    return { title: this.$t(this.$attrs.module) };
  },

  computed: mapGetters({
    Emprendiments: "emprendiments/emprendiments"
  }),

  data() {
    return {
      totalPaginate: 1, //<!-- paso7-->
      currentPage: 1, //<!-- paso8-->
      paginate: 5, //<!-- paso9-->
      tableData: [], //<!-- paso10-->

      fields: [
        {
          prop: "nombre",
          label: this.$t("name"),
          colum: true
        },
        {
          prop: "created_at",
          label: this.$t("fecha_suscripción"),
          colum: true
        },
        {
          prop: "caracteristicas",
          label: this.$t("characteristics"),
          colum: true
        },
        {
          prop: "status",
          label: this.$t("status"),
          colum: true
        }
      ],

      typeButtons: [
        {
          tipo: "view",
          role: ["super", "admin", "emprend"]
        },
        {
          tipo: "banner",
          role: ["super", "admin"]
        }
      ]
    };
  },

  async mounted() {
    await this.FetchEmprendiments();
    this.$paginate(this.Emprendiments, this.paginate, this.totalPaginate, this); //<!-- paso6-->
  },

  methods: {
    ...mapActions({
      FetchEmprendiments: "emprendiments/fetchEmprendiments"
    }),
    handleSizeChange(val) {
      //<!-- paso2 -->
      console.log(`${val} items per page`);
      this.paginate = val;
      this.$paginate(
        this.Emprendiments,
        this.paginate,
        this.totalPaginate,
        this
      );
    },

    handleCurrentChange(val) {
      //<!-- paso3 -->
      console.log(`current page: ${val}`);
      this.currentPage = val;
    }
  }
};
</script>
