<template>
  <card :title="$t('emprendiments')">
	  	<el-tabs :tab-position="tabPosition" v-model="step">
				
        <!-- first tab form -->
		    <el-tab-pane v-if="true" name="1" :label="$t('info')" :disabled="disableTab('1')">
		      <el-form 
	        :model="modelForm1" 
	        :rules="rulesForm"
	        :status-icon="true"
	        ref="modelForm1" 
	        label-position="top"
	        label-width="120px">

		        <el-form-item label="Nombre" prop="name">
		          <el-input v-model="modelForm1.name" type="text" placeholder="name"></el-input>
		        </el-form-item>

		        <el-form-item label="Descripcion" prop="description">
		          <el-input v-model="modelForm1.description" type="text" placeholder="description"></el-input>
		        </el-form-item>

		        <el-form-item label="Precio" prop="price">
		          <el-input v-model.number="modelForm1.price" placeholder="price"></el-input>
		        </el-form-item>

		        <el-row type="flex" justify="space-between">
		          <el-button size="medium" type="danger" plain @click="$cancelForm()">{{ $t('cancel') }}</el-button>

		          <el-button size="medium" type="primary" plain @click="nextForm('modelForm1')">{{ $t('continue') }}</el-button>
		        </el-row>

		      </el-form>
		    </el-tab-pane>

				<!-- second tab form -->
		    <el-tab-pane v-if="true" name="2" :label="$t('images')" :disabled="disableTab('2')">
			    <el-form 
	        :model="modelForm2" 
	        :rules="rulesForm"
	        :status-icon="true"
	        ref="modelForm2" 
	        label-position="top"
	        label-width="120px">

            <el-form-item label="Imagenes" prop="images">
              <el-row type="flex">
    		        <el-upload 
                ref="upload" 
                list-type="picture-card"
                :file-list="modelForm2.images"
                :action="urlUpload" 
                :auto-upload="false" 
                :limit="limitImage"
                :on-success="$uploadSuccess"
                :before-upload="$beforeUpload" 
                :on-exceed="$handleExceed"
                :on-error="$handleError"
                :on-preview="$handlePictureCardPreview" 
                :on-change="handleChange"
                :on-remove="handleRemove" >
    						  <fa icon="plus"/>
    						</el-upload>

    						<el-dialog :visible.sync="dialogVisible">
    						  <img width="100%" :src="dialogImageUrl" alt="">
    						</el-dialog>
              </el-row>
            </el-form-item>

		        <el-row type="flex" justify="space-between">
		          <el-button size="medium" type="danger" plain @click="$cancelForm()">{{ $t('cancel') }}</el-button>

		          <div>
			          <el-button size="medium" type="default" plain @click="backForm()">{{ $t('back') }}</el-button>

			          <el-button size="medium" type="primary" plain @click="nextForm('modelForm2')">{{ $t('continue') }}</el-button>
		          </div>
		        </el-row>

		      </el-form>
				</el-tab-pane>
		    
				<!-- final tab form -->
		    <el-tab-pane v-if="true" name="3" :label="$t('review')" :disabled="disableTab('3')">
          <div class="row mb-2">
            <div class="col-sm-2">
              <label for="">Nombre: </label>               
            </div>
            <div class="col">
              {{ modelForm1.name }}
            </div>
          </div>
          <div class="row mb-2">
            <div class="col-sm-2">
              <label for="">Descripción: </label>               
            </div>
            <div class="col">
              {{ modelForm1.description }}
            </div>
          </div>
          <div class="row mb-2">
            <div class="col-sm-2">
              <label for="">Precio: </label>               
            </div>
            <div class="col">
              {{ modelForm1.price }}
            </div>
          </div>
          <div class="row mb-4">
            <div class="col-sm-2">
              <label for="">Imagenes: </label>               
            </div>
            <div class="col">
              <div class="block" >
                <span v-if="false" class="demonstration">{{ $t('image') }}</span>

                <el-image 
                v-for="(item,key) in modelForm2.images" 
                :key="key" 
                :src="item.url" 
                :fit="fit" 
                style="width: 100px; height: 100px; margin-left: 0.5rem;margin-right: 0.5rem;">
                  <div slot="placeholder" class="image-slot">
                    {{ $t('loading') }}<span class="dot">...</span>
                  </div>
                  <div slot="error" class="image-slot">
                    <i class="el-icon-picture-outline"></i>
                  </div>
                </el-image>

              </div>
            </div>
  
            <el-row type="flex">
              
            </el-row>
          </div>
		    	
		    	<el-row type="flex" justify="space-between">
	          <el-button size="medium" type="danger" plain @click="$cancelForm()">{{ $t('cancel') }}</el-button>
	          
	          <div>
		          <el-button size="medium" type="default" plain @click="backForm()">{{ $t('back') }}</el-button>

		          <el-button size="medium" type="primary" plain @click="submitForm()">{{ $t('save') }}</el-button>
	          </div>
	        </el-row>
		    </el-tab-pane>
		</el-tabs>

  </card>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
  middleware: 'auth',

  components: {

  },

  metaInfo () {
    return { title: this.$t('emprendiments') }
  },

  data(){
      return {
        fit:'cover',

        limitImage: 4,
        urlUpload: 'http://localhost:8000/api/image/upload',

      	dialogImageUrl: '',
        dialogVisible: false,

      	tabPosition: 'right', // top right
      	step: '1',

        modelForm1: {
          nname: null,
          caracteristics: null,
          description: null,
          fechaConstitucion: null,
          idRubro: null,
        },

        modelForm2: {
          images: []
        },

        
      }
    },

    methods: {
    	...mapActions({
	      CreateProduct: 'products/createProduct',
	    }),

    	alertas(item){
    		console.log('lsadas');
    		return true;
    	},

    	disableTab(tab){
    		if (this.step==tab) {
    			return false;
    		}else{
    			return true;
    		}
    	},

      backForm() {
        var number = parseInt(this.step);
      	number--;
        this.step=number.toString();
      },

    	nextForm(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
          	var number = parseInt(this.step);
          	number++;
            this.step=number.toString();
          } else {
            console.log('Error al enviar el formulario!!');
            return false;
          }
        });
      },

      submitForm(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
          	
          } else {
            console.log('Error al enviar el formulario!!');
            return false;
          }
        });
      },

      resetForm(formName) {
        this.$refs[formName].resetFields();
      },

      handleRemove(file, fileList) {
        this.modelForm2.images = fileList.slice(-3);
      },

      handleChange(file, fileList) {
        this.modelForm2.images = fileList.slice(-3);
      },

      

      
      //<!--<input type="file" accept="image/*" @change="uploadImage($event)" id="file-input">-->
      /*async uploadImage(event) {
        var url = await this.$uploadImage(event);
        this.modelForm2.images.push( url );
      },*/

  	},

};
</script>

<style lang='css'>
		
</style>
