<template>
  <div style="margin-top:5%;">
    <div class="container-fluid" >
      <div class="row justify-content-center" style="" >
        <div class="col-md-11 col-sm-12 " id="ContainerPortada" >
          <!-- <img :src="$imgUrl('emprendProfile.jpg')" alt="" style="height:100%" class="img-fluid w-100"> -->
          <div  class="w-100 shadow-lg" style="position:relative;">
            <img v-if="imgUrlBanner.search('images/imagen-no.png')" :src="imgUrlBanner" alt="NO HAY IMAGEN" style="height:100%" class="img-fluid w-100">
            <img v-else :src="$imgUrl('imagen-no.png')" alt="NO HAY IMAGEN" style="height:100%" class="img-fluid w-100">

            <el-upload
               style="z-index:100; position:absolute; right:0px; bottom:0px;"
                        :action="urlUpload"
                        :auto-upload="true" 
                        :show-file-list="false"
                        :on-success="uploadSuccess2"
                    :on-preview="handlePictureCardPreview2">

                       
                        
                        <!-- <img  v-if="imgUrlProfile!=''" :src="imgUrlProfile"  style="height:100%; width:100%; border-radius:50%;">
                        <img v-else :src="$imgUrl('emprendProfile.jpg')" style="height:100%; width:100%; border-radius:50%;" alt=""> -->
                        
                    </el-upload>
          </div>
            
        </div>
      </div>
        
    </div>
      

    <div class="container" id="ContenedorProfileImage">
      <div class="row justify-content-center align-items-center">
        <div class="col-sm-6 ">
          <div class="row justify-content-center">
            
            <div style="position:relative; height:200px; width:200px;" >
              <img  v-if="imgUrlProfile!=''" :src="imgUrlProfile"  style="height:100%; width:100%; border-radius:50%;" class="shadow-lg img-thumbnail">
              <img v-else :src="$imgUrl('user.svg')"  style="height:100%; width:100%; border-radius:50%;" class="shadow-lg">

              <el-upload
                 style="z-index:100; position:absolute; right:0px; bottom:0px;"
                          :action="urlUpload"
                          :auto-upload="true" 
                          :show-file-list="false"
                          :on-success="uploadSuccess"
                          :on-preview="handlePictureCardPreview">

          
                          
                          <!-- <img  v-if="imgUrlProfile!=''" :src="imgUrlProfile"  style="height:100%; width:100%; border-radius:50%;">
                          <img v-else :src="$imgUrl('emprendProfile.jpg')" style="height:100%; width:100%; border-radius:50%;" alt=""> -->
                          
                        </el-upload>
              
            </div>
          </div>
          <div class="col-sm-12 mt-3">
            
            <h2 class="text-center text-muted">{{TotalDataEmprend.emp_nombre}}</h2>  
            
          </div>
          <div class="col-sm-12 mt-3">
            <p class="text-muted text-justify">{{TotalDataEmprend.descripcion}}.</p>
          </div>
          
        </div>
      </div>
    </div>
    

    

    <div class="container-fluid"  style="margin-top:3%;" v-if="$role('emprend')||$role('admin')||$role('super')">
      
          <el-row class="mb-3" >
            <el-col :span="24" class="text-center">
              <h3 class="text-center text-muted">
                <el-badge :value="TotalDataEmprend.productos.length" class="item">
                  Publicaciones
          </el-badge>
              
            </h3> 
            </el-col>
          </el-row>

         <div class="row">
            <div class="col-12">
              <div class="row justify-content-around">
                  <div class="col-6 col-md-3" v-for="(producto,index,key) in TotalDataEmprend.productos" :key="key" >
                    <div class="card mb-4 shadow-lg cardPublishHome">
                      <img v-if="producto.images[0].url=='images/product-no-img.png'" :src="'/'+producto.images[0].url" alt="" class="card-img-top">
                      <img v-else :src="producto.images[0].url" alt="" class="card-img-top">

                      <div class="card-body">
                        <p class="card-tittle font-italic">
                            <a href="#">{{producto.nombre}}</a>
                        </p>
                        <p class="card-text text-justify">
                         {{producto.descripcion}}
                        </p>
                        <div class="d-flex justify-content-start align-items-center">

                          <el-button 
                            circle
                            size="medium"
                            type="primary"
                            plain
                            @click="$router.push({path: 'site/products/view/'+producto.id})" icon="el-icon-view"> </el-button>
                            
                          
                
                        </div>
                      </div>
                    </div>
                  </div>
                
                </div>
            </div>
          </div>
    </div>
  </div>
    
    
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
  middleware: 'auth',

  metaInfo () {
    return { title: this.$t('home') }
  },

  computed:{
    ...mapGetters({
      MyEmprendiment: 'emprendiments/emprendiment',

      TotalDataEmprend: 'emprendiments/TotalDataEmprend',
      TotalDataGroup: 'emprendiments/TotalDataGroup',
    }),

    totalPublicaciones(){
      if(this.TotalDataEmprend.productos){
        return this.TotalDataEmprend.productos.length;
      }else{
        return 0;  
      }
    },
  },
  data(){
    return {
      imgUrlProfile: '',
      imgUrlBanner: '',
      id:4,
      limitImage: 4,
      urlUpload: 'http://localhost:8000/api/image/upload',
      urlUploadBanner: 'http://localhost:8000/api/image/upload/banner',
      dialogImageUrl: '',
      dialogImageUrlBanner: '',
      dialogVisible: false,
      dialogVisibleBanner: false,
      
    }
  },

  watch:{
    TotalDataGroup:function(){
        this.imgUrlBanner=this.TotalDataGroup.image_banner.url
        this.imgUrlProfile=this.TotalDataGroup.image_profile.url
    },
    TotalDataEmprend:function(){

      
        this.imgUrlBanner=this.TotalDataEmprend.imageBanner[0].url
        this.imgUrlProfile=this.TotalDataEmprend.imageProfile[0].url
        
    }
      
  },

  async mounted() {
    this.$cargar(false);

    if(this.id==null){
      this.id=0;
    }
    if(this.$route.params.id){
      await this.FetchEmprendimentPartners([this.$route.params.id]);
      if(this.TotalDataEmprend!=null && this.TotalDataEmprend.imageBanner.length>0){
        this.imgUrlBanner = this.TotalDataEmprend.imageBanner[0].url;
      }
      if(this.TotalDataEmprend!=null && this.TotalDataEmprend.imageProfile.length>0){
        this.imgUrlProfile = this.TotalDataEmprend.imageProfile[0].url;
      }
    }else if(this.$role('emprend')){
      await this.FetchEmprendimentPartners([0]);
      if(this.TotalDataEmprend!=null && this.TotalDataEmprend.imageBanner.length>0){
        this.imgUrlBanner = this.TotalDataEmprend.imageBanner[0].url;
      }
      if(this.TotalDataEmprend!=null && this.TotalDataEmprend.imageProfile.length>0){
        this.imgUrlProfile = this.TotalDataEmprend.imageProfile[0].url;
      }
    }else{
      this.fetchGroupData();
      //AQUI IRIA EN CASO DE SER ADMIN
    }

    /*if(this.$route.params.id!=undefined){
      await this.FetchEmprendiment([this.$route.params.id]);
    }else{
      await this.FetchMyEmprendiment();
    }*/

  },

  methods: {
    ...mapActions({
      FetchMyEmprendiment: 'emprendiments/fetchMyEmprendiment',
      FetchEmprendimentPartners: 'emprendiments/fetchEmprendimentPartners',
      fetchGroupData: 'emprendiments/fetchGroupData',
      //FetchEmprendiment: 'emprendiments/fetchEmprendiment'

      UpdateImageProfile: 'images/updateImageProfile',
      UpdateImageBanner: 'images/updateImageBanner',
    }),

    alertas(item){
      console.log('lsadas');
      return true;
    },

    async uploadImage(event) {
      var url = await this.$uploadImage(event);
      this.modelForm.images.push( url );
    },

    handleRemove(file, fileList) {
      console.log(file, fileList);
    },

    handlePictureCardPreview(file) {
      this.dialogImageUrl = file.url;
      this.dialogVisible = true;
    },

    handlePictureCardPreview2(file) {
      this.dialogImageUrlBanner = file.url;
      this.dialogVisibleBanner = true;
    },

    uploadSuccess(res, file) {
      console.log('imagen: ',res);
      this.imgUrlProfile = res;
      this.UpdateImageProfile([this,res]);
    },

    uploadSuccess2(res, file) {
      console.log('imagen: ',res);
      this.imgUrlBanner = res;
      this.UpdateImageBanner([this,res]);
    }

  },

};
</script>


<style lang='css' scoped>
  .card-img-top{
    max-height: 270px;
  }
  .card-text{
      min-height: 60px;
      max-height: 60px;
   }
   #ContenedorProfileImage{
    margin-top: -10%;
    z-index: 100;
   }
   #ContainerPortada{
    /* position: relative; */

   }
  @media (max-width: 768px){
    #ContainerPortada{
      height:  35vh;
      margin-top: 40px;
    }
    .cardPublishHome > .card-body{
        min-height: 150px;
        max-height: 150px;
        font-size: 12px;

    }
  }
  @media (min-width: 768px){
    #ContainerPortada{
      height:  50vh;
    }
    
  }
</style>

<!--
mounted() {
    this.$cargar(false);
  },
  computed:{
    ...mapGetters({
      MyEmprendiment: 'emprendiments/emprendiment',
      TotalDataEmprend: 'emprendiments/TotalDataEmprend',
    }),
    totalPublicaciones(){
      if(this.TotalDataEmprend.productos){
        return this.TotalDataEmprend.productos.length;
      }else{
        return 0;  
      }
      
    }
  },
  data(){
    return {
      imgUrl: 'images/user_default.jpg',
      imgUrlBanner: 'images/protadaEmpred.jpg',
      id:4,
      limitImage: 4,
      urlUpload: 'http://localhost:8000/api/image/upload/emprendimiento',
      dialogImageUrl: '',
      dialogImageUrlBanner: '',
      dialogVisible: false,
      dialogVisibleBanner: false,
      
    }
  },

  mounted() {
    if(this.id==null){
      this.id=0;
    }
    if(this.$route.params.id)
    this.FetchEmprendimentPartners(this.$route.params.id);
    else{
      if(this.$role('emprend'))
      this.FetchEmprendimentPartners(0);
      else{
        //AQUI IRIA EN CASO DE SER ADMIN
      }
    }


    /*if(this.$route.params.id!=undefined){
      this.FetchEmprendiment([this.$route.params.id]);
    }else{
      this.FetchMyEmprendiment();
      
    }*/

  },

  methods: {
    ...mapActions({
      FetchMyEmprendiment: 'emprendiments/fetchMyEmprendiment',
      FetchEmprendimentPartners: 'emprendiments/fetchEmprendimentPartners',
      //FetchEmprendiment: 'emprendiments/fetchEmprendiment'
    }),

    alertas(item){
      console.log('lsadas');
      return true;
    },

    async uploadImage(event) {
      var url = await this.$uploadImage(event);
      this.modelForm.images.push( url );
    },

    handleRemove(file, fileList) {
      console.log(file, fileList);
    },

    handlePictureCardPreview(file) {
      this.dialogImageUrl = file.url;
      this.dialogVisible = true;
    },

    handlePictureCardPreview2(file) {
      this.dialogImageUrlBanner = file.url;
      this.dialogVisibleBanner = true;
    },

    uploadSuccess(res, file) {
      console.log('imagen: ',res);
      this.imgUrl = res;
    },

    uploadSuccess2(res, file) {
      console.log('imagen: ',res);
      this.imgUrlBanner = res;
    }
  },

  -->