<template>
  <div class="container" style="margin-bottom:15%;">

    <!-- <div class="card shadow-lg" :style="'border-color:'+borderColor+';'"> -->
    <div class="card shadow-lg">
      <div v-if="title" :style="' background-color:'+ color+';' " class="card-header">
        <div>
          {{ title }}

          <el-button size="medium" v-if="link" style="float: left;" type="primary" icon="el-icon-back" plain
            @click="$router.go(-1)" circle>
            <!--<fa icon="plus"></fa>  
          {{ $t('add_new') }} -->
          </el-button>
        </div>

        <span v-if="form.length>0">

          <el-button size="medium" v-if="form[0].step=='2'" type="primary" plain @click="actForm()">
            <fa icon="plus"></fa>
            {{ $t('add_new_question') }}
          </el-button>
        </span>
      </div>

      <div class="card-body">
        <slot />
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'Card',

    props: {
      title: {
        type: String,
        default: null
      },
      module: {
        type: String,
        default: null
      },
      link: {
        type: Boolean,
        default: false
      },
      color: {
        type: String,
        default: 'white'
      },
      /*borderColor:{type:String, default:'white'},*/
      form: {
        type: Array,
        default: function () {
          return []
        }
      }
    },

    methods: {
      actForm() {
        let context = this.form[0];

        switch (this.module) {
          case 'polls':
            context.addQuestion();
            break;

          case 'nada':
            // code block
            break;

          default:
            // code block
            break;
        }

      },
    }



  };
</script>

<style scoped>
  .card-header {
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
  }
</style>