<template>
  <el-table fit
    :data="tableData!=null? tableData.filter(data => !search || data.name.toLowerCase().includes(search.toLowerCase())) : []"
    v-loading="Loading" :empty-text="$t('empty_table')" style="width: 100%"
    :default-sort="{prop: 'name', order: 'ascending'}">

    <el-table-column type="index" :index="indexMethod">
    </el-table-column>

    <el-table-column type="expand">
      <template slot-scope="props">
        <div v-if="true">
          <p v-for="(item,index,key) in tableFields" :key="key">
            <strong>{{ item.label }}:</strong> 
            <span v-if="item.prop=='images'">
              <br><img style="width:700px; height:300px;" :src="props.row[item.prop][0].url" alt="" class="img-fluid">
            </span>
            <span v-else>{{ props.row[item.prop] }}</span>
            
          </p>
        </div>
      </template>
    </el-table-column>

    <el-table-column v-for="(item,index,key) in tableFields" :key="key" v-if="item.colum" sortable :label="item.label"
      :prop="item.prop">
    </el-table-column>

    <el-table-column align="right">
      <template slot="header" slot-scope="scope">
        <el-input v-model="search" size="medium" :placeholder="$t('table_search')" />
      </template>

      <template slot-scope="scope">
        <el-button circle size="medium" v-for="(item,key) in type" v-if="$role(item.role)" :key="key"
          :icon="'el-icon-'+ (item.tipo=='respond' ? 'chat-dot-square' : (item.tipo=='banner' ? 'error' : (item.tipo=='confirm' ? 'check' : item.tipo) ) )"
          :type=" item.tipo=='delete' ? 'danger' : item.tipo=='edit'?'warning': item.tipo=='view'?'primary': item.tipo=='respond'? 'success': item.tipo=='banner'?'warning': item.tipo=='confirm'?'success':'default' "
          @click=" 
        item.tipo=='view'    ? handleView(scope.$index, scope.row) : 
        item.tipo=='edit'    ? handleEdit(scope.$index, scope.row) : 
        item.tipo=='delete'  ? handleDelete(scope.$index, scope.row) : 
        item.tipo=='respond' ? handleResponse(scope.$index, scope.row) : 
        item.tipo=='banner' ? handleSuspend(scope.$index, scope.row) : 
        item.tipo=='confirm' ? handleConfirm(scope.$index, scope.row) : 
        '' ">

        </el-button>
      </template>
    </el-table-column>

  </el-table>
</template>

<script>
  import {
    mapGetters,
    mapActions
  } from 'vuex';

  export default {
    name: 'DataTable',

    props: ['tableData', 'tableFields', 'module', 'type', 'context'],

    computed: mapGetters({
      Loading: 'loading/loading'
    }),

    data() {
      return {
        search: '',


      }
    },

    methods: {
      ...mapActions({
        DeleteRequest: 'events/deleteRequest',
        DeleteQuote: 'quotes/deleteQuote',

        DeleteEvent: 'events/deleteEvent',
        DeleteEmprendiment: 'emprendiments/deleteEmprendiment',
        DeleteProduct: 'products/deleteProduct',

        DeleteTransaction: 'transactions/deleteTransaction',
        DeletePoll: 'polls/deletePoll',

        DeleteRole: 'roles/deleteRole',
        DeleteUser: 'users/deleteUser',

        CreateAsistecia: 'events/createAsistecia',
        createInscription: 'events/createInscription',
        Suspend: 'emprendiments/suspend',
      }),

      handleResponse(index, row) {
        /*console.log(this.$route);*/
        this.$router.push({
          path: `${this.module}/response/${row.id}`
        });
      },

      handleView(index, row) {
        /*console.log(this.$route);*/
        this.$router.push({
          path: `${this.module}/view/${row.id}`
        });
      },

      handleEdit(index, row) {
        /*console.log(this.$route);*/
        this.$router.push({
          path: `${this.module}/form/${row.id}`
        });
      },

      handleSuspend(index, row) {
        /*console.log(this.$route);
        this.$router.push({
          path: `${this.module}/form/${row.id}`
        });*/
        this.Suspend([this, row.id_user]);
      },

      handleConfirm(index, row) {
        /*console.log(this.$route);
        this.$router.push({
          path: `${this.module}/form/${row.id}`
        });*/

        this.$confirm(this.$t('confirm_submit'), this.$t('tittle_alert'), {
          confirmButtonText: this.$t('Si'),
          cancelButtonText: this.$t('No'),
          type: 'warning'
        }).then(() => {
          //this.$success('bien por ti mi pana!');
          //this.formats();
          this.createInscription([this, row.id_postulation, this.context.EventData.costo, this.context.$route.params
            .id
          ]);
        });
      },

      handleDelete(index, row) {
        console.log("Modulo: ", this.module);

        this.$confirm(this.$t('confirm_delete'), 'Espere...', {
          confirmButtonText: 'Si',
          cancelButtonText: 'No',
          type: 'warning'
        }).then(() => {
          switch (this.module) {
            case 'requests':
              this.DeleteRequest([row.id]);
              break;

            case 'quotes':
              this.DeleteQuote([row.id]);
              break;

            case 'events':
              this.DeleteEvent([row.id]);
              break;

            case 'emprendiments':
              this.DeleteEmprendiment([row.id]);
              break;

            case 'products':
              this.DeleteProduct([row.id]);
              break;

            case 'transactions':
              this.DeleteTransaction([row.id]);
              break;

            case 'polls':
              this.DeletePoll([row.id]);
              break;

            case 'roles':
              this.DeleteRole([row.id]);
              break;

            case 'users':
              this.DeleteUser([row.id]);
              break;

            default:
              break;
          }
          return true;
        }).catch(() => {
          return false;
        });
      },

      indexMethod(index) {
        return index + 1;
      },

      view(index, row) {
        console.log('waaaao que finooooo wiiiiiiiiiii');
      },

      handleSizeChange(val) {
        console.log(`${val} items per page`);
      },
      handleCurrentChange(val) {
        console.log(`current page: ${val}`);
      },
    },



  };
</script>