<template>
  <div class="container">
    <el-divider class="w-100"></el-divider>
    <div class="row justify-content-between justify-content-md-around">


      <el-button v-if="cancel" size="medium" type="danger" round @click="$cancelForm()">
        {{ $t('cancel') }}
      </el-button>

      <div>
        <el-button v-if="back" size="medium" type="default" round @click="context.step=$backForm(context.step)">
          {{ $t('back') }}
        </el-button>


        <el-button v-if="next" size="medium" type="primary" round @click="$nextForm(context, model)">
          {{ $t('continue') }}
        </el-button>

        <el-button v-if="quote" size="medium" type="primary" round @click="context.step=$sumsIndex(context.step)">
          <fa :icon="['far','calendar-alt']" />
          {{ $t('prog_quote') }}
        </el-button>

        <el-button v-if="requote" size="medium" type="warning" round @click="context.step=$sumsIndex(context.step)">
          <fa :icon="['far','calendar-alt']" />
          {{ $t('reprogram') }}
        </el-button>


        <el-button v-if="submit" size="medium" type="primary" round @click="context.submitForm()">
          {{ $t('save') }}
        </el-button>
      </div>


    </div>
  </div>
  <!-- <el-row type="flex" justify="space-between">
    <el-button v-if="cancel" size="medium" type="danger" round @click="$cancelForm()">
      {{ $t('cancel') }}
    </el-button>

    <div>
      <el-button v-if="back" size="medium" type="default" round @click="context.step=$backForm(context.step)">
        {{ $t('back') }}
      </el-button>


      <el-button v-if="next" size="medium" type="primary" round @click="$nextForm(context, model)">
        {{ $t('continue') }}
      </el-button>

      <el-button v-if="quote" size="medium" type="primary" round @click="context.step=$sumsIndex(context.step)">
        <fa :icon="['far','calendar-alt']" />
        {{ $t('prog_quote') }}
      </el-button>


      <el-button v-if="submit" size="medium" type="primary" round @click="context.submitForm()">
        {{ $t('save') }}
      </el-button>
    </div>
  </el-row> -->
</template>

<script>
  export default {
    name: 'RowFinalForm',

    props: {
      model: {
        type: String,
        default: null
      },

      cancel: {
        type: Boolean,
        default: true
      },
      back: {
        type: Boolean,
        default: false
      },
      next: {
        type: Boolean,
        default: true
      },
      submit: {
        type: Boolean,
        default: false
      },

      quote: {
        type: Boolean,
        default: false
      },

      requote: {
        type: Boolean,
        default: false
      },

      context: {
        type: Object,
        default: function () {
          return {}
        }
      }
    },

    methods: {}


  };
</script>