<template>
  <card :title="$t('events')">
    <el-tabs :tab-position="tabPosition" v-model="step">

      <!-- second tab form -->
      <el-tab-pane v-if="true" name="1" :label="$t('info')" :disabled="$disableTab(context, '1')">
        <el-form
        :model="modelForm"
        :rules="rulesForm"
        :status-icon="true"
        ref="modelForm2"
        label-position="top"
        label-width="120px">

          <el-form-item label="Lugar" prop="lugar">
            <el-input v-model="modelForm.lugar" class="hidden" type="hidden"></el-input>
            <input
            class="el-input el-input__inner"
            ref="autocomplete"
            type="text"
            :v-model="modelForm.lugar2.name"
            onfocus="value = ''"
            placeholder="lugar" />
          </el-form-item>

          <el-row type="flex" justify="space-between">
            <el-col :span="11">
              <el-form-item label="Fecha" prop="fecha">
                <el-date-picker
                v-model="modelForm.fecha"
                format="dd/MM/yyyy"
                value-format="dd/MM/yyyy"
                type="date"
                placeholder="Pick a day">
                </el-date-picker>
              </el-form-item>
            </el-col>
            <el-col :span="11">
              <el-form-item label="Cupos" prop="cupos">
                <el-input v-model.number="modelForm.cupos" placeholder="cupos"></el-input>
              </el-form-item>
            </el-col>
          </el-row>

          <el-row type="flex" justify="space-between">
            <el-col :span="11">
              <el-form-item label="Hora de inicio" prop="hora_inicio">
                <el-time-picker
                arrow-control
                v-model="modelForm.hora_inicio"
                format="HH:mm:ss"
                value-format="HH:mm:ss"
                :picker-ptions="{
                  selectableRange: '00:00:00 - 23:59:59'
                }"
                placeholder="Arbitrary time">
                </el-time-picker>
              </el-form-item>
            </el-col>
            <el-col :span="11">
              <el-form-item label="Hora de finalizacion" prop="hora_fin">
                <el-time-picker
                arrow-control
                size="medium"
                v-model="modelForm.hora_fin"
                format="HH:mm:ss"
                value-format="HH:mm:ss"
                :picker-options="{
                  selectableRange: '00:00:00 - 23:59:59'
                }"
                placeholder="Arbitrary time">
                </el-time-picker>
              </el-form-item>
            </el-col>
          </el-row>

          <el-row type="flex" justify="space-between">
            <el-button size="medium" type="danger" plain @click="$cancelForm()">{{ $t('cancel') }}</el-button>

            <div>
              <el-button size="medium" type="default" plain @click="step=$backForm(step)">{{ $t('back') }}</el-button>

              <el-button size="medium" type="primary" plain @click="$nextForm(context,'modelForm2')">{{ $t('continue') }}</el-button>
            </div>
          </el-row>

        </el-form>
      </el-tab-pane>

      <!-- final tab form -->
      <el-tab-pane v-if="true" name="2" :label="$t('review')" :disabled="$disableTab(context, '2')">
        <div class="row mt-1 mb-2">
          <div class="col-sm-3">
            <label for="">Nombre del evento: </label>
          </div>
          <div class="col">
            {{ modelForm.nombre }}
          </div>
        </div>
        <div class="row mt-1 mb-2">
          <div class="col-sm-3">
            <label for="">Motivo del evento: </label>
          </div>
          <div class="col">
            {{ modelForm.motivo }}
          </div>
        </div>
        <div class="row mt-1 mb-2">
          <div class="col-sm-3">
            <label for="">Precio: </label>
          </div>
          <div class="col">
            {{ modelForm.costo }}
          </div>
        </div>
        <div class="row mt-1 mb-2">
          <div class="col-sm-3">
            <label for="">Gastos previstos: </label>
          </div>
          <div class="col">
            {{ modelForm.gastos }}
          </div>
        </div>
        <div class="row mt-1 mb-2">
          <div class="col-sm-3">
            <label for="">Lugar: </label>
          </div>
          <div class="col">
            {{ modelForm.lugar.name }}
          </div>
        </div>
        <div class="row mt-1 mb-2">
          <div class="col-sm-3">
            <label for="">Fecha: </label>
          </div>
          <div class="col">
            {{ modelForm.fecha }}
          </div>
        </div>
        <div class="row mt-1 mb-2">
          <div class="col-sm-3">
            <label for="">Cupos: </label>
          </div>
          <div class="col">
            {{ modelForm.cupos }}
          </div>
        </div>
        <div class="row mt-1 mb-2">
          <div class="col-sm-3">
            <label for="">Hora de inicio: </label>
          </div>
          <div class="col">
            {{ modelForm.hora_inicio }}
          </div>
        </div>
        <div class="row mt-1 mb-2">
          <div class="col-sm-3">
            <label for="">Hora de finalizacion: </label>
          </div>
          <div class="col">
            {{ modelForm.hora_fin }}
          </div>
        </div>
        <div class="row mt-1 mb-2">
          <div class="col-sm-3">
            <label for="">Imagenes: </label>
          </div>

          <el-row type="flex">
            <div class="block" >
              <span v-if="false" class="demonstration">{{ $t('image') }}</span>

              <el-image
              v-for="(item,key) in modelForm.images"
              :key="key"
              :src="item.url"
              :fit="fit"
              style="width: 100px; height: 100px; margin: 0.5rem;">
                <div slot="placeholder" class="image-slot">
                  {{ $t('loading') }}<span class="dot">...</span>
                </div>
                <div slot="error" class="image-slot">
                  <i class="el-icon-picture-outline"></i>
                </div>
              </el-image>

            </div>
          </el-row>
        </div>

        <el-row type="flex" justify="space-between">
          <el-button size="medium" type="danger" plain @click="$cancelForm()">{{ $t('cancel') }}</el-button>

          <div>
            <el-button size="medium" type="default" plain @click="step=$backForm(step)">{{ $t('back') }}</el-button>

            <el-button size="medium" type="primary" plain @click="submitForm('modelForm4')">{{ $t('save') }}</el-button>
          </div>
        </el-row>
      </el-tab-pane>
    </el-tabs>

  </card>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
  middleware: 'auth',

  components: {

  },

  metaInfo () {
    return { title: this.$t('events') }
  },

  computed: mapGetters({
    Users: 'users/users',
    UsersIds: 'users/usersIds'
  }),

  data(){
      return {
        context: this,

        checkAll: false,
        isIndeterminate: false,
        fit:'cover',

        newDateTime: new Date(2016, 9, 10, 18, 40),
        newDate: '01/01/2019',
        newTime: '09:09:09',

        limitImage: 1,
        urlUpload: 'http://localhost:8000/api/image/upload',

        dialogImageUrl: '',
        dialogVisible: false,

        tabPosition: 'right', // top right
        step: '1',

        modelForm: {
          nombre: null,
          motivo: null,
          costo: null,
          gastos: null,

          lugar: '',
          lugar2: {
            name: null,
            lat: null,
            lng: null,
          },
          cupos: null,
          fecha: this.newDateTime,
          hora_inicio: this.newDateTime,
          hora_fin: this.newDateTime,

          images: [],

          invitados: []
        },

        pickerOptions: {
          start: '00:00',
          step: '00:01',
          end: '23:59',
          //minTime: this.modelForm.hora_inicio,
          selectableRange: '00:00:00 - 23:59:59'
        },

      }
    },



    watch:{
      'modelForm.lugar2.name':function(){
        this.modelForm.lugar = this.modelForm.lugar2.name;
      },
    },

    mounted() {
      if (google != undefined && this.$refs.autocomplete != undefined) {
        const input = this.$refs.autocomplete;
        this.autocomplete = new google.maps.places.Autocomplete(
          input,
        );

        this.autocomplete.addListener('place_changed', () => {
          let place = this.autocomplete.getPlace();
          let ac    = place.address_components;
          let lat   = place.geometry.location.lat();
          let lng   = place.geometry.location.lng();
          let lugar = ac[0]["short_name"];

          this.modelForm.lugar=`${place.name} ${place.vicinity}`;
          this.modelForm.lugar2.name=`${place.name} ${place.vicinity}`;
          this.modelForm.lugar2.lat=lat;
          this.modelForm.lugar2.lng=lng;
        });
      }

      this.FetchUsers();
    },

    methods: {
      ...mapActions({
        CreateEvent: 'events/createEvent',

        FetchUsers: 'users/fetchUsers'
      }),

      handleCheckAllChange(val) {
        this.modelForm.invitados = val ? this.UsersIds : [];
        this.isIndeterminate = false;
      },

      handleCheckedChange(value) {
        let checkedCount = value.length;
        if (this.UsersIds!=null) {
          this.checkAll = checkedCount === this.UsersIds.length;
          this.isIndeterminate = checkedCount > 0 && checkedCount < this.UsersIds.length;
        }
      },

      submitForm(formName) {
        this.$confirm( this.$t('confirm_submit'), this.$t('tittle_alert'), {
          confirmButtonText: this.$t('si'),
          cancelButtonText: this.$t('no'),
          type: 'warning'
        }).then(() => {
          this.CreateEvent([this, this.modelForm]);
        });
      },

      handleRemove(file, fileList) {
        this.modelForm.images = fileList.slice(-this.limitImage)
      },

      handleChange(file, fileList) {
        this.modelForm.images = fileList.slice(-this.limitImage)
      },


    },

};
</script>

<style lang='css' scoped>
  .img_list_emprend{
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
</style>