<template>
  <card :title="$t('quotes')" :type="['view']" :color="'#26ab4c'" style="margin-top:9%;">

    <el-calendar>
      <template
        slot="dateCell"
        slot-scope="{date, data}">
        <p :class="$formatDate(data.day)==GetHoy ? 'is-today' : ''">
          
          {{data.day.split('-').slice(2).join('-')}}
          <!--{{ data.isSelected ? '✔️' : ''}}-->
          <el-badge v-for="(item,index,key) in Quotes" :key="key" v-if="index==data.day" :value="item.length" class="item" :type="$formatDate(data.day)==GetHoy ? 'danger' : $formatDate(data.day)>GetHoy ? 'primary' : 'info' " >

            <el-dropdown :key="index" @command="handleCommand">
              <el-button size="medium" plain>
                {{$t('view_uotes')}}<i class="el-icon-arrow-down el-icon--right"></i>
              </el-button>
              <el-dropdown-menu slot="dropdown">
                <el-dropdown-item v-for="(cita,indice) in item" :key="indice" :command="cita.id" v-if="cita.solicitud!=null&&cita.solicitud!=''"> 
                  {{$formatHour(cita.hora)}} H, <strong>{{cita.solicitud}}</strong>
                </el-dropdown-item>
              </el-dropdown-menu>
            </el-dropdown>

          </el-badge>
        </p>
      </template>
    </el-calendar>

  </card>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
  middleware: 'auth',

  metaInfo () {
    return { title: this.$t(this.$attrs.module) };
  },

  computed: {
    ...mapGetters({
      Quotes: 'quotes/quotes'
    }),

    GetHoy: function () {
      var hoy = new Date();
      return this.$formatDate( hoy );
    }
  },

  data() {
    return {
    }
  },

  mounted() {
    this.FetchQuotes();
  },

  methods: {
    ...mapActions({
    	FetchQuotes: 'quotes/fetchQuotes'
    }),

    handleCommand(idQuote) {
      this.$router.push({path: `quotes/view/${idQuote}`});
    },

    handleClick() {
      alert('button click');
    },
  },

  

};
</script>

<style scoped>
  .is-selected {
    color: #1989FA;
  }

  .el-dropdown-link {
    cursor: pointer;
    color: #409EFF;
  }

  .el-icon-arrow-down {
    font-size: 12px;
  }

  .el-dropdown {
    vertical-align: top;
  }

  .el-dropdown + .el-dropdown {
    margin-left: 15px;
  }

</style>