<template>
  <card :title="$t('quotes')" :color="'#26ab4c'" style="margin-top:9%;">
    <div class="row mt-1 mb-2">
      <div class="col-sm-3">
        <label for=""><strong>{{$t('date')}} :</strong> </label>
      </div>
      <div class="col">
        {{Quote.fecha}}
      </div>
    </div>
    <div class="row mt-1 mb-2">
      <div class="col-sm-3">
        <label for=""><strong>{{$t('hour')}} :</strong> </label>
      </div>
      <div class="col">
        {{Quote.hora}}
      </div>
    </div>
    
    <div class="row mt-1 mb-2">
      <div class="col-sm-3">
        <label for=""><strong>{{$t('request_from')}} :</strong> </label>
      </div>
      <div v-for="(item,key) in Requests" :key="key">
        <div v-if="item.id == Quote.id_request"  class="col">
          {{item.nombre}}
        </div>
      </div>
    </div>

    <el-row>
      <gg-map :lugar="Quote.lugar[0]"/>
    </el-row>

    <!-- <el-row v-if="stateRequest=='RECHAZADA'"> -->
    <el-row v-if="stateRequest=='RECHAZADA'" class="mt-5" type="flex" justify="center" align="middle">
      <el-col :span="12">
        <div class="d-flex justify-content-center flex-column align-items-center">
          <h4><strong>Razón de rechazo.</strong></h4>
          <el-input type="textarea" :rows="3" maxlength="250" show-word-limit v-model="razon">
          </el-input>
          <el-button type="success" size="medium" round class="mt-3" @click="evaluarRequest('RECHAZAR')">Confirmar</el-button>
        </div>
        
      </el-col>
    </el-row>

    <hr>

    <div class="row justify-content-center">
      <el-divider class="w-100"></el-divider>
      <div class="col-md-6">
        <div class="row .justify-content-between justify-content-md-around">
          <el-button size="medium" type="danger" round @click="$cancelForm()">{{ $t('cancel') }}</el-button>

          <div>
            <!-- <el-button size="medium" type="info" round @click="evaluarRequest('RECHAZAR')">{{ $t('reject') }}</el-button> -->
            <el-button size="medium" type="info" round @click="changeState()">{{ $t('reject') }}</el-button>

            <el-button size="medium" type="primary" round @click="evaluarRequest('APROBAR')">{{ $t('autorize') }}</el-button>
            <el-button size="medium" type="warning" round @click="reprogram()">{{ $t('reprogram') }}</el-button>
          </div>
        </div>
      </div>
          
      
    </div>

  </card>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
  middleware: 'auth',

  metaInfo () {
    return { title: this.$t('quotes') }
  },

  computed: mapGetters({
    Quote: 'quotes/quote',

    Requests: 'requests/requests'
  }),

  data(){
  	return {
      razon:null,
      stateRequest:null,
		}
  },

  mounted() {
    this.FetchQuote([this.$route.params.id]);

    this.FetchRequests();
  },

  methods:{
  	...mapActions({
	  	FetchQuote: 'quotes/fetchQuote',

      FetchRequests: 'requests/fetchRequests',


      EvaluateRequest: 'requests/evaluateRequest',
	  }),

    changeState(){
      this.stateRequest="RECHAZADA";
    },

    evaluarRequest(accion){
      this.$confirm( this.$t('confirm_of')+' '+accion+' '+this.$t('this_request'), this.$t('tittle_alert'), {
        confirmButtonText: this.$t('si'),
        cancelButtonText: this.$t('no'),
        type: 'warning'
      }).then(() => {
        this.EvaluateRequest([this, {idRequest: this.$route.params.id, accion: accion, mensaje:this.razon} ]);
      });
    },

    reprogram(){

      this.$router.push(`/site/requests/edit/${true}/${this.$route.params.id}`);
    }

  }


};
</script>
