<template>
  <card :title="$t('content_site')" :color="'#EA7223'" style="margin-top:9%;">
    <el-tabs :tab-position="tabPosition" v-model="step">
      <!-- first tab form -->
      <el-tab-pane v-if="true" name="1" :label="$t('info')" :disabled="$disableTab(context, '1')">
        <el-form :model="modelForm" :rules="rulesForm" :status-icon="true" ref="modelForm1" label-position="top"
          label-width="120px">

          <el-row>
            <el-col :span="12">

              <label for=""><strong>{{$t('language')}}: </strong></label>
              <locale-dropdown />
            </el-col>
          </el-row>
          <el-row type="flex">
            <el-upload ref="upload" list-type="picture-card" :file-list="modelForm.images" :action="urlUpload"
              :auto-upload="true" :limit="limitImage" :on-success="$uploadSuccess" :before-upload="$beforeUpload"
              :on-exceed="$handleExceed" :on-error="$handleError" :on-preview="$handlePictureCardPreview"
              :on-change="handleChange" :on-remove="handleRemove">
              <i class="el-icon-plus"></i>
            </el-upload>
            <el-dialog :visible.sync="dialogVisible">
              <img v-if="dialogImageUrl.search('localhost') > -1" class="img-fluid" :src="dialogImageUrl" alt="">
              <img v-if="dialogImageUrl.search('localhost') > -1" class="img-fluid" :src="'/'+dialogImageUrl" alt="">
            </el-dialog>
          </el-row>
          <el-divider class="w-100"></el-divider>
          <el-row type="flex" justify="center">

            <el-button size="medium" type="primary" round @click="submitForm('modelForm1')">{{ $t('save') }}
            </el-button>
          </el-row>
        </el-form>
      </el-tab-pane>

    </el-tabs>
  </card>
</template>
<script>
  import {
    mapGetters,
    mapActions
  } from 'vuex';
  import LocaleDropdown from '~/components/LocaleDropdown';

  export default {
    middleware: 'auth',

    components: {
      LocaleDropdown
    },

    metaInfo() {
      return {
        title: this.$t('events')
      }
    },

    computed: mapGetters({
      /*Users: 'users/users',*/
      Emprendiments: 'emprendiments/emprendiments',
      EventData: 'events/event',
      UsersIds: 'users/usersIds',
      Images: 'images/images',
    }),
    watch: {
      Images: function () {
        if (this.images) {
          this.modelForm.images = this.Images;
        }
      }
    },

    data() {
      return {
        context: this,

        checkAll: false,
        isIndeterminate: false,
        fit: 'cover',

        newDateTime: new Date(2016, 9, 10),
        newDate: '01/01/2019',
        newTime: '09:09:09',

        limitImage: 10,
        urlUpload: 'http://localhost:8000/api/image/upload',

        dialogImageUrl: '',
        dialogVisible: false,

        tabPosition: 'right', // top right
        step: '1',

        modelForm: {
          nombre: null,
          motivo: null,
          costo: null,
          gastos: null,

          lugar: '',
          lugar2: {
            name: null,
            lat: null,
            lng: null,
          },
          cupos: null,
          fecha: this.newDateTime,
          hora_inicio: this.newDateTime,
          hora_fin: this.newDateTime,

          images: [],

          invitados: []
        },

        pickerOptions: {
          start: '00:00',
          step: '00:01',
          end: '23:59',
          //minTime: this.modelForm.hora_inicio,
          selectableRange: '00:00:00 - 23:59:59'
        },

      }
    },
    watch: {
      'modelForm.lugar2.name': function () {
        this.modelForm.lugar = this.modelForm.lugar2.name;
      },

      EventData: function () {
        console.log(this.EventData);
        this.modelForm.nombre = this.EventData.nombre;
        this.modelForm.costo = this.EventData.costo;
        this.modelForm.gastos = this.EventData.gastos;
        this.modelForm.motivo = this.EventData.motivo;
        this.modelForm.cupos = this.EventData.cupos;
        this.modelForm.fecha = this.$formatDate(this.EventData.fecha);
        this.modelForm.hora_inicio = this.EventData.hora_inicio;
        this.modelForm.hora_fin = this.EventData.hora_fin;

        this.modelForm.lugar = this.modelForm.lugar2.name = this.EventData.lugar[0].name;
        this.modelForm.lugar2.lat = this.EventData.lugar[0].lat;
        this.modelForm.lugar2.lng = this.EventData.lugar[0].lng;

        for (let i = 0; i < this.EventData.invitados.length; i++) {
          this.modelForm.invitados.push(this.EventData.invitados[i].id_user);
        }

        for (let i = 0; i < this.EventData.images.length; i++) {
          this.modelForm.images.push(this.EventData.images[i]);
        }

        console.log(this.modelForm.invitados);
      },


    },
    async mounted() {

      if (google != undefined && this.$refs.autocomplete != undefined) {
        const input = this.$refs.autocomplete;
        this.autocomplete = new google.maps.places.Autocomplete(
          input,
        );

        this.autocomplete.addListener('place_changed', () => {
          let place = this.autocomplete.getPlace();
          let ac = place.address_components;
          let lat = place.geometry.location.lat();
          let lng = place.geometry.location.lng();
          let lugar = ac[0]["short_name"];

          this.modelForm.lugar = `${place.name} ${place.vicinity}`;
          this.modelForm.lugar2.name = `${place.name} ${place.vicinity}`;
          this.modelForm.lugar2.lat = lat;
          this.modelForm.lugar2.lng = lng;
        });
      }

      /*this.FetchUsers();*/
      this.FetchEmprendiments();

      if (this.$route.params.id) {
        this.FetchEvent(this.$route.params.id);
      }
      await this.FetchGallery([]);
      for (var i = 0; i < this.Images.length; i++) {
        this.modelForm.images.push({
          url: this.Images[i].url
        });
      }
      //this.modelForm.images=this.Images;
    },

    methods: {
      ...mapActions({
        CreateEvent: 'events/createEvent',
        FetchEvent: 'events/fetchEvent',
        FetchEmprendiments: 'emprendiments/fetchEmprendiments',
        UpdateEvent: 'events/updateEvent',
        FetchGallery: 'images/fetchImages',
        updateImageGallery: 'images/updateImageGallery',
        /*FetchUsers: 'users/fetchUsers'*/
      }),
      asignacionInvitados() {

      },
      handleCheckAllChange(val) {
        this.modelForm.invitados = val ? this.UsersIds : [];
        this.isIndeterminate = false;
      },

      handleCheckedChange(value) {
        let checkedCount = value.length;
        if (this.UsersIds != null) {
          this.checkAll = checkedCount === this.UsersIds.length;
          this.isIndeterminate = checkedCount > 0 && checkedCount < this.UsersIds.length;
        }
      },

      submitForm(formName) {
        this.$confirm(this.$t('confirm_submit'), this.$t('tittle_alert'), {
          confirmButtonText: this.$t('Si'),
          cancelButtonText: this.$t('No'),
          type: 'warning'
        }).then(() => {
          this.updateImageGallery([this, this.modelForm]);
        });
      },

      handleRemove(file, fileList) {
        this.modelForm.images = fileList.slice(-this.limitImage)
      },

      handleChange(file, fileList) {
        this.modelForm.images = fileList.slice(-this.limitImage)
      },


    },

  };
</script>
<style lang='css'>
  .img_list_emprend {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .card-header {
    color: white;
    text-align: center;
    display: flex;
    justify-content: center !important;
    font-size: 20px;
    height: 100%;
  }
</style>