<template>
  <card :title="$t('your_info')" :color="'#333333'" style="margin-top:9%;">
    <el-row type="flex" justify="center" align="middle">
      <el-col :span="12">
        <el-form label-position="top" :model="form" ref="form">
          <el-form-item >
            <strong><span slot="label">{{$t('name')}}</span></strong>
            <el-input type="text" v-model="form.name"></el-input>
          </el-form-item>
          <el-form-item >
            <strong><span slot="label">{{$t('characteristic')}}</span></strong>
            <el-input type="textarea" :rows="5" v-model="form.caracteristic" class="text-center"></el-input>
          </el-form-item>
          <el-form-item >
            <strong><span slot="label">{{$t('description')}}</span></strong>
            <el-input type="textarea" :rows="5" v-model="form.description" class="text-center"></el-input>
          </el-form-item>
          <el-form-item >
            <strong><span slot="label">{{$t('addres')}}</span></strong>
            <el-input v-model="form.addres" class="hidden" type="hidden"></el-input>
            <input class="el-input el-input__inner" ref="autocomplete" type="text" v-model="form.addres2.name" onfocus="value = ''" />
          </el-form-item>
          <el-form-item>
            <el-row type="flex" justify="center" align="middle">
              <el-col :span="6">
                <el-button @click="update()" type="success" size="small">{{$t('save')}}</el-button>
              </el-col>
              
            </el-row>
          </el-form-item>
        </el-form>
      </el-col>
    </el-row>
        
  </card>
</template>

<script>
import Form from 'vform'
import { mapGetters,mapActions } from 'vuex'

export default {
  scrollToTop: false,

  metaInfo () {
    return { title: this.$t('settings') }
  },
  mounted(){
    this.FetchEmprendimentPartners();

    if (google != undefined && this.$refs.autocomplete != undefined) {
      const input = this.$refs.autocomplete;
      this.autocomplete = new google.maps.places.Autocomplete(
        input,
      );

      this.autocomplete.addListener('place_changed', () => {
        let place = this.autocomplete.getPlace();
        let ac = place.address_components;
        let lat = place.geometry.location.lat();
        let lng = place.geometry.location.lng();
        let lugar = ac[0]["short_name"];

        this.form.addres = `${place.name} ${place.vicinity}`;
        this.form.addres2.name = `${place.name} ${place.vicinity}`;
        this.form.addres2.lat = lat;
        this.form.addres2.lng = lng;
      });
    }
  },
  data: () => ({
    form: {
      name: '',
      caracteristic: '',
      description: '',
      addres: '',
      addres2:{
        id:null,
        name:null,
        lat:null,
        lng:null,
      }
    }
  }),

  computed: mapGetters({
    user: 'auth/user',
    TotalDataEmprend: 'emprendiments/TotalDataEmprend',
  }),

  created () {
    // Fill the form with user data.
    /*this.form.keys().forEach(key => {
      this.form[key] = this.user[key]
    })*/
  },
  watch:{
    TotalDataEmprend:function(){
      
      this.form.name=this.TotalDataEmprend.emp_nombre;
      this.form.caracteristic=this.TotalDataEmprend.caracteristicas;
      this.form.description=this.TotalDataEmprend.descripcion;
      this.form.addres=this.TotalDataEmprend.direccion[0].name;
      this.form.addres2.name=this.TotalDataEmprend.direccion[0].name;
      this.form.addres2.lat=this.TotalDataEmprend.direccion[0].lat;
      this.form.addres2.lng=this.TotalDataEmprend.direccion[0].lng;
      this.form.addres2.id=this.TotalDataEmprend.direccion[0].id_place;
      
    }
  },

  methods: {
    ...mapActions({
        FetchEmprendimentPartners: 'emprendiments/fetchEmprendimentPartners',
        UpdateEmprendData:'emprendiments/updateEmprendimentData',
      }),
    update () {
      /*const { data } = await this.form.patch('/api/settings/profile')*/

      //this.$store.dispatch('auth/updateUser', { user: data })
      if(this.TotalDataEmprend.direccion[0].name === this.form.addres){
        delete this.form.addres2;
        this.form.addres='';
      }
      this.UpdateEmprendData([this,this.form,this.TotalDataEmprend.emp_id])
    }
  }
};
</script>
