<template>
  <card :title="$t('your_info')" :color="'#333333'" style="margin-top:9%;">
    <form @submit.prevent="update" @keydown="form.onKeydown($event)">
      <alert-success :form="form" :message="$t('info_updated')" />

      <!-- Name -->
      <div class="form-group form-row">
        <div class="offset-sm-3 col-sm-6">
          <label for="name">{{ $t('name') }}</label>
        
          <input id="name" v-model="form.name" :class="{ 'is-invalid': form.errors.has('name') }" class="form-control" type="text" name="name">
          <has-error :form="form" field="name" />
        </div>
          
        
      </div>

      

      <!-- Description of emprendiment -->
      <div class="form-group form-row">
        <div class="offset-sm-3 col-sm-6">
          <label for="description">{{ $t('description') }}</label>
        
          <input id="description" v-model="form.description" :class="{ 'is-invalid': form.errors.has('description') }" class="form-control" type="text" name="description">
          <has-error :form="form" field="description" />
        </div>
          
        
      </div>

      <!-- Reason social -->
      <div class="form-group form-row">
        <div class="offset-sm-3 col-sm-6">
          <label for="socialReason">{{ $t('mision') }}</label>
        
          <input id="socialReason" v-model="form.mision" :class="{ 'is-invalid': form.errors.has('socialReason') }" class="form-control" type="text" name="socialReason">
          <has-error :form="form" field="socialReason" />
        </div>
          
        
      </div>

      <!-- Caracteristic of emprendiment -->
      <div class="form-group form-row">
        <div class="offset-sm-3 col-sm-6">
          <label for="caracteristic">{{ $t('vision') }}</label>
        
          <input id="caracteristic" v-model="form.vision" :class="{ 'is-invalid': form.errors.has('caracteristic') }" class="form-control" type="text" name="caracteristic">
          <has-error :form="form" field="caracteristic" />
        </div>
          
        
      </div>

      <!-- Addres -->
      <div class="form-group form-row">
        <div class="offset-sm-3 col-sm-6">
          <label for="address">{{ $t('addres') }}</label>
        
          <input id="address" v-model="form.addres" :class="{ 'is-invalid': form.errors.has('addres') }" class="form-control" name="addres">

          <GAutoCcomplete />

          <has-error :form="form" field="addres" />
        </div>
          
        
      </div>

      <!-- Fecha -->
      <div class="form-group form-row">
        <div class="offset-sm-3 col-sm-6">
          <label for="fecha_constitucion">{{ $t('creation_date') }}</label>
        
          <input id="fecha_constitucion" v-model="form.fecha_constitucion" :class="{ 'is-invalid': form.errors.has('fecha_constitucion') }" class="form-control" name="fecha_constitucion">

          <GAutoCcomplete />

          <has-error :form="form" field="addres" />
        </div>
          
        
      </div>

      <!-- Submit Button -->
      <div class="form-group row d-flex justify-content-center">
        
          <v-button :loading="form.busy" type="success">
            {{ $t('update') }}
          </v-button>
        
      </div>
    </form>
    
  </card>
</template>

<script>
import Form from 'vform'
import { mapGetters,mapActions } from 'vuex'

export default {
  scrollToTop: false,

  metaInfo () {
    return { title: this.$t('settings') }
  },

  data: () => ({
    form: new Form({
      name: '',
      description: '',
      mision: '',
      vision: '',
      addres: '',
      fecha_constitucion:'',
    })
  }),

  computed: mapGetters({
    user: 'auth/user',
    TotalDataGroup: 'emprendiments/TotalDataGroup',
  }),

  created () {
    // Fill the form with user data.
    this.form.keys().forEach(key => {
      this.form[key] = this.user[key]
    })
    this.fetchGroupData();
  },
  watch:{
    TotalDataGroup:function(){
      this.form.name=this.TotalDataGroup.nombre;
      this.form.mision=this.TotalDataGroup.mision;
      this.form.vision=this.TotalDataGroup.vision;
      this.form.description=this.TotalDataGroup.descripcion;
      this.form.fecha_constitucion=this.TotalDataGroup.fecha_constitucion;
    }
  },
  methods: {
    async update () {
      const { data } = await this.form.patch('/api/settings/profile')

      //this.$store.dispatch('auth/updateUser', { user: data })
    },
    ...mapActions({
        FetchMyEmprendiment: 'emprendiments/fetchMyEmprendiment',
        FetchEmprendimentPartners: 'emprendiments/fetchEmprendimentPartners',
        fetchGroupData: 'emprendiments/fetchGroupData',
    })
  }
};
</script>
