parterns<template>
  <card :title="$t('parterns')">
    <form @submit.prevent="update" @keydown="form.onKeydown($event)">
      <alert-success :form="form" :message="$t('info_updated')" />

      <!-- Name -->
      <div class="form-group form-row">
        <div class="offset-sm-3 col-sm-6">

          <label for="name">{{ $t('name') }}</label>
          
          <input id="name" v-model="form.name" :class="{ 'is-invalid': form.errors.has('name') }" class="form-control" type="text" name="name">
          <has-error :form="form" field="name" />
        </div>
          
        
      </div>

      <!-- Surname -->
      <div class="form-group form-row">
        <div class="offset-sm-3 col-sm-6">
          <label for="surname">{{ $t('surname') }}</label>
        <input v-model="form.surname" id="surname" :class="{ 'is-invalid': form.errors.has('surname') }" class="form-control" type="text" name="surname">
          <has-error :form="form"  field="surname" />  
        </div>

      </div>

      <!-- Date birthday -->
      <div class="form-group form-row">
        <div class="offset-sm-3 col-sm-6">
          <label for="dateNac">{{ $t('dateNac') }}</label>  
          <input v-model="form.dateNac" id="dateNac" :class="{ 'is-invalid': form.errors.has('dateNac') }" class="form-control" type="text" name="dateNac">
          <has-error :form="form" field="dateNac" />
        </div>
        
      </div>

      <!-- Document id -->
      <div class="form-group form-row">
        <div class="offset-sm-3 col-sm-6">
          
          <label for="cedula">{{ $t('cedula') }}</label>
          <input id="cedula" v-model="form.cedula" :class="{ 'is-invalid': form.errors.has('cedula') }" class="form-control" type="text" name="cedula">
          <has-error :form="form" field="cedula" />
        </div>
        
      </div>

      <!-- Sex -->
      <div class="form-group form-row">
        <div class="offset-sm-3 col-sm-6">
          <label for="sex">{{ $t('sex') }}</label>
          <select id="sex" name="sex" v-model="form.sex" :class="{ 'is-invalid': form.errors.has('sex') }" class="form-control" >
              <option value="">Masculino</option>
              <option value="">Femenino</option>
          </select>
            
            <has-error :form="form" field="sex" />  
        </div>
        
      </div>

      <!-- Phone -->
      <div class="form-group form-row">
        <div class="offset-sm-3 col-sm-6">
          <label for="phone">{{ $t('phone') }}</label>
          
            <input id="phone" v-model="form.phone" :class="{ 'is-invalid': form.errors.has('phone') }" class="form-control" type="text" name="phone">
            <has-error :form="form" field="phone" />
        </div>
          
      </div>

      <!-- Addres -->
      <div class="form-group form-row">
        <div class="offset-sm-3 col-sm-6">
          <label for="address">{{ $t('addres') }}</label>
        
          <input id="address" v-model="form.addres" :class="{ 'is-invalid': form.errors.has('addres') }" class="form-control" name="addres">

          <GAutoCcomplete />

          <has-error :form="form" field="addres" />  
        </div>
        
        
      </div>

      <!-- instruction_grade -->
      <div class="form-group form-row">
        <div class="offset-sm-3 col-sm-6">
          <label >{{ $t('instruction_grade') }}</label>
        
          
          <select v-model="form.addres" :class="{ 'is-invalid': form.errors.has('instruction_grade') }" class="form-control" name="grade" id="">
            <option value="">Primaria</option>
            <option value="">Secundaria</option>
            <option value="">TSU</option>
            <option value="">Licenciado</option>
            <option value="">Postgrado</option>
            <option value="">Maestria</option>
            <option value="">Doctorado</option>
          </select>

          <GAutoCcomplete />

          <has-error :form="form" field="instruction_grade" />  
        </div>
        
      </div>


      <!-- Submit Button -->
      <div class="form-group row d-flex justify-content-center">
        
          <v-button :loading="form.busy" type="success">
            {{ $t('update') }}
          </v-button>
        
      </div>

    </form>
  </card>
</template>

<script>
import Form from 'vform'
import { mapGetters } from 'vuex'

export default {
  scrollToTop: false,

  metaInfo () {
    return { title: this.$t('settings') }
  },

  data: () => ({
    form: new Form({
      name: '',
      surname: '',
      dateNac: '',
      cedula: '',
      sex: '',
      phone: '',
      addres: '',
      instruction_grade: '',
    })
  }),

  computed: mapGetters({
    user: 'auth/user'
  }),

  created () {
    // Fill the form with user data.
    this.form.keys().forEach(key => {
      this.form[key] = this.user[key]
    })
  },

  methods: {
    async update () {
      const { data } = await this.form.patch('/api/settings/profile')

      //this.$store.dispatch('auth/updateUser', { user: data })
    }
  }
};
</script>
