<template>
  <card :title="$t('your_password')" :color="'#67C23A'" style="margin-top:9%;" >
    <form @submit.prevent="update" @keydown="form.onKeydown($event)">
      <alert-success :form="form" :message="$t('password_updated')" />

      <!-- Password -->
      <div class="form-group form-row">
        <div class="offset-sm-3 col-sm-6">
          <label>{{ $t('new_password') }}</label>
        
          <input v-model="form.password" :class="{ 'is-invalid': form.errors.has('password') }" class="form-control" type="password" name="password">
          <has-error :form="form" field="password" />
        </div>
      </div>

      <!-- Password Confirmation -->
      <div class="form-group form-row">
        <div class="offset-sm-3 col-sm-6">
          <label>{{ $t('confirm_password') }}</label>
        
          <input v-model="form.password_confirmation" :class="{ 'is-invalid': form.errors.has('password_confirmation') }" class="form-control" type="password" name="password_confirmation">
          <has-error :form="form" field="password_confirmation" />
        </div>
      </div>

      <!-- Submit Button -->
      <div class="form-group row d-flex justify-content-center">
          <v-button :loading="form.busy" type="success">
            {{ $t('update') }}
          </v-button>
        
      </div>
    </form>
  </card>
</template>

<script>
import Form from 'vform'

export default {
  scrollToTop: false,

  metaInfo () {
    return { title: this.$t('settings') }
  },

  data: () => ({
    form: new Form({
      password: '',
      password_confirmation: ''
    })
  }),

  methods: {
    async update () {
      await this.form.patch('/api/settings/password')

      this.form.reset()
    }
  }
};
</script>
