<template>
  <card :title="$t('your_info')">
    <form @submit.prevent="update" @keydown="form.onKeydown($event)">
      <alert-success :form="form" :message="$t('info_updated')" />

      <!-- Name -->
      <!-- <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">{{ $t('name') }}</label>
        <div class="col-md-7">
          <input v-model="form.name" :class="{ 'is-invalid': form.errors.has('name') }" class="form-control" type="text" name="name">
          <has-error :form="form" field="name" />
        </div>
      </div> -->
      <div class="form-group form-row">
        <div class="offset-sm-3 col-sm-6">
        </div>
        <label for="name" >{{ $t('name') }}</label>
        <input id="name" v-model="form.name" :class="{ 'is-invalid': form.errors.has('name') }" class="form-control" type="text" name="name">
          <has-error :form="form" field="name" />
        
      </div>

      <!-- Surname -->
      <div class="form-group form-row">
        <div class="offset-sm-3 col-sm-6">
          <label for="surname">{{ $t('surname') }}</label>
          <input id="surname" v-model="form.surname" :class="{ 'is-invalid': form.errors.has('surname') }" class="form-control" type="text" name="surname">
            <has-error :form="form" field="surname" />
        </div>
          
        
      </div>

      <!-- Date birthday -->
      <div class="form-group form-row">
        <div class="offset-sm-3 col-sm-6">
          <label for="dateNac">{{ $t('dateNac') }}</label>
          
          <input id="dateNac" v-model="form.dateNac" :class="{ 'is-invalid': form.errors.has('dateNac') }" class="form-control" type="text" name="dateNac">
          <has-error :form="form" field="dateNac" />
        </div>
          
        
      </div>

      <!-- Document id -->
      <div class="form-group form-row">
        <div class="offset-sm-3 col-sm-6">
          <label for="cedula">{{ $t('cedula') }}</label>
        
          <input id="cedula" v-model="form.cedula" :class="{ 'is-invalid': form.errors.has('cedula') }" class="form-control" type="text" name="cedula">
          <has-error :form="form" field="cedula" />
        </div>
          
        
      </div>

      <!-- Sex -->
      <div class="form-group form-row">
        <div class="offset-sm-3 col-sm-6">
          <label for="sex" >{{ $t('sex') }}</label>
        
          <input id="sex" v-model="form.sex" :class="{ 'is-invalid': form.errors.has('sex') }" class="form-control" type="text" name="sex">
          <has-error :form="form" field="sex" />
        </div>
          
        
      </div>

      <!-- Phone -->
      <div class="form-group form-row">
        <div class="offset-sm-3 col-sm-6">
          <label for="phone">{{ $t('phone') }}</label>
        
          <input id="phone" v-model="form.phone" :class="{ 'is-invalid': form.errors.has('phone') }" class="form-control" type="text" name="phone">
          <has-error :form="form" field="phone" />  
        </div>
          
        
      </div>

      <!-- Addres -->
      <div class="form-group form-row">
        <div class="offset-sm-3 col-sm-6">
          <label for="address" >{{ $t('addres') }}</label>
        
          <input id="address" v-model="form.addres" :class="{ 'is-invalid': form.errors.has('addres') }" class="form-control" name="addres">

          <GAutoCcomplete />

          <has-error :form="form" field="addres" />  
        </div>
          
        
      </div>


      <!-- Submit Button -->
      <div class="form-group row d-flex justify-content-center">
        
          <v-button :loading="form.busy" type="success">
            {{ $t('update') }}
          </v-button>
        
      </div>

    </form>
  </card>
</template>

<script>
import Form from 'vform'
import { mapGetters } from 'vuex'

export default {
  scrollToTop: false,

  metaInfo () {
    return { title: this.$t('settings') }
  },

  data: () => ({
    form: new Form({
      name: '',
      surname: '',
      dateNac: '',
      cedula: '',
      sex: '',
      phone: '',
      addres: '',
    })
  }),

  computed: mapGetters({
    user: 'auth/user'
  }),

  created () {
    // Fill the form with user data.
    this.form.keys().forEach(key => {
      this.form[key] = this.user[key]
    })
  },

  methods: {
    async update () {
      const { data } = await this.form.patch('/api/settings/profile')

      //this.$store.dispatch('auth/updateUser', { user: data })
    }
  }
};
</script>
