<template>
  <!--<div class="row">
    <div class="col-md-3">
      <card :title="$t('profile')" class="settings-card">
        <ul class="nav flex-column nav-pills">
          
          <li v-for="tab in tabs" :key="tab.route" v-if="$role(tab.role)" class="nav-item">
            <router-link :to="{ name: tab.route }" class="nav-link" active-class="active">
              <fa :icon="tab.icon" fixed-width />
              {{ $t(tab.name) }}
            </router-link>
          </li>
          
        </ul>
      </card>
    </div>

    <div class="col-md-9">
      <transition name="fade" mode="out-in">
        <router-view />
      </transition>
    </div>
  </div>-->
  <div class="container" id="siteContainerMenu">
    <div class="row">
      <div class="col-md-12">
        <div class="card shadow-lg" v-if="true"> 
          <div class="card-header" v-if="$route.matched[1].name=='profile'">
            <div class="row justify-content-md-center">
              <h4 style="text-transform:uppercase">{{$t('settings')}}.</h4>
            </div>
          </div>
          <div class="card-body">
            <div class="container">
              <div class="row justify-content-md-around">
                <div class="col-md-3 mt-md-5" v-for="(tab,key) in tabs" :key="key" v-if="$role(tab.role)">
                                
                  <router-link :to="{ name: tab.route }" class="text-dark text-center d-flex justify-content-md-center align-items-md-center flex-md-column">
                      
                        <img :src="$imgUrl(tab.icon)" alt="" style="width:50%;" >
                    
                    <div class="mt-md-3">
                        <span style="color:#38383b; text-transform:uppercase">{{ $t(tab.name) }}</span>
                    </div>

                    <!-- <div :style="'border-color:'+ColorsArray[key].color+';'" class="d-flex justify-content-md-center align-items-md-center iconMenuContainer HoverMenu"> -->

                    <!-- <div :style="'background-color:'+ColorsArray[key].color+';'" class="d-flex justify-content-md-center align-items-md-center iconMenuContainer">
                      
                        <fa :icon="tab.icon" style="width:80%; height:80%;" />
                    </div>
                    <div class="mt-md-3">
                        <span style="color:#38383b; text-transform:uppercase">{{ $t(tab.name) }}</span>
                    </div> -->
                  
                  </router-link>
                  
                </div>
              </div>
              
            </div>
          </div>
        </div>
        
      </div>
    </div>
    
    <div class="row justify-content-md-center mt-4" style="z-index:10;">
      <div class="col-md-12">
        
          <transition name="fade" mode="out-in">
            <router-view />
          </transition>
          
        
        
      </div>
    </div>
  </div>

</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
  middleware: 'auth',

  computed: mapGetters({
    tabs: 'module/tabs_profile'
  }),

  data(){
    return {
      notify: true,
      ColorsArray: [{
        modulo: 'event',
        color: '#EA7223'
        },
        {
          modulo: 'polls',
          color: '#0091ea'
        },
        {
          modulo: 'transaction',
          color: '#67C23A' 
        },
        {
          modulo: 'product',
          color: '#E6A23C'
        },
        {
          modulo: 'request',
          color: '#bb3bea'
        },
        {
          modulo: 'reports',
          color: '#e33026'
        },
        {
          modulo: 'quotes',
          color: '#EA7223'
        },
        {
          modulo: 'emprendiment',
          color: '#EA7223'
        },

      ],
    }
  },

};
</script>

<style lang='css' scope>
  .settings-card .card-body {
    padding: 0;
  }
  .item {
    margin-top: 10px;
    margin-right: 40px;
  }
  .in{
    display: block !important;
  }
 
  #navbarToggleExternalContent1{
    width: 40%;
    z-index: 1000;
    position: fixed;
    right: 0px;
    background-color: white;
    box-shadow: 0px 0px 5px 5px rgba(100,100,100,.6);
     min-height:50vh;
     margin-top: 1%;

  }
  .navbar-toggler-icon{
    width: 30px;
    height: 30px;
  }
  .HoverMenu:hover{
    color: black;
    /* box-shadow: 0px 4px 10px 10px rgba(100,100,100,.5); */
    background: #0096f7;
    
  }
  
  #siteContainerMenu{
    margin-top: 8%;
  }
  
  .iconMenuContainer{
    border-radius:50%; width:100px; height:100px; padding:10px;

    border-bottom: 5px solid #0045a6;
    box-shadow: 6px 6px 6px #999;
    cursor: pointer;
    transition: all 0.2s ease 0s;

    /* background-color:white;
    border: solid 10px; */
    /* box-shadow: 0px 2px 2px 2px; */
    /* box-shadow: 6px 6px 6px #999; */

  }
  .card-header{
    background-color: #333333;
    color: white;
  }
  @media (max-width: 768px){

    #navbarToggleExternalContent1{
      width: 100%;
    }
  }
</style>
