<template>
  <card :title="$t('roles')">
    <div> form </div>

    <el-checkbox
    :indeterminate="isIndeterminate" 
    v-model="checkAll" 
    @change="handleCheckAllChange">
      {{ $t('mark_all')}}
    </el-checkbox>

    <div style="margin: 15px 0;"></div>
    <el-checkbox-group v-model="checkeds" @change="handleCheckedChange">
      <el-checkbox v-for="(permiso,index,key) in Permissions" :label="permiso" :key="key">
        {{permiso}}
      </el-checkbox>
    </el-checkbox-group>

  </card>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
  //middleware: 'auth',

  metaInfo () {
    return { title: this.$t('roles') }
  },

  computed: mapGetters({
    PermissionsRole: 'roles/permissionsRole',
    Permissions: 'roles/permissions'
  }),

  data() {
    return {
      checkAll: false,
      isIndeterminate: false,
      checkeds: [],
    };
  },

  async mounted() {
    this.FetchPermissions();
  	if (this.$route.params.id!=undefined) {
    	await this.FetchPermissionsRole([this.$route.params.id]);
      this.checkeds=this.PermissionsRole;
  	}
  },

  methods: {
    ...mapActions({
      FetchPermissionsRole: 'roles/fetchPermissionsRole',
      FetchPermissions: 'roles/fetchPermissions'
    }),
    handleCheckAllChange(val) {
      this.checkeds = val ? this.Permissions : [];
      this.isIndeterminate = false;
    },
    handleCheckedChange(value) {
      let checkedCount = value.length;
      if (this.Permissions!=null) {
	      this.checkAll = checkedCount === this.Permissions.length;
	      this.isIndeterminate = checkedCount > 0 && checkedCount < this.Permissions.length;
      }
    },
  }

};
</script>
