<template>
  <card :title="$t('roles')">

    <DataTable :tableData="Roles" :tableFields="fields" :module="$attrs.module" :type="typeButtons" />

  </card>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
  middleware: 'auth',

  metaInfo () {
    return { title: this.$t('roles') };
  },

  computed: mapGetters({
    Roles: 'roles/roles'
  }),

  data() {
    return {
      fields: [
        {
          prop: 'name',
          label: 'Rol',
          colum: true
        },
        {
          prop: 'description',
          label: 'Description',
          colum: true
        },
      ],
      
      typeButtons: [
        {
          tipo: 'edit',
          role: ['super']
        },
      ],
    }
  },

  mounted() {
    this.FetchRoles();
  },

  methods: mapActions({
  	FetchRoles: 'roles/fetchRoles'
  }),

};
</script>
