<template>
  <card :title="$t('roles')">
    <div> view </div>
  </card>
</template>

<script>
export default {
  middleware: 'auth',

  metaInfo () {
    return { title: this.$t('roles') }
  }
};
</script>
