<template>
  <div class="default-layout">
    <navbar class="fixed-top" />

    <!-- <div class="container layout-container-default"> -->
    <div class="layout-container-default">
      <child />
    </div>
  </div>
</template>

<script>
  import Navbar from '~/components/Navbar'

  export default {
    name: 'DefaultLayout',

    components: {
      Navbar
    },

    mounted() {
      this.$getNotify();
    },

  };
</script>

<style lang='css'>
  .layout-container-default {
    /*margin-top: 4.5%;  */
    /* margin-top: 55px; */
  }
</style>