<template>
  <div id="LoginBackground">
    <!-- <div style="background-color:rgba(0,0,0,.6); min-height:94vh;"> -->
    <div >
        <div class="container">
          <div class="row" >
          <div class="col-md-12">
            <div class="row" id="ContainerCardLogin">
              <div class="col-lg-8 m-auto" >
                <card :title="$t('login')" :color="'#384265'">
                  <div class="d-flex justify-content-center">
                    <div style="border-radius:50%; width:100px; height:100px; padding:1em;" >
                      <fa :icon="['fas','user-circle']" style="width:100%; height:100%;" />    
                    </div>
                    
                  </div>
                  <form @submit.prevent="login" name="formLogin" id="formLogin" @keydown="form.onKeydown($event)">
                    <!-- Email -->
                    <div class="form-group row">
                      <label class="col-md-3 col-form-label text-md-right">{{ $t('email') }}</label>
                      <div class="col-md-7">
                        <input v-model="form.email" :class="{ 'is-invalid': form.errors.has('email') }" class="form-control" type="email" name="email">
                        <has-error :form="form" field="email" />
                      </div>
                    </div>

                    <!-- Password -->
                    <div class="form-group row">
                      <label class="col-md-3 col-form-label text-md-right">{{ $t('password') }}</label>
                      <div class="col-md-7">
                        <input v-model="form.password" :class="{ 'is-invalid': form.errors.has('password') }" class="form-control" type="password" name="password">
                        <has-error :form="form" field="password" />
                      </div>
                    </div>

                    <!-- Remember Me -->
                    <div class="form-group row">
                      <div class="col-md-3" />
                      <div class="col-md-7 d-flex">
                        <checkbox v-model="remember" name="remember">
                          {{ $t('remember_me') }}
                        </checkbox>

                        <router-link :to="{ name: 'password.request' }" class="small ml-auto my-auto">
                          {{ $t('forgot_password') }}
                        </router-link>
                      </div>
                    </div>

                    <div class="form-group row">
                      <div class="col-md-7 offset-md-3 d-flex">
                        <!-- <div class="d-flex align-items-center justify-content-center w-100">
                          <el-button round type="primary">{{ $t('login') }} </el-button>  
                        </div> -->
                        <!-- Submit Button -->
                        
                        <v-button :loading="form.busy" >
                          {{ $t('enter') }}
                        </v-button>

                        <!-- GitHub Login Button -->
                        <login-with-github />
                      </div>
                    </div>
                  </form>
                </card>
              </div>  
            </div>
          </div>
            
        </div>    
        </div>
    </div>
  </div>
</template>

<script>
import Form from 'vform'
import LoginWithGithub from '~/components/LoginWithGithub'

export default {
  middleware: 'guest',

  components: {
    LoginWithGithub
  },

  metaInfo () {
    return { title: this.$t('login') }
  },

  data: () => ({
    form: new Form({
      email: '',
      password: ''
    }),
    remember: false
  }),

  mounted() {
    this.$cargar(false);
  },

  methods: {
    async login () {
      // Submit the form.
      const { data } = await this.form.post('/api/login');

      // Save the token.
      this.$store.dispatch('auth/saveToken', {
        token: data.token,
        remember: this.remember
      });

      // Fetch the user.
      await this.$store.dispatch('auth/fetchUser');
      console.log('usuario login: ',this.$user());
      if (this.$user().status=='INACTIVO') {
        this.logout();
        this.$error('Su emprendimiento se encuentra suspendido!');
      }else{
        // Redirect home.
        this.$router.push({ name: 'site' });
      }
    },

    async logout() {
        // Log out the user.
        await this.$store.dispatch('auth/logout');

        // Redirect to login.
        this.$router.push({ name: 'login' });
    }
  }
};
</script>

<style scoped>
  #LoginBackground{
     /* background-image: url('../../../images/body_landing.jpg'); */
     
    /* background-image: url($rutaImagesBody+'body_landing.jpg'); */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    min-height: 100vh;
  }
   
  .card-header{
    background-color: #384265;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center!important;
    font-size: 20px;
    height: 100%;
  }
  .el-card__header {
    
    /* APP.CSS COMENTADO */
    /* y en card css */
  }
  #ContainerCardLogin{
     margin-top:10%;
    }
  @media (max-width:768px ){
    #ContainerCardLogin{
      margin-top:23%;
    }
  }
</style>